<div class="main-drive">
    <div>

        <div class="table-sec">
            <div class="card-header pl-0 pr-0 pb-1 grid-header">
                <div class="d-flex">
                    <div class="flex-grow-auto position-relative page-title-info">
                        <h5 class="m-0 font-weight-bold d-inline-block page-name text-primary">Drive</h5>
                        <div class="clearfix"></div>
                        <div class="table-filter dropdown drive-view" style="min-width: 100px;">
                            <div class="dropdown-toggle small d-inline text-primary" data-toggle="dropdown"> <span
                                    class="selected-view">My Uploads</span></div>
                            <div class="dropdown-menu animated--fade-in sharing-view-dropdown">
                                <a class="dropdown-item team-uploads active" data-viewtype="myUploads">My Uploads</a>
                                <a class="dropdown-item shared-items" data-viewtype="shareWithMe">Shared with me</a>
                                <a class="dropdown-item shared-items" data-viewtype="shareByMe">Shared by me</a>
                            </div>
                        </div>
                    </div>
                    <div class="flex-grow-auto main-drive-spacebar hide pl-4">
                        <p> </p>
                        <div class="progress" style="height: 4px;">
                            <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                    </div>
                    <div class="flex-grow-1 text-right page-top-button">
                        <!-- <div class="btn btn-link request-space">Request More Space</div> -->
                        <div class="btn btn-sm btn-outline-primary newfolder">New Folder</div>
                        <div class="btn btn-sm btn-primary ml-2 upload-button">Upload
                            <form enctype="multipart/form-data">
                                <input name="file" class="btn btn-sm btn-primary ml-2 uploadFile" type="file"
                                    multiple></input>

                            </form>

                        </div>


                    </div>
                </div>

            </div>

            <div class="card-body p-0 grid-body">
                <div class="d-flex pl-0 pr-0 pt-0 view-controls border-bottom">
                    <div class="flex-grow-auto d-none">
                        <span class="small pt-2"><span class="total-count"></span> <span
                                class="consumed-size"></span></span>
                    </div>
                    <nav aria-label="breadcrumb" class="flex-grow-auto">
                        <ol class="breadcrumb pt-2 pb-0 pl-0 pr-0 bg-white mb-0 mt-1">
                            <!-- <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item"><a href="#">Library</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Data</li> -->
                        </ol>
                    </nav>
                    <div class="text-right flex-grow-1 gird-button-list mb-2 mt-1">
                        <div class="search-in-list">
                            <input type="text" class="form-control form-control-sm txtSearchInGrid"
                                placeholder="Search In List">
                        </div>
                        <!-- <button class="btnSearch btn btn-sm btn-outline-secondary ml-1 hide-edit" data-toggle="tooltip"
                            title="Search">
                            <i class="fas fa-search"></i>
                        </button> -->
                        <!-- <button class="btnRefresh btn btn-sm btn-outline-secondary ml-1 hide-edit" data-toggle="tooltip"
                            title="" data-original-title="Refresh">
                            <i class="fas fa-sync-alt"></i>
                        </button> -->
                        <!-- <button class="btnDownload btn btn-sm btn-outline-secondary ml-1 download-btn d-none"
                            data-toggle="tooltip" data-original-title="Download Selected Files">
                            <i class="fas fa-download"></i>
                        </button> -->
                        <button class="btnDelete btn btn-sm btn-outline-secondary ml-1 hide-edit d-none"
                            data-toggle="tooltip" title="" data-original-title="Delete Selected List">
                            <i class="fas fa-trash-alt"></i>
                        </button>

                        <button class="removeSharingbtn btn btn-sm btn-outline-secondary ml-1 hide-edit d-none"
                            data-toggle="tooltip" title="" data-original-title="Remove Sharing">
                            <i class="fas fa-trash"></i>
                        </button>

                        <button class="btn btn-sm btn-outline-secondary ml-1 d-none move-btn" title="Move Item"
                            data-toggle="tooltip" data-original-title="Move Item" data-target="#moveTo">
                            <i class="fa fa-file-import"></i>
                        </button>
                        <button class="btn btn-sm btn-outline-secondary d-none ml-1 copy-btn" data-toggle="tooltip"
                            title="Copy Item">
                            <i class="fa fa-copy"></i>
                        </button>
                        <button class="btn btn-sm btn-outline-secondary ml-1 d-none internal-share-btn"
                            data-toggle="tooltip" title="Share Internally">
                            <i class="fa fa-share-alt"></i>
                        </button>
                        <button class="btn btn-sm btn-outline-secondary ml-1 external-share-btn d-none"
                            data-toggle="tooltip" title="Share Externally">
                            <i class="fa fa-external-link-alt"></i>
                        </button>
                        <button class="btnFilter btn btn-sm btn-secondary ml-1 hide-edit show-list-view"
                            data-toggle="tooltip" title="Icon View">
                            <i class="fas fa-th"></i>

                        </button>

                        <button class="btnFilter btn btn-sm btn-outline-secondary ml-1 hide-edit show-grid-view"
                            data-toggle="tooltip" title="Grid View">
                            <i class="fas fa-list"></i>
                        </button>

                    </div>
                </div>

                <div class="table-responsive grid-table-container main-drive-list d-none" style="min-height: 200px;">
                    <table class="grid-table table table-bordered" style="width: 100%;">
                        <thead>
                            <tr class="head-row">
                                <th style="width: 20px;">
                                    <div></div>
                                </th>
                                <th class="" style="width:350px;max-width:350px;">
                                    <div class="d-flex"
                                        style="width:350px;padding-top:.29rem; padding-bottom:.29rem; word-break:break-all ;">
                                        <div class="field-text">Name</div>
                                        <div class="field-icon">
                                            <div class="sort"></div>
                                            <!-- <i class="fa fa-ellipsis-v text-wrap dropdown-toggle" data-toggle="dropdown"></i>  -->
                                            <div class="dropdown-menu text-wrap-dropdown"></div>
                                            <div class="grip"></div>
                                        </div>
                                    </div>
                                </th>
                                <th style="width:200px;">
                                    <div class="d-flex" style="width:200px;">
                                        <div class="field-text">Size</div>
                                        <div class="field-icon">
                                            <div class="sort"></div>
                                            <!-- <i class="fa fa-ellipsis-v text-wrap dropdown-toggle" data-toggle="dropdown"></i>  -->
                                            <div class="dropdown-menu text-wrap-dropdown"></div>
                                            <div class="grip"></div>
                                        </div>
                                    </div>
                                </th>
                                <th style="width: 200px;">
                                    <div class="d-flex" style="width: 200px;">
                                        <div class="field-text">Date</div>
                                        <div class="field-icon">
                                            <div class="sort"></div>
                                <th style="width: 200px;">
                                    <div class="d-flex" style="width: 200px;">
                                        <div class="field-text">Owner</div>
                                        <div class="field-icon">
                                            <div class="sort"></div>
                                            <!-- <i class="fa fa-ellipsis-v text-wrap dropdown-toggle" data-toggle="dropdown"></i> -->
                                            <div class="dropdown-menu text-wrap-dropdown"></div>
                                            <div class="grip"></div>
                                        </div>
                                    </div>
                                </th>
                                <th style="width: 200px;">
                                    <div class="d-flex" style="width: 200px;">

                                    </div>
                                </th>
                                <!-- <th style="width: 99px;"><div class="d-flex" style="width: 90px;"></div></th> -->
                            </tr>
                        </thead>
                        <tbody class="grid-view-content">
                            <!-- <tr>
                                    <td><div><label class="lblChk"><input type="checkbox" class="chkSelect"><span class="checkmark"></span></label></div></td>
                                    <td><div class="grid-cell pr-15 align-items-center" data-type="text"><div class="pt-1 pb-1"><img src="../../images/icon-pdf.png" style="width: 24px; height: 24px;"/></div><div class="flex-grow-1 pl-2">TEST GHS</div></div></td>
                                    <td class="group-child"><div class="grid-cell">3.4 Mb</div></td>
                                    <td>
                                        <div>13 Aug 2019</div>
                                    </td>
                                    <td>
                                        <div class="position-relative">
                                                <i class="fas fa-ellipsis-v btn btn-sm ml-4 text-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                                                <div class="dropdown-menu dropdown-menu-right shadow">
                                                       <button class="dropdown-item" type="button" data-toggle="modal" data-target="#shareFile">Share</button>
                                                       <button class="dropdown-item" type="button">Rename</button>
                                                       <button class="dropdown-item" type="button">Download</button>
                                                       <button class="dropdown-item" type="button">Delete</button>
                                                     </div>
                                        </div>             
                                    </td>
                                    </tr> -->
                        </tbody>
                    </table>
                </div>
                <div class="main-drive-grid position-relative">
                    <!-- <nav aria-label="breadcrumb">
                        <ol class="breadcrumb pt-2 pb-2 pl-0 pr-0 border-bottom border-secondary">
                          
                        </ol>
                    </nav> -->
                    <div class="list-scroll">
                        <div class="main-drive-folder mt-4">
                            <h5 class="mb-3 font-weight-bold text-primary folder-head d-none">
                                Folders
                            </h5>
                            <div class="row ml-n3 mr-n3 folder-section">



                            </div>
                        </div>

                        <div class="main-drive-file mt-4">
                            <h5 class="mb-3 text-primary font-weight-bold file-head  d-none">Files</h5>
                            <div class="row ml-n3 mr-n3 drivecontent">


                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-12 p-5 welcome-drive d-none">

                    <i class="fas fa-cloud-upload-alt text-primary icon"></i>
                    <p class="pt-4 text"><strong>Welcome, Your drive is ready!</strong><br> Try uploading a file.
                    </p>
                </div>
            </div>
            <!-- <nav class="mt-3 float-left">
                    <div class="paging"></div>
                </nav> -->


        </div>
    </div>
</div>




<!-- <div class="upload-section shadow-lg d-none">
    <div class="card border-0">
        <div class="card-header bg-primary text-white upload-count">
            <span class="files-count"> </span>

            <button type="button" class="btn btn-sm close text-white close-progressbar d-none" data-dismiss="modal"
                aria-label="Close">
                <span aria-hidden="true" data-placement="left" data-toggle="tooltip"
                    data-original-title='Close'>×</span>
            </button>
            <button class="btn btn-sm bg-none text-white float-right minimise-progressbar"><i class="fas fa-minus"
                    data-placement="left" data-toggle="tooltip" data-original-title="Minimise"></i></button>
            <button class="btn btn-sm bg-none text-white float-right maximise-progressbar d-none"><i
                    class="fas fa-angle-up" data-toggle="tooltip" data-original-title="Maximise"></i></button>
        </div>
        <div class="card-body p-0 upload-container">
            <ul>

            </ul>
        </div>
    </div>
</div> -->
<div class="upload-section shadow-lg d-none">
    <div class="card border-0">
        <!-- <div class="card-header bg-primary text-white upload-count position-relative p-0">
            <span class="files-count p-3 d-inline-block"> </span>

            <button type="button"
                class="btn btn-sm close text-white close-progressbar d-none position-relative p-2 pb-3 pt-3"
                data-dismiss="modal" aria-label="Close" data-placement="top" data-toggle="tooltip"
                data-original-title='Close'>
                <i class="fas fa-times-circle small"></i>
            </button>



            <button type="button"
                class="btn btn-sm close text-white close-progressbar d-none position-relative p-2 pb-3 pt-3"
                data-dismiss="modal" aria-label="Close" data-placement="top" data-toggle="tooltip"
                data-original-title='Close'>
                <i class="fas fa-minus-circle small"></i>
            </button>

            <button
                class="btn btn-sm bg-none text-white float-right minimise-progressbar position-relative p-2 pb-3 pt-3"
                data-placement="top" data-toggle="tooltip" data-original-title="Minimise"><i
                    class="fas fa-minus-circle"></i></button>
            <button
                class="btn btn-sm bg-none text-white float-right maximise-progressbar d-none position-relative p-2 pb-3 pt-3"
                data-toggle="tooltip" data-original-title="Maximise"><i class="fas fa-angle-up"></i></button>
        </div> -->
        <div class="card-header bg-primary text-white upload-count position-relative p-0 d-flex">
            <span class="files-count pt-3 pb-3 pl-3 pr-1 d-inline-block mr-auto"> </span>


            <button
                class="btn  bg-none text-white float-right maximise-progressbar position-relative pl-2 pr-0 pb-3 pt-3"
                data-toggle="tooltip" data-original-title="Maximise"><i class="fas fa-chevron-up"></i>
            </button>
            <button type="button" class="btn  text-white minimise-progressbar position-relative pl-2 pb-3 pt-3 pr-0"
                data-dismiss="modal" aria-label="Close" data-placement="top" data-toggle="tooltip"
                data-original-title="Minimise" aria-describedby="tooltip977248">
                <i class="fas fa-minus small"></i>
            </button>

            <button type="button" class="btn mr-2 text-white close-progressbar position-relative pl-2 pb-3 pt-3 pr-2"
                data-dismiss="modal" aria-label="Close" data-placement="top" data-toggle="tooltip"
                data-original-title="Close">
                <i class="fas fa-times small"></i>
            </button>


        </div>
        <div class="card-body p-0 upload-container">
            <ul>

            </ul>
        </div>
    </div>
</div>
</div>
<!-- <div class="context-menu drive-context-menu file">
            <div class="dropdown-menu animated--fade-in drive-rightclick-menu shadow d-none">
                <a class="dropdown-item view-activity" data-key="delete">Delete</a>
                <a class="dropdown-item edit-activity" data-key="rename">Rename</a>
                <a class="dropdown-item delete-activity download" data-key="download">Download</a>
                <a class="dropdown-item delete-activity" data-key="copy">Copy</a>
                <a class="dropdown-item delete-activity" data-key="move">Move</a>
            </div>
            <div class="card-body p-0 upload-container">
                <ul>

                </ul>
            </div>
        </div> -->
</div>

</div>
<div class="context-menu drive-context-menu file">
    <div class="dropdown-menu animated--fade-in drive-rightclick-menu shadow d-none">
        <a class="dropdown-item view-activity" data-key="delete">Delete</a>
        <a class="dropdown-item edit-activity" data-key="rename">Rename</a>
        <a class="dropdown-item edit-activity" data-key="remove">Remove</a>
        <!--Remove sharing -->
        <a class="dropdown-item delete-activity" data-key="share-internally">Share Internally</a>
        <a class="dropdown-item delete-activity" data-key="share-externally">Share Externally</a>
        <a class="dropdown-item delete-activity download" data-key="download">Download</a>
        <a class="dropdown-item delete-activity" data-key="copy">Copy</a>
        <a class="dropdown-item delete-activity" data-key="move">Move</a>
    </div>
</div>

<div class="bg-dark position-fixed action-prompt rounded d-none position-fixed shadow-lg hide copy-container">
    <div class="p-3 pl-3 text copy"> </div>
    <div class="p-3 btn text-white btn-dark btn-sm close-copy-container d-none">x</div>
</div>


<div class="modal fade move-modal" data-backdrop="static" data-keyboard="false" id="moveTo">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header move-modal-header position-relative">
                <h4 class="modal-title text-primary">Move To</h4>
                <button type="button" class="close close-move-modal" data-toggle="tooltip"
                    data-original-title='Close'>&times;</button>
                <nav aria-label="breadcrumb" class="flex-grow-auto move-breadcrumb">
                    <!-- <ol class="breadcrumb pl-3 pr-3 pt-2 pb-2 m-0 rounded-0">
                <li class="breadcrumb-item" data-folderid="root"><a></a></li>
            </ol> -->
                </nav>
            </div>

            <!-- Modal body -->
            <div class="modal-body move-file-container p-0">

                <div class="list-group move-folder-list">
                    <!-- <a href="#" class="list-group-item d-flex align-items-center list-group-item-action">
                    <i class="fas fa-folder fa-2x mr-2"></i> Cras justo odio <i class="fa fa-chevron-right ml-auto"></i>
                </a>
                <a href="#" class="list-group-item d-flex align-items-center list-group-item-action active"><i class="fas fa-folder fa-2x mr-2"></i> Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item d-flex align-items-center list-group-item-action"><i class="fas fa-folder fa-2x mr-2"></i> Morbi leo risus</a>
                <a href="#" class="list-group-item d-flex align-items-center list-group-item-action"><i class="fas fa-folder fa-2x mr-2"></i> Porta ac consectetur ac</a>
                <a href="#" class="list-group-item d-flex align-items-center list-group-item-action"><i class="fas fa-folder fa-2x mr-2"></i> Vestibulum at eros</a> -->
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer d-none">
                <button type="button" class="btn btn-primary list-move-btn">Move</button>
            </div>

        </div>
    </div>

    <!-- Modal footer -->
    <!-- <div class="modal-footer">
                <button type="button" class="btn btn-primary list-move-btn">Move</button>
            </div> -->

</div>
</div>
</div>

</div>