<div class="setup-panel">
    <div class="search-controls row">

        <div class="col-sm-12">
           
            <div class="row admin-controls-list">
                <div class="col-sm-3 box text-center pt-4 control-item link-page"  page-name="SetupObjectList">
                    <div class="card"><div class="card-body"><div class="fa fa-cog mb-4 mt-4 fa-4x"></div><h4 class="card-title mb-4">Object</h4></div></div>
                </div>
            </div>
        </div>
    </div>
   
  </div>