<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th data-field="Name">Name</th>
                <th data-field="DisplayName">Display Name</th>
                <th width="100"></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
