<div>
    <div class="card mb-2 top-bar">
        <div class="card-header bg-white">
            <div class="d-flex">
                <div class="flex-grow-1">
                    <h4 class="m-0 font-weight-bold d-inline-block object-name text-primary"></h4>
                    <div class="clearfix"></div>
                </div>
                
            </div>
        </div>
    </div>

    <table class="table table-bordered field-list">
        <thead>
            <tr>
                <th data-field="Name">Name</th>
                <th data-field="DisplayName">Display Name</th>
                <th data-field="UIDataType">Data Type</th>
                <th width="100"></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
