<div class="col-lg-7 col-md-10 col-sm-12 mt-4 mail-content">
    <div class="mail-box-header bg-light subject">
        <div class="float-right mail-print-btn">
            <!-- <a  class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Reply" aria-describedby="tooltip268552"> -->
            <!-- <i class="fa fa-reply"></i> Reply</a> -->
            <!-- <a  class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Reply All"><i class="fa fa-reply-all"></i></a> -->
            <a class="btn btn-primary btn-sm ml-1 printemail" data-toggle="tooltip" data-placement="top" title="Print"> <i class="fa fa-print text-white"></i> </a>
        </div>
        <h2> </h2>
        <div class="mail-tools tooltip-demo m-t-md emailaddress">
            <h5><span class="font-normal text-dark ">From: </span> <span class="text-secondary from"></span> <span class="float-right font-normal  text-secondary emaildate small"></span></h5>
            <h5>
                
                <span class="font-normal text-dark ">To: </span> <span class="text-secondary to"></span>

                <!-- <div class="dropdown  CCBCC d-none">
                    <button class="btn dropdown-toggle text-center p-1" type="button" id="dropdownMenu2"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2" x-placement="bottom-start"
                        style="position: absolute; will-change: transform; width: 400px; top: 0px; left: 0px; transform: translate3d(0px, 29px, 0px);">
                        <div class="p-2">
                            <div class="d-flex ">
                                <h5 class="text-sm mb-1 CC d-none">Cc: <span class="font-semibold"> </span></h5>
                            </div>
                            <div class="d-flex">
                                <p class="text-sm mb-1 BCC d-none">Bcc: <span class="font-semibold"> </span></p>
                            </div>
                        </div>
                    </div>
                </div> -->
            </h5>
            <div class="CCBCC d-none">
                    <h5 class="text-sm CC text-secondary d-none"><span class="text-dark">Cc: </span><span class="font-semibold"></span></h5>
                    <h5 class="text-sm mb-1 BCC text-secondary d-none"><span class="text-dark">Bcc: </span><span class="font-semibold"></span></h5>
            </div>
        </div>
    </div>
    <div class="mail-box">
        <div class="mail-body main-mail-body bg-white">
            <iframe style="width: 100%; border: none;"   class="mail-body-frame"></iframe>
            <!-- <p>
                Hello Jonathan!
                <br>
                <br>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                took a galley of type and scrambled it to make a type <strong>specimen book.</strong>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                essentially unchanged.
                </p>
            <p>
                It was popularised in the 1960s with the release <a href="#" class="text-navy">Letraset sheets</a>  containing Lorem Ipsum passages, and more recently with desktop publishing software
                like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            <p>
                There are many variations of passages of <strong>Lorem Ipsum</strong>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of.
            </p> -->
        </div>
        <div class="mail-attachment bg-white d-none">
            <p>
                <span class="AttachmentCount"><i class="fa fa-paperclip"></i> </span>
         
            </p>

            <ul class="fileName">
              
            </ul>
        </div>
        <div class="mail-body text-right tooltip-demo">
            <!-- <a class="btn btn-sm btn-white" href="mail_compose.html"><i class="fa fa-reply"></i> Reply</a> -->
            <!-- <a class="btn btn-sm btn-white" href="mail_compose.html"><i class="fa fa-arrow-right"></i> Forward</a> -->
            <!-- <button title="" data-placement="top" data-toggle="tooltip" type="button" data-original-title="Print" class="btn btn-sm btn-white"><i class="fa fa-print"></i> Print</button> -->
            <!-- <button title="" data-placement="top" data-toggle="tooltip" data-original-title="Trash" class="btn btn-sm btn-white"><i class="fa fa-trash-o"></i> Remove</button> -->
        </div>
        <div class="clearfix"></div>
    </div>
</div>