// Import Custom SB Admin 2 Variables (Overrides Default Bootstrap Variables)
@import "variables.scss";

// Import Bootstrap
@import "bootstrap/bootstrap.scss";

// Import Custom SB Admin 2 Mixins and Components
@import "mixins.scss";
@import "global.scss";
@import "utilities.scss";

// Custom Components
@import "dropdowns.scss";
@import "navs.scss";
@import "buttons.scss";
@import "cards.scss";
@import "charts.scss";
@import "login.scss";
@import "error.scss";
@import "footer.scss";


$pixel: 4px;

.dotted-icon {
    height: $pixel * 8;
    width: $pixel * 8;
    transition: background 0.3s;
    cursor: pointer;
    transform: translate3d(-50%, -50%, 0px);
    
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0px);
        height: $pixel;
        width: $pixel;
        background-color: $blue;
        box-shadow: ($pixel * -2) ($pixel * -2) 0 0 $blue,       // Top left
                    ($pixel * 0) ($pixel * -2) 0 0 $blue,        // Top middle
                    ($pixel * 2) ($pixel * -2) 0 0 $blue,        // Top right
                    ($pixel * -2) ($pixel * 0) 0 0 $blue,        // Middle left
                    ($pixel * 2) ($pixel * 0) 0 0 $blue,         // Middle right
                    ($pixel * -2) ($pixel * 2) 0 0 $blue,        // Bottom left
                    ($pixel * 0) ($pixel * 2) 0 0 $blue,         // Bottom middle
                    ($pixel * 2) ($pixel * 2) 0 0 $blue;         // Bottom right
        transition: box-shadow 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
    }
    
}
.dotted-menu {
    position:relative;
    top: 18px;
    left: 6px;
   
}
.cross{
    &:after {
        box-shadow: ($pixel * 0) ($pixel * -3) 0 0 $blue,        // Top left
                    ($pixel * 0) ($pixel * -1.5) 0 0 $blue,      // Top middle
                    ($pixel * 3) ($pixel * 0) 0 0 $blue,         // Top right
                    ($pixel * -1.5) ($pixel * 0) 0 0 $blue,      // Middle left
                    ($pixel * 1.5) ($pixel * 0) 0 0 $blue,       // Middle right
                    ($pixel * -3) ($pixel * 0) 0 0 $blue,        // Bottom left
                    ($pixel * 0) ($pixel * 1.5) 0 0 $blue,       // Bottom middle
                    ($pixel * 0) ($pixel * 3) 0 0 $blue;         // Bottom right
    }
    transform: rotate(45deg);
    top:0;
    left:-10px;
}


.file-type{
	position:relative;

    input[type="radio"]{
	    position:absolute;
	    right:0;
	    opacity:0;
    }
    label{
	    display:inline-block;
	    width:110px;
	    text-align:center;
	    margin-right:10px;
	    transition:all .3s;
	    cursor:pointer;
        padding:.5rem .25rem;
        border-radius:.25rem;
        border:1px solid $gray-800;
        &:hover{
	        background:$green;
            color:$white;
            border-color:$green;
        }
        &.active{
	        background:$green;
            color:$white;
            border-color:$green;
        }
    }
}


.styled-checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  // Box.
  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
  }

  // Box hover
  &:hover + label:before {
    background: #f35429;
  }
  
  // Box focus
  &:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  // Box checked
  &:checked + label:before {
    background: #f35429;
  }
  
  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 
      2px 0 0 white,
      4px 0 0 white,
      4px -2px 0 white,
      4px -4px 0 white,
      4px -6px 0 white,
      4px -8px 0 white;
    transform: rotate(45deg);
  }
}
