<div class="store-container">
    <div class="card mb-2 top-bar">
      <div class="card-header bg-white">
        <div class="d-flex">
          <div class="flex-grow-1 d-flex">
            <div>
              <div class="bg-light p-2 mr-2">
                <img src="" height="50" class="object-picture">
              </div>
  
            </div>
            <div>
              <h4 class="mb-1 font-weight-bold d-inline-block object-name text-primary"></h4>
              <div class="clearfix"></div>
              <p class="mb-1 object-industry"></p>
            </div>
  
          </div>
          <div class="flex-grow-1 text-right page-top-button">
            <button class="btn btn-sm btn-primary ml-2 btn-edit-object" data-restriction="Modify"></button>
            <p class="mt-1 mb-0 text-secondary"></p>
            <a href="#">View Detail</a>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-8">
        <div class="row tiles">
          <div class="col-md-4 col-sm-6 mb-2" snippet-name="Activity">
            <div class="card border-left-success h-100">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total Licence</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800 result">5</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 mb-2" snippet-name="AccountContactRelation">
            <div class="card border-left-info h-100">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Remaining Licence</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800 result">1</div>
                  </div>
  
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 mb-2" snippet-name="Branch">
            <div class="card border-left-warning h-100">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Plan Type</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800 result">Paid</div>
                  </div>
                 
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="card mt-3 object-detail-tab main-panel">
          <nav>
            <div class="nav nav-tabs" role="tablist">
              <a class="nav-item nav-link " data-pagename="AppDetail">Details</a>
              <a class="nav-item nav-link active" data-pagename="AppPrice">Price</a>
              <a class="nav-item nav-link" data-pagename="AppConfigure">Configuration</a>
              <a class="nav-item nav-link" data-pagename="AppMapping">Account Mapping</a>
              <a class="nav-item nav-link" data-pagename="AppHelp">Help</a>
            </div>
          </nav>
          <div class="tab-content">
            <div class="tab-pane " data-pagename="AppDetail">
              <div class="p-3">
                <p class="text-large">
                  The Advanced Round Robin extension improves on Zoho CRM’s built in round robin feature. It allows you to customise how many leads each salesperson should get, works with leads added via the API and allows personalised lead assignment notifications.
                </p>
                <h6 class="font-weight-bold">Key Features:</h6>
                <p>
                  Allows you to customise how many leads each sales person should get. For example if one salesperson is a top performer, you might want to give them 80pc of the leads, whereas a part time rep should only get 20pc of the leads. Also, if you find you have an argument among salespeople as to who got assigned what lead, you can use our Round Robin History feature to see the truth.
  With personalised lead assignment notifications, you can specify which email address lead assignment notifications should go to.
  
                </p>
                <p>
                  Works with leads added via the API - the standard round robin doesn’t work with leads added via the API so you’re out of luck if you are using something like NinjaForms or Gravity Forms to capture leads from your website.
                </p>
                <p>
                  Factors in converted leads: our assignment logic is based on how many leads each salesperson was assigned originally even if they subsequently assign the lead to someone else or convert the lead into a potential
                </p>
              </div>
            </div>
            <div class="tab-pane fade show active p-3" data-pagename="AppPrice">
              <h5 class="mt-2 mb-3">Opera Integration Plans & Pricing</h5>
              <div class="card-deck">
                <div class="card border-primary">
                  <div class="card-body text-center pb-3 pt-4">
                    <h5 class="card-title text-primary font-weight-bold mb-2">Up to 5 properties</h5>
                    <p class="text-secondary">
                      30 day free trial period
                    </p>
                    <p class="pt-2 pb-2">
                      <a href="#" class="btn btn-sm btn-primary d-inline-block disabled">Current Plan</a>
                    </p>
                    <p class="mb-1">
                      You have subscribed for 5 properties  
                    </p>
                    <p>
                      <a href="#">
                        Cancel Subscription
                      </a>
                    </p>
                  </div>
                </div>
  
                <div class="card border-danger">
                  <div class="card-body text-center pb-3 pt-4">
                    <h5 class="card-title text-secondary font-weight-bold mb-2">Up to 5 properties</h5>
                    <p class="text-danger">
                      Your plan has been expired
                    </p>
                    <p class="pt-2 pb-2">
                      <a href="#" class="btn btn-sm btn-secondary d-inline-block" data-toggle="modal" data-target="#purchase">Renew £15.00 / Month</a>
                    </p>
                    <p class="mb-1 text-secondary">
                      You have subscribed for 5 properties  
                    </p>
                    <p>
                      <a href="#">
                        Cancel Subcription
                      </a>
                    </p>
                  </div>
                </div>
  
                <div class="card">
                  <div class="card-body text-center pb-3 pt-4">
                    <h5 class="card-title text-primary font-weight-bold mb-2">Up to 5 properties</h5>
                    <p class="text-secondary">
                      30 day free trial period
                    </p>
                    <p class="pt-2 pb-2">
                      <a href="#" class="btn btn-sm btn-primary d-inline-block">£20.00 / Month</a>
                    </p>
                    <p class="mb-1">
                      Pay annually and save 20%  
                    </p>
                    <p>
                      <a href="#">
                        £192.00 / Yearly
                      </a>
                    </p>
                  </div>
                </div>
  
                <div class="card">
                  <div class="card-body text-center pb-3 pt-4">
                    <h5 class="card-title text-primary font-weight-bold mb-2">6-100 properties</h5>
                    <p class="text-secondary">
                      &nbsp;
                    </p>
                    <p class="pt-2 pb-2">
                      <a href="#" class="btn btn-sm btn-primary d-inline-block">£15.00 / Month</a>
                    </p>
                    <p class="mb-1">
                      Pay annually and save 20%  
                    </p>
                    <p>
                      <a href="#">
                        £146.00 / Yearly
                      </a>
                    </p>
                  </div>
                </div>
              </div>
  
            </div>
            <div class="tab-pane fade p-3" data-pagename="AppHelp">Help</div>
            <div class="tab-pane fade p-3" data-pagename="AppConfigure">Configuration</div>
            <div class="tab-pane fade p-3" data-pagename="AppMapping">Mapping</div>
  
          </div>
        </div>
      </div>
  
      <div class="col-md-4 object-detail-right">
        <div>
          <div class="card mt-3 collapse-expend activity-chart loading-container">
            <div class="card-header py-3 bg-white">
              <h6 class="m-0 font-weight-bold collapse-head">
                
              </h6>
            </div>
            <div class="card-body collapse show">
  
            </div>
  
          </div>
  
  
        </div>
      </div>
  
    </div>
  
    <div class="modal fade" id="purchase" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Opera PMS Sync subscription detail </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label>No. of properties licence</label>
                      <select class="form-control form-control-sm">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </div>
                    <div class="form-group mt-2">
                      <label>Credit cards</label>
                      <div class="custom-control custom-radio">
                        <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked="" required="">
                        <div class="custom-control-label" for="credit">
                          <strong>Sbi Card ****0123</strong>
                        </div>
                        <div>
                          <div class="text-secondary">User Name</div>
                          <div class="text-secondary small">Expires 09/2020</div>
                          <p class="d-inline-block mt-1 mb-2"><input type="text" placeholder="Enter CVV" class="form-control form-control-sm d-inline-block"></p>
                          <p><a href="#">Update</a></p>
                        </div>
                        
                        <input id="newCard" name="paymentMethod" type="radio" class="custom-control-input">
                        <div class="custom-control-label" for="newCard">
                          <strong>Add Debit/Credit Card</strong>
                        </div>
                      </div>
                      
                      <div class="d-block my-3">
                        <div class="custom-control custom-radio">
                          <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked="" required="">
                          <label class="custom-control-label" for="credit">Sbi Card ****0123</label>
                        </div>
                        <div class="custom-control custom-radio">
                          <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required="">
                          <label class="custom-control-label" for="debit">Debit card</label>
                        </div>
                        <div class="custom-control custom-radio">
                          <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required="">
                          <label class="custom-control-label" for="paypal">PayPal</label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group mt-2">
                      
                    </div>
                    <div class="form-group">
                      <label>Remind me before renewing</label>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="remind-renew">
                        <label class="custom-control-label text-black" for="remind-renew">Receive a reminder on 28 Apr 2020, 3 days before my renewal date. </label>
                      </div>
                    </div>
                    <div class="form-group">
                      <a href="#">Have a promo code?</a>
                      <label class="sr-only" for="inlineFormInputGroup">Username</label>
        <div class="input-group mb-2">
          
          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">
          <div class="input-group-prepend">
            <div class="input-group-text">Apply</div>
          </div>
        </div>
      </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6"></div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary">subscribe</button>
          </div>
        </div>
      </div>
    </div>
  
  </div>