<div class="store-container">
  <div class="card mb-2 top-bar">
    <div class="card-header bg-white">
      <div class="d-flex">
        <div class="flex-grow-1 d-flex">
          <div>
            <div class="bg-light p-2 mr-2">
              <img src="/images/logo-push.png" height="50" class="object-picture">
            </div>

          </div>
          <div>
            <h4 class="mb-1 font-weight-bold d-inline-block object-name text-primary">Optimiser data backup</h4>
            <div class="clearfix"></div>
            <p class="mb-1">Sales & Services | Company name </p>
          </div>

        </div>
        <div class="flex-grow-1 text-right page-top-button">
          <button class="btn btn-sm btn-primary ml-2 btn-edit-object" data-restriction="Modify">Take a Backup</button>
          <p class="mt-1 mb-0 text-secondary"> £20 / 2GB per day<br> <a href="#">View Detail</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="row tiles">
        <div class="col-md-4 col-sm-6 mb-2" snippet-name="Activity">
          <div class="card border-left-success h-100">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total Backup</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800 result">1</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 mb-2" snippet-name="AccountContactRelation">
          <div class="card border-left-info h-100">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Removed Backup</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800 result">0</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 mb-2" snippet-name="Branch">
          <div class="card border-left-warning h-100">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Current Plan</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800 result">&pound;20/2GB per day</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card mt-3 object-detail-tab main-panel">
        <nav>
          <div class="nav nav-tabs" role="tablist">
            <a class="nav-item nav-link " data-pagename="AppDetail">Details</a>
            <a class="nav-item nav-link" data-pagename="AppPrice">Price</a>
            <a class="nav-item nav-link active" data-pagename="AppConfigure">Backups</a>
            <a class="nav-item nav-link" data-pagename="AppHelp">Help</a>
          </div>
        </nav>
        <div class="tab-content">
          <div class="tab-pane " data-pagename="AppDetail">
            <div class="p-3">
              <p class="text-large">
                The Advanced Round Robin extension improves on Zoho CRM’s built in round robin feature. It allows you to
                customise how many leads each salesperson should get, works with leads added via the API and allows
                personalised lead assignment notifications.
              </p>
              <h6 class="font-weight-bold">Key Features:</h6>
              <p>
                Allows you to customise how many leads each sales person should get. For example if one salesperson is a
                top performer, you might want to give them 80pc of the leads, whereas a part time rep should only get
                20pc of the leads. Also, if you find you have an argument among salespeople as to who got assigned what
                lead, you can use our Round Robin History feature to see the truth.
                With personalised lead assignment notifications, you can specify which email address lead assignment
                notifications should go to.

              </p>
              <p>
                Works with leads added via the API - the standard round robin doesn’t work with leads added via the API
                so you’re out of luck if you are using something like NinjaForms or Gravity Forms to capture leads from
                your website.
              </p>
              <p>
                Factors in converted leads: our assignment logic is based on how many leads each salesperson was
                assigned originally even if they subsequently assign the lead to someone else or convert the lead into a
                potential
              </p>
            </div>
          </div>
          <div class="tab-pane fade p-3 " data-pagename="AppPrice">
            <h5 class="mt-2 mb-3">Optimiser data backup  Plans & Pricing</h5>
            <div class="card-deck">
              <div class="card">
                <div class="card-body text-center pb-3 pt-4">
                  <h5 class="card-title text-primary font-weight-bold mb-2">Up to 2GB</h5>
                  <p class="text-secondary">
                    Up to 2gb backup &pound;10/per day
                  </p>
                  <p class="pt-2 pb-2">
                    <a href="#" class="btn btn-sm btn-primary d-inline-block" data-toggle="modal" data-target="#purchase">£10.00 / Per Day</a>
                  </p>
                </div>
              </div>

              <div class="card">
                <div class="card-body text-center pb-3 pt-4">
                  <h5 class="card-title text-primary font-weight-bold mb-2">Up to 10GB Backup</h5>
                  <p class="text-secondary">
                    From 2GB to 10Gb backup
                  </p>
                  <p class="pt-2 pb-2">
                    <a href="#" class="btn btn-sm btn-primary d-inline-block">£8.00 / Per Day</a>
                  </p>
                 
                </div>
              </div>

              <div class="card">
                <div class="card-body text-center pb-3 pt-4">
                  <h5 class="card-title text-primary font-weight-bold mb-2">Up to 20GB Backup</h5>
                  <p class="text-secondary">
                    From 10GB to 20Gb backup
                  </p>
                  <p class="pt-2 pb-2">
                    <a href="#" class="btn btn-sm btn-primary d-inline-block">£5.00 / Month</a>
                  </p>
                  
                </div>
              </div>
            </div>

          </div>

          <div class="tab-pane fade active show p-3" data-pagename="AppConfigure">
            <div class=" table-sec msp-data-grid">

              <div class="card-header pl-0 pr-0 pb-1 grid-header">
                <div class="d-flex">
                  <div class="flex-grow-1 position-relative page-title-info">
                    <h5 class="m-0 font-weight-bold d-inline-block page-name text-primary">Backup List</h5>
                    <div class="clearfix"></div>
                    <div class="table-filter dropdown d-none hide-edit">
                      <div class="dropdown-toggle small d-inline text-primary" data-toggle="dropdown"></div>
                      <div class="dropdown-menu animated--fade-in"></div>
                      <span class="text-primary">
                        <i class="fas fa-thumbtack ml-2 default-icon d-none" data-toggle="tooltip"
                          title="This is default filter"></i>
                        <i class="fas fa-thumbtack fa-rotate-90 ml-2 set-default-icon d-none"
                          data-toggle="tooltip" title="Make it default filter"></i>
                      </span>
                    </div>
                  </div>
                  <div class="flex-grow-1 text-right page-top-button hide-edit">
                    <button class="btn btn-sm btn-primary ml-2 btn-add-object" data-toggle="modal"
                      data-target="#purchase">New Backup</button>
                  </div>
                </div>
              </div>



              <div class="card-body p-0 grid-body loading-container">
                <div class="d-flex pl-0 pr-0 pt-0">
                  <div class="flex-grow-1">
                    <span class="small pt-2"><span class="total-count">No record found</span> <span
                        class="consumed-size"></span></span>
                  </div>
                  <div class="text-right flex-grow-1 gird-button-list hide-edit mb-2 mt-1">
                    <div class="search-in-list">
                      <input type="text" class="form-control form-control-sm txtSearchInGrid"
                        placeholder="Search In List">
                    </div>
                    <button class="btnRefresh btn btn-sm btn-outline-secondary ml-1" data-toggle="tooltip"
                      title="Refresh">
                      <i class="fas fa-sync-alt"></i>
                    </button>
                    <button class="btnOpenSettingGrid btn btn-sm btn-outline-secondary ml-1"
                      data-toggle="tooltip" title="Grid Setting"> <i class="fas fa-cog"></i>
                    </button>

                    <button class="btnDelete btn btn-sm btn-outline-secondary ml-1" data-toggle="tooltip"
                      title="Delete Selected List" data-restriction="Delete"> <i class="fas fa-trash-alt"></i>
                    </button>

                  </div>
                </div>
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr class="head-row">
                        <th width="20px;">
                          <div><label class="lblChk"><input type="checkbox" class="chkSelectAll"><span
                                class="checkmark"></span></label></div>
                        </th>
                        <th data-field="Title">
                          <div class="d-flex">
                            <div class="field-text">Backup Name</div>
                            <div class="field-icon">
                              <div class="sort-field hide-edit"></div><i
                                class="fa fa-ellipsis-v text-wrap dropdown-toggle hide-edit"
                                data-toggle="dropdown"></i>
                              <div class="dropdown-menu text-wrap-dropdown"><a class="dropdown-item current"
                                  data-text="clip">Clip Text</a><a class="dropdown-item" data-text="wrap">Wrap
                                  Text</a></div>
                              <div class="grip"></div>
                            </div>
                          </div>
                        </th>
                        <th data-field="Description" class="">
                          <div class="d-flex">
                            <div class="field-text">Date Of Backup</div>
                            <div class="field-icon">
                              <div class="sort-field hide-edit"></div><i
                                class="fa fa-ellipsis-v text-wrap dropdown-toggle hide-edit"
                                data-toggle="dropdown"></i>
                              <div class="dropdown-menu text-wrap-dropdown"><a class="dropdown-item current"
                                  data-text="clip">Clip Text</a><a class="dropdown-item" data-text="wrap">Wrap
                                  Text</a></div>
                              <div class="grip"></div>
                            </div>
                          </div>
                        </th>
                        <th data-field="Document" class="">
                          <div class="d-flex">
                            <div class="field-text">Size Of Backup</div>
                            <div class="field-icon">
                              <div class="sort-field hide-edit"></div><i
                                class="fa fa-ellipsis-v text-wrap dropdown-toggle hide-edit"
                                data-toggle="dropdown"></i>
                              <div class="dropdown-menu text-wrap-dropdown"><a class="dropdown-item current"
                                  data-text="clip">Clip Text</a><a class="dropdown-item" data-text="wrap">Wrap
                                  Text</a></div>
                              <div class="grip"></div>
                            </div>
                          </div>
                        </th>
                        <th data-field="CreatedDate" class="">
                          <div class="d-flex">
                            <div class="field-text">Cost Of Backup/Per Day </div>
                            <div class="field-icon">
                              <div class="sort-field hide-edit"></div><i
                                class="fa fa-ellipsis-v text-wrap dropdown-toggle hide-edit"
                                data-toggle="dropdown"></i>
                              <div class="dropdown-menu text-wrap-dropdown"><a class="dropdown-item current"
                                  data-text="clip">Clip Text</a><a class="dropdown-item" data-text="wrap">Wrap
                                  Text</a></div>
                              <div class="grip"></div>
                            </div>
                          </div>

                      </tr>
                      <tr class="filter-row hide-edit">
                        <th></th>
                        <th data-field="Title" class="">
                          <div><input type="text" data-field="Title" data-ui="text"
                              class="msp-ctrl form-control form-control-sm msp-filter-ctrl msp-ctrl-text"></div>
                        </th>
                        <th data-field="Description" class="">
                          <div><input type="text" data-field="Description" data-ui="text"
                              class="msp-ctrl form-control form-control-sm msp-filter-ctrl msp-ctrl-text"></div>
                        </th>
                        <th data-field="Document" class="">
                          <div></div>
                        </th>
                        <th data-field="CreatedDate" class="">
                          <div>
                            <div class="input-group input-group-sm">
                              <div class="input-group-prepend"><button class="btn btn-outline-primary btn-sm"
                                  tabindex="-1"><i class="fas fa-calendar-day"></i></button></div><input
                                type="text" data-field="CreatedDate" data-ui="datetime"
                                class="msp-ctrl form-control form-control-sm msp-filter-ctrl msp-ctrl-date">
                            </div>
                          </div>
                        </th>
                      </tr>
                    </thead>
                    <tbody></tbody>
                  </table>
                </div>

              </div>

            </div>
          </div>
          <div class="tab-pane fade p-3" data-pagename="AppMapping">Mapping</div>
          <div class="tab-pane fade p-3" data-pagename="AppHelp">Help</div>
        </div>
      </div>
    </div>

    <div class="col-md-4 object-detail-right">
      <div>
        <div class="card mt-3 collapse-expend activity-chart loading-container">
          <div class="card-header py-3 bg-white">
            <h6 class="m-0 font-weight-bold collapse-head">
              Technical details
            </h6>
          </div>
          <div class="card-body collapse show">

            Package Name: Outlook Integration <br>
            Version : 1.2.00 <br>
            Package Type : Managed package <br>
            First Release: February 2019 <br>
            Support : +44 000 000 0000


          </div>

        </div>


      </div>
    </div>

  </div>

  <div class="modal fade" id="purchase" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Optimiser Backup data subscription detail </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>Plan</label>
                    <select class="form-control form-control-sm">
                      <option>Up to 2GB</option>
                      <option>From 2GB to 10GB</option>
                      <option>From 10GB to 20GB</option>
                    </select>
                  </div>
                  
                  <div class="form-group">
                    <label>Select Backup Modules</label>
                    <div class="custom-control custom-checkbox">
                      <input id="data-backup" name="paymentMethod" type="checkbox" class="custom-control-input" checked=""
                        required="">
                      <label class="custom-control-label text-black" for="data-backup">Database - 2Gb</label>
                    </div>

                    <div class="custom-control custom-checkbox">
                      <input id="doc-backup" name="paymentMethod" type="checkbox" class="custom-control-input"
                        required="">
                      <label class="custom-control-label text-black" for="doc-backup">Documents - 2Gb</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input id="email-backup" name="paymentMethod" type="checkbox" class="custom-control-input"
                        required="">
                      <label class="custom-control-label text-black" for="email-backup">Emails - 2Gb</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input id="drive-backup" name="paymentMethod" type="checkbox" class="custom-control-input"
                        required="">
                      <label class="custom-control-label text-black" for="drive-backup">Drive - 2Gb</label>
                    </div>
                  </div>
                  

                  <div class="form-group">
                   <p>Total size of Backup - 8GB</p>
                  </div>
                  <div class="form-group">
                   
                    <label>Promocode</label>
                    <div class="mb-2 d-flex">

                      <input type="text" class="form-control form-control-sm" placeholder="enter code">
                      <div class="btn btn-sm btn-secondary ml-2">Apply</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6"></div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="mr-auto">
            <p class="mb-0 small text-secondary">Backup size 8GB</p>
            <h5 class="mb-0">Total amount &pound;20</h5>
          </div>
          <button type="button" class="btn btn-primary">Continue to Pay</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="backup-modal" tabindex="-1" role="dialog" aria-labelledby="backup-modalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="backup-modalLabel">Data Backup</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="text-large">
            We highly recommended to take backup of your Optimiser data before you proceed with this integration.
          </p>
          <p>
            To know more about how to backup of your Optimiser data please <a href="#">click here</a>.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">I do not want to take backup</button>
          <button type="button" class="btn btn-primary">I want to take backup</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="import-property" tabindex="-1" role="dialog" aria-labelledby="import-propertyLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="import-propertyLabel">Import property list</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">


            <div class="form-group col-sm-12 vld-parent ">
              <div class="form-group vld-parent"><label class="small">Upload CSV File</label>
                <div class="custom-file"> <label
                    class="form-control custom-file-label mb-4 browselabel"> <input type="file"
                      accept=".csv" title="file" class="fileUploaded d-none " data-required="" name="fileUploaded">
                    <label class="lblFileUpload"><span></span><i
                        class="fas fa-times pl-2 removefile d-none"></i></label> </label></div>
              </div>
            </div>
            <div class="col-sm-12">
              <a href="#">
                
              </a>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary">Upload</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="help-modalLabel">Contact/Guest Profile</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary.</p>

<p>The languages only differ in their grammar, their pronunciation and their most common words.</p>

<p>Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators.</p>

<p>To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words.</p>

<p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The new common language will be more simple and regular than the existing European languages.</p>

<p>It will be as simple as Occidental; in fact, it will be Occidental. To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is. The European languages are members of the same family.</p>

<p>Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their grammar, their pronunciation and their most common words. Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators. To</p>
        </div>
       
      </div>
    </div>
  </div>

</div>