<div class="store-container">
    <h4 class="text-primary mt-3 pt-2">Discover apps and integrations for Optimiser </h4>
    <div class="store-app-search">
        <div class="row">
            <div class="col-sm-5 mt-2">
                <div class="input-group">
                    <input type="text" placeholder="Search" class="form-control" aria-label="Amount (to the nearest dollar)">
                    <div class="input-group-append">
                      <span class="bg-white btn btn-light text-secondary"><i class="fa fa-search"></i></span>
                    </div>
                  </div>
            </div>
            <div class="col-sm-3 mt-2">
                <select class="form-control text-secondary">
                    <option>Sort By</option>
                </select>
            </div>
            <div class="col-sm-4 mt-2">
                <select class="form-control text-secondary">
                    <option>All Industries</option>
                </select>
            </div>
        </div>
    </div>
    <div class="store-app-list">
        <div class="card-deck">
            <div class="card">
                <a href="#" class="card-img-top d-block" >
                    <img src="/images/Outlook.png" height="80" alt="Card image cap">
                </a>
              
              <div class="card-body">
                <p class="btn btn-sm btn-outline-light mb-1">Hotel</p>
                <a class="card-title h5 d-block">Outlook Email Integration</a>
                
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
              <div class="card-footer bg-white border-0 d-flex align-items-center">
                <div>
                    <a href="#" class="btn btn-sm btn-primary add-now">Add Now</a>
                </div>
                <div class="ml-auto text-right">
                    <p class="text-primary font-weight-bold mb-0">Free 30 day trial period</p>
                </div>
              </div>
            </div>
            <div class="card">
                <a href="#" class="card-img-top d-block" >
                    <img src="/images/opera-icon.png" height="80" alt="Card image cap">
                </a>
              
              <div class="card-body">
                <p class="btn btn-sm btn-outline-light mb-1">Hotel</p>
                <a class="card-title h5 d-block">Opera Integration</a>
                
                <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos</p>
              </div>
              <div class="card-footer bg-white border-0 d-flex align-items-center">
                <div>
                    <a href="#" class="btn btn-sm btn-primary">Configure</a>
                </div>
                <div class="ml-auto text-right">
                    <p class="text-primary font-weight-bold mb-0">Install</p>
                    <p class="mb-0 small">Renewal 20/10/2020</p>
                </div>
              </div>
            </div>

            <div class="card">
                <a href="#" class="card-img-top d-block" >
                    <img src="/images/gmail.png" height="80" alt="Card image cap">
                </a>
              
              <div class="card-body">
                <p class="btn btn-sm btn-outline-light mb-1">Hotel</p>
                <a class="card-title h5 d-block">Gmail Email Integration </a>
                
                <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos</p>
              </div>
              <div class="card-footer bg-white border-0 d-flex align-items-center">
                <div>
                    <a href="#" class="btn btn-sm btn-primary">Renew</a>
                </div>
                <div class="ml-auto text-right">
                    <p class="text-danger font-weight-bold mb-0">Expired</p>
                    <p class="mb-0 small"> 30 day free trial period</p>
                </div>
              </div>
            </div>

            <div class="card">
              <a href="#" class="card-img-top d-block" >
                  <img src="/images/logo-push.png" height="80" alt="Card image cap">
              </a>
            
            <div class="card-body">
              <p class="btn btn-sm btn-outline-light mb-1">Sales & Services</p>
              <a class="card-title h5 d-block">Optimiser data backup </a>
              
              <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos</p>
            </div>
            <div class="card-footer bg-white border-0 d-flex align-items-center">
              <div>
                  <a href="#" class="btn btn-sm btn-primary backup-data">Backup Data</a>
              </div>
              <div class="ml-auto text-right">
                  <p class="text-primary font-weight-bold mb-0">Paid</p>
                  <p class="mb-0 small"> upto 2GB backup &pound;10 per day </p>
              </div>
            </div>
          </div>
        </div>
     </div>
        

</div>
