<div>
    <div class="card mt-3 collapse-expend activity-chart loading-container">
        <div class="card-header py-3 bg-white">
            <h6 class="m-0 font-weight-bold collapse-head">
                <i class="fas fa-chevron-down"></i> Activity
                <span class="float-right">
                    <span class="nav-item active" display-type="past">Past</span>
                    <span class="nav-item" display-type="upcoming">Upcoming</span>
                </span>
            </h6>
        </div>
        <div class="card-body collapse show p-0 collapse-body">
            <div class="tab-pane" display-type="past" style="height: 200px;"></div>
            <div class="tab-pane d-none" display-type="upcoming" style="height: 200px;"></div>
        </div>
        <div class="loading"><img src="/images/loader-sm.gif" /></div>
    </div>

    <div class="card mt-3 collapse-expend simple-list subsidiaries d-none">
        <div class="card-header py-3 bg-white">
            <h6 class="m-0 font-weight-bold collapse-head">
                <i class="fas fa-chevron-down"></i> Subsidiaries
            </h6>
        </div>
        <div class="card-body collapse show p-0 collapse-body"></div>
    </div>

    <div class="card mt-3 collapse-expend free-textarea d-none">
        <div class="card-header py-3 bg-white">
            <h6 class="m-0 font-weight-bold collapse-head">
                <i class="fas fa-chevron-down"></i> Communication Policy
            </h6>
            <button class="btn btn-sm btn-primary ml-2 btn-save-freetextarea d-none" style="float: right;margin-top:-15px;"data-restriction="Modify">Save</button>
            <button class="btn btn-sm btn-primary ml-2 btn-edit-freetextarea" style="float: right;margin-top:-15px;"data-restriction="Modify">Edit</button>
        </div>
        <div class="card-body collapse show p-0 collapse-body">
            <textarea style="width: 100%;height: 200px;" class="freetextarea-content"></textarea>    
        </div>
    </div>
</div>