<div class="main-container">
    <h5 class="m-0 font-weight-bold text-primary mt-4 mb-3">Import CSV Data</h5>

    <div class="row">
        <div class="col-lg-9">
            <div class="row">
                <!--<div class="col-md-6 form-group">
                   
                     <input type="file" style="display:inline-block;margin-right:10px;" class="file-upload" />
                </div> -->
                <div class="col-md-6">
                    <label>Selected Object : <span class="object-name"></span></label></br>
                    <div class="custom-file col-md-6 form-group">
                        <label class="form-control form-control-sm custom-file-label mb-4">
                            <input type="file" title="file" class=" file-upload d-none " data-required=""
                                name="fileUploaded">
                            <label class="lblFileUpload"></label>
                        </label></div>
                </div>



            </div>
            <div>

            </div>
            <br />

            <button type="button" class="btn btn-danger btn-csv-file">Show CSV Column</button>
            <br /><br />
            <div class='errorMsg'></div>
            <div class="csvColumn"></div>
        </div>
    </div>


    <br />

    <div class="btnOperation" style="display:none">
        <input type="button" class="btn btn-info  insertCSV" value="Insert Record" />
        <!-- <input type="button" class="btn btn-info  updateCSV" data-toggle="modal" data-target="#modalForDataField"
            value="Update Record" />
        <input type="button" class="btn btn-info  insertUpdateCSV" data-toggle="modal" data-target="#modalForDataField"
            value="Insert/Update Record" /> -->
    </div>


    <div class="modal fade modalColumnMapping" id="modalColumnMapping" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal Header</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <select class='ddlColumnName'>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary btnSelectColumn" data-dismiss="modal">Map</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modalForDataField" id="modalForDataField" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal Header</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <select class='ddlPrimaryColumnName'>
                    </select>
                    <input type="hidden" class="hdnValue" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary btnSelectColumn" data-dismiss="modal">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <br />

    <div class="data-error"></div>

    <div class="data-info"></div>

</div>