<div class="mb-5">
    <h4>Reset Password</h4>
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-6">
            <div style="border-radius: 5px; background-color:#d2effd; margin-top: 5px; width:102%; padding:8px;">
                <i class="fa fa-exclamation-circle text-info"></i>
                    <div style="display:inline;"> After you update your password, you will be logged out from all devices and asked to login again</div>
            </div>
            <br>
            <label class="small">Enter current password</label>
            <input type="password" class="msp-ctrl form-control form-control-sm msp-ctrl-text current-password"
                data-required="true">
            <p class="help-block vld-message text-danger current-password-required d-none">Current Password is required.</p>

            <label class="small">Enter new password</label>
            <div class="position-relative">
                <input type="password" class="msp-ctrl form-control form-control-sm msp-ctrl-text password"
                    data-required="true">
                <i class="view-hidepassword fa fa-eye-slash"
                    style="position: absolute; top: 7px; right: 20px; cursor: pointer;"></i>
            </div>
            <p class="help-block vld-message text-danger new-password-invalid d-none">Make sure to include at least 8 characters,1 Special Character,1 Uppercase letter,1 Lowercase letter and 1 number.</p>

            <label class="small">Confirm new password</label>
            <input type="password" class="msp-ctrl form-control form-control-sm msp-ctrl-text confirmpassword"
                data-required="true">
            <p class="help-block vld-message text-danger confirm-password-required d-none">Confirm Password is required.</p>
            <p class="help-block vld-message text-danger confirm-password-match d-none">The password confirmation does not match.</p>


        </div>
    </div>
    <div class="mt-3">
        <button type="button" class="btn btn-primary resetpassword" data-restriction="Modify">Save</button>
    </div>
</div>