<div id="onboard" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item slide-page-welcome active">
            <div class="carousel-caption d-none d-md-block">
                <div class="text-center mt-4">
                    <span class="border rounded-circle icon bg-primary">
                        <i class="far fa-handshake"></i>
                    </span>
                </div>
                <h1 class="text-primary mt-4">Hi <span class="userName"></span>, Welcome to Optimiser</h1>
                <!-- <p class="text-black p-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                    ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                    nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
                    consequat massa quis enim. Donec.</p> -->
            </div>
            <div class="text-center mt-4 mb-4">
                <button class="btn btn-lg btn-primary btnStartOnboarding" data-target="#onboard" data-slide-to="1">Click Here To Continue
                </button>
            </div>
        </div>
        <div class="carousel-item slide-page-email-pass">
            <div class="carousel-caption d-none d-md-block">
                <div class="text-center mt-4">
                    <span class="border rounded-circle icon bg-primary">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
                <h1 class="text-primary mt-4">Please enter the App Password to enable the Email integration for the given account.</h1>
                <div class="text-center mt-4 mx-auto">
                    <label class="text-primary mt-4 lblUserEmail"></label><br />
                </div>
                <div class="mt-4 mx-auto">
                    <input type="password" autocomplete="off" title="App password"
                        class="msp-ctrl form-control d-inline-block txtEmailPassword" placeholder="App password"
                        style="max-width: 450px;" />
                    <i class="fa fa-spinner text-primary fa-spin d-none imgVerifyPassword" style="font-size:24px"></i>
                    <i class="fa fa-check d-none imgPasswordVerified" style="font-size:24px; color:green;"
                        aria-hidden="true" title="Authentication succeed"> </i>
                    <i class="fa fa-times d-none imgPasswordInvalid" style="font-size:24px; color:red;"
                        aria-hidden="true" title="Authentication Failed"> </i>
                </div>
            </div>
            <div class="text-center mt-4 mb-4">
                <button class="btn btn-lg btn-primary btnSave btnVerifyEmailPassword" data-target="#onboard" disabled='disabled'>Submit & Continue</button>
                <br />
                <button class="btn btn-link btnSkipEmailPassword" data-target="#onboard">Skip to continue</button>
            </div>

        </div>

        <div class="carousel-item slide-page-email-sign">
            <div class="carousel-caption d-none d-md-block">
                <div class="text-center mt-4">
                    <span class="border rounded-circle icon bg-primary">
                        <i class="far fa-envelope"></i>
                    </span>
                </div>
                <h1 class="text-primary mt-4">Set up your Email Signature</h1>
                <div class="mt-4 mx-auto emailsignature" allow-formattedpaste='true' title="Email signature"></div>
            </div>
            <div class="text-center mt-4 mb-4">
                <button class="btn btn-lg btn-primary btnSaveEmailSign" data-target="#onboard" disabled='disabled' data-slide-to="3">Submit & Continue</button>
                <br />
                <button class="btn btn-link btnSkipEmailSign" data-target="#onboard" data-slide-to="3">Skip to continue</button>
            </div>
        </div>

        <div class="carousel-item slide-page-timezone">
            <div class="carousel-caption d-none d-md-block">
                <div class="text-center mt-4">
                    <span class="border rounded-circle icon bg-primary">
                        <i class="far fa-clock"></i>
                    </span>
                </div>
                <h1 class="text-primary mt-4">Please select your time zone</h1>
                <div class="mt-4 mx-auto">
                    <select class="msp-ctrl form-control d-inline-block ddlUserTimezone" style="max-width: 400px;" title="Timezone" data-required />
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="text-center mt-4 mb-4">
                <button class="btn btn-lg btn-primary btnSaveTimezone" data-target="#onboard" data-slide-to="4">Submit & Continue</button>
            </div>
        </div>

        <div class="carousel-item slide-page-working-hours user-working-days">
            <div class="carousel-caption d-none d-md-block">
                <h1 class="text-primary mt-4">Choose your own working hours</h1>
                <div class="mt-4 mx-auto text-left ">
                    <label class="small">Working Days</label>
                    <div class="text-secondary" style="max-width: 500px; margin:auto; width:100%;">
                        <div class="custom-control custom-checkbox mb-2">
                            <div class="row daytiming">
                                <div class="col">
                                    <input type="checkbox" class="custom-control-input chkDay" data-id="0" id="chkWDSunday">
                                    <label class="custom-control-label text-black" for="chkWDSunday">Sunday</label>
                                </div>
                                <div class="d-inline-block ml-3 mt-n2">
                                    <div class="d-inline-block small starttime">
                                    </div>
                                    <div class="d-inline-block endtime">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="custom-control custom-checkbox mb-2">
                            <div class="row daytiming">
                                <div class="col">
                                    <input type="checkbox" class="custom-control-input chkDay" data-id="1" id="chkWDMonday">
                                    <label class="custom-control-label text-black" for="chkWDMonday">Monday</label>
                                </div>
                                <div class="d-inline-block ml-3 mt-n2">
                                    <div class="d-inline-block small starttime"></div>
                                    <div class="d-inline-block endtime"></div>
                                </div>
                            </div>
                        </div>
                        <div class="custom-control custom-checkbox mb-2">
                            <div class="row daytiming">
                                <div class="col">
                                    <input type="checkbox" class="custom-control-input chkDay" data-id="2" id="chkWDTuesday">
                                    <label class="custom-control-label text-black" for="chkWDTuesday">Tuesday</label>
                                </div>
                                <div class="d-inline-block ml-3 mt-n2">
                                    <div class="d-inline-block small starttime"></div>
                                    <div class="d-inline-block endtime"></div>
                                </div>
                            </div>
                        </div>
                        <div class="custom-control custom-checkbox mb-2">
                            <div class="row daytiming">
                                <div class="col">
                                    <input type="checkbox" class="custom-control-input chkDay" data-id="3" id="chkWDWednesday">
                                    <label class="custom-control-label text-black" for="chkWDWednesday">Wednesday</label>
                                </div>
                                <div class="d-inline-block ml-3 mt-n2">
                                    <div class="d-inline-block small starttime"></div>
                                    <div class="d-inline-block endtime"></div>
                                </div>
                            </div>
                        </div>
                        <div class="custom-control custom-checkbox mb-2">
                            <div class="row daytiming">
                                <div class="col">
                                    <input type="checkbox" class="custom-control-input chkDay" data-id="4" id="chkWDThursday">
                                    <label class="custom-control-label text-black" for="chkWDThursday">Thursday</label>
                                </div>
                                <div class="d-inline-block ml-3 mt-n2">
                                    <div class="d-inline-block small starttime"></div>
                                    <div class="d-inline-block endtime"></div>
                                </div>
                            </div>
                        </div>
                        <div class="custom-control custom-checkbox mb-2">
                            <div class="row daytiming">
                                <div class="col">
                                    <input type="checkbox" class="custom-control-input chkDay" data-id="5"
                                        id="chkWDFriday">
                                    <label class="custom-control-label text-black" for="chkWDFriday">Friday</label>
                                </div>
                                <div class="d-inline-block ml-3 mt-n2">
                                    <div class="d-inline-block small starttime"></div>
                                    <div class="d-inline-block endtime"></div>
                                </div>
                            </div>
                        </div>
                        <div class="custom-control custom-checkbox mb-2">
                            <div class="row daytiming">
                                <div class="col">
                                    <input type="checkbox" class="custom-control-input chkDay" data-id="6" id="chkWDSaturday">
                                    <label class="custom-control-label text-black" for="chkWDSaturday">Saturday</label>
                                </div>
                                <div class="d-inline-block ml-3 mt-n2">
                                    <div class="d-inline-block small starttime"></div>
                                    <div class="d-inline-block endtime"></div>
                                </div>
                            </div>
                        </div>
                        <div class="error-container vld-parent"></div>
                    </div>
                </div>
            </div>
            <div class="text-center mt-4 mb-4">
                <button class="btn btn-lg btn-primary btnSaveWorkingdays" data-target="#onboard">Submit & Continue</button>
                <br />
                <!-- <button class="btn btn-link btnSkipWorkingDays" data-target="#onboard" data-slide-to="5">
                    Skip to continue
                </button> -->
            </div>
        </div>

        <div class="carousel-item slide-page-final">
            <div class="carousel-caption d-none d-md-block">
                <h1 class="text-primary mt-4">Please upload your photo</h1>
                <div class="mt-4 mx-auto">
                    <div class="form-control d-inline-block position-relative p-0 position-relative msp-ctrl-image"
                        data-height="100" data-width="100" style="width: 200px;  height: 200px; cursor: pointer;"
                        title="Click here to upload image">
                        <img src="" width="100%" class="rounded" onerror="this.src='../images/nouser.jpg';" />
                        <span href="#" class="select-img d-none">Click Here</span>
                        <a href="#" class="update-img d-none">Update</a>
                    </div>
                </div>
            </div>
            <div class="text-center mt-4 mb-4">
                <button class="btn btn-lg btn-primary btnSubmitAndFinish" data-dismiss="modal" aria-label="Close" data-target="#onboard">Submit</button>
                <br />
                <button class="btn btn-link btnSubmitAndFinish" data-dismiss="modal" aria-label="Close" data-target="#onboard" data-skip="true">Skip to continue</button>
            </div>
        </div>

    </div>
    <ol class="carousel-indicators mb-4">
        <li id="slide-welcome" data-target="#onboard" data-slide-to="0" class="active"></li>
        <li id="slide-email-pass" data-target="#onboard"></li>
        <li id="slide-email-sign" data-target="#onboard"></li>
        <li id="slide-timezone" data-target="#onboard"></li>
        <li id="slide-working-hours" data-target="#onboard"></li>
        <li id="slide-final" data-target="#onboard"></li>
    </ol>

</div>