<div id="content">
    <div class="user-replace-settings col-12 mb-2">
        <div class="row">
            <div class="form-group col-sm-12 vld-parent">
                <label class="small">
                    From User
                </label>
                <div class="msp-user-control from-user">
                </div>
            </div>
            <div class="form-group col-sm-12 vld-parent">
                <label class="small">
                    To User
                </label>
                <div class="msp-user-control to-user">
                </div>
            </div>
            <div class="form-group col-sm-12">            
                <div class="moudules-list mt-10">
                    <ul class="modules">  
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>