<div id="content">
    <div class="d-none d-md-block text-center">
        <div class="text-center mt-4">
            <span class="border rounded-circle icon bg-primary"
                style="width: 80px;height: 80px;line-height: 74px;display: inline-block;font-size: 2rem;">
                <i class="fas fa-key" style="color:#fff;"></i>
            </span>
        </div>
        <h1 class="text-primary mt-4">Please enter the App Password to enable the Email integration for the given account.</h1>
        <div class="text-center mt-4 mx-auto">
            <label class="text-primary mt-4 lblUserEmail"></label><br />
        </div>
        <div class="mt-4 mx-auto">
            <input type="password" autocomplete="off" title="App Password" \
                class="msp-ctrl form-control d-inline-block txtEmailPassword" placeholder="App Password" \
                style="max-width: 450px;" />
            <i class="fa fa-spinner text-primary fa-spin d-none imgVerifyPassword" style="font-size:24px"></i>
        </div>
    </div>
    <div class="text-center mt-4 mb-4">
        <button class="btn btn-lg btn-primary right-align btnSave btnVerifyEmailPassword" data-target="#onboard" \
            disabled="disabled">Submit</button>
        </button>
    </div>
</div>