<div class="bounced-email-container loading-container">

    <div class="d-flex pl-0 pr-0 pt-0">
        <div class="flex-grow-1">
            <span class="small pt-2"><span class="total-count-bouncedemails">0 Items</span> <span class="consumed-size"></span>
            </span>

        </div>
        <div class="text-right flex-grow-1 gird-button-list mb-2 mt-1">
            <div class="search-in-list">
                <input type="text" class="form-control form-control-sm txtSearchInTable" placeholder="Search In List">
            </div>
            <button class="btnSearchBouncedEmail btn btn-sm btn-outline-secondary ml-1" data-toggle="tooltip" title="" data-original-title="Search">
                <i class="fas fa-search"></i>
            </button>
            <button class="btnRefresh btn btn-sm btn-outline-secondary ml-1" data-toggle="tooltip" title="" data-original-title="Refresh">
                <i class="fas fa-sync-alt"></i>
            </button>
            <button class="btnDelete btn btn-sm btn-outline-secondary ml-1" data-toggle="tooltip" title="" data-original-title="Delete Selected List" data-restriction="Delete">
                <i class="fas fa-trash-alt"></i>
            </button>
        </div>
    </div>
    <div class="msp-data-grid">
        <div class="table-responsive grid-table-container">
            <table class="table table-bordered bounced-emails-table" style="width: auto;">
                <thead>
                    <tr class="head-row">
                        <th width="20px;">
                            <div style="margin-top: 1px;">
                                <label class="lblChk">
                                    <input type="checkbox" index="0" class="chkSelectAll">
                                    <span class="checkmark" style="margin-top: 2px;"></span>
                                </label>
                            </div>
                        </th>
                        <th>
                            <div class="d-flex">
                                <div class="field-text">Email Address</div>
                            </div>
                        </th>
                    </tr>
                    <tr class="filter-row hide-edit">
                        <th></th>
                        <th data-field="email" class="bounced-email-search">
                            <div>
                                <input type="text" data-field="email" data-ui="text" class="msp-ctrl form-control form-control-sm msp-filter-ctrl msp-ctrl-text txtBouncedEmail">
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <!-- <tr class="warning no-result">
                    <td colspan="4"><i class="fa fa-warning"></i> No result</td>
                </tr> -->
            </table>
        </div>
        <nav class="mt-3 float-right hide-edit">
                <div class="pagination-bouncedemail">
                </div>
            </nav>
    </div>
</div>