<div class="object-detail">
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="card mt-3 object-detail-tab main-panel">
                    <nav>
                        <div class="nav nav-tabs campaign-report-nav" role="tablist">
                            <a class="nav-item nav-link active" data-toggle="tab" tab="detail">Campaign Statistics</a>
                            <a class="nav-item nav-link" data-toggle="tab" tab="byLocation">Open By Location</a>
                            <a class="nav-item nav-link" data-toggle="tab" tab="clicksMap"
                                data-pagename="clicksMap">Clicks Map</a>
                            <a class="nav-item nav-link" data-toggle="tab" tab="devices"
                                data-pagename="AccountDocumentList">Devices</a>
                            <a class="nav-item nav-link" data-toggle="tab" tab="statistics"
                                data-pagename="AccountNoteList">Error Statistics</a>
                        </div>
                    </nav>
                    <div class="tab-content campaign-report-content">
                        <div class="tab-pane fade detail show active" tab="detail">
                            <div class="card m-2">
                                <div class="card-header bg-white">
                                    <div class="d-flex">
                                        <div class="flex-grow-1">
                                            <h4 class="m-0 font-weight-bold d-inline-block object-name text-primary campaign-Name">
                                            </h4>
                                            <p class="mb-0 campaign-Subject"></p>
                                            <div class="clearfix"></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="snippet-bar d-flex mt-3">
                                <div class="col-sm-3 mb-2" snippet-name="Activity">
                                    <div class="card border-left-success h-100">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div
                                                        class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                        Delivery Rate</div>
                                                    <div
                                                        class="h5 mb-0 font-weight-bold text-gray-800 campaign-delivery-rate">
                                                        0%</div>
                                                </div>
                                                <div class="col-auto"><i
                                                        class="fas fa-envelope fa-2x text-gray-300"></i></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 mb-2" snippet-name="AccountContactRelation">
                                    <div class="card border-left-info h-100">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                        Open Rate</div>
                                                    <div
                                                        class="h5 mb-0 font-weight-bold text-gray-800 result campaign-open-rate">
                                                        0%</div>
                                                </div>
                                                <div class="col-auto"> <i
                                                        class="fas fa-envelope-open-text fa-2x text-gray-300"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 mb-2" snippet-name="Branch">
                                    <div class="card border-left-warning h-100">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div
                                                        class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                        Click Through Rate</div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800 campaign-ctr">0%
                                                    </div>
                                                </div>
                                                <div class="col-auto"><i
                                                        class="far fa-hand-pointer fa-2x text-gray-300"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 mb-2" snippet-name="Pipeline">
                                    <div class="card border-left-danger h-100">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div
                                                        class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                                        Bounce Rate</div>
                                                    <div
                                                        class="h5 mb-0 font-weight-bold text-gray-800 campaign-bouncerate">
                                                        0%
                                                    </div>
                                                </div>
                                                <div class="col-auto"><i
                                                        class="far fa-exclamation-triangle fa-2x text-gray-300"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex m-2 bg-light text-center pt-3 pb-3 rounded">
                                <div class="col-sm">
                                    <div class="camp-stat-popup cursor-pointer" data-type="request">
                                        <div class="h1 mb-0 font-weight-bold text-muted campaign-request">0</div>
                                        <p class="mb-1">Request</p>
                                    </div>
                                </div>

                                <div class="col-sm">
                                    <div class="camp-stat-popup cursor-pointer" data-type="sent">
                                        <div class="h1 mb-0 font-weight-bold text-info campaign-sent">0</div>
                                        <p class="mb-1">Sent</p>
                                    </div>
                                </div>

                                <div class="col-sm">
                                    <div class="camp-stat-popup cursor-pointer" data-type="delivered">
                                        <div class="h1 mb-0 font-weight-bold text-success campaign-delivered">0</div>
                                        <p class="mb-1">Delivered</p>
                                    </div>
                                </div>

                                <div class="col-sm">
                                    <div class="camp-stat-popup cursor-pointer" data-type="bounce">
                                        <div class="h1 mb-0 font-weight-bold text-danger campaign-error">0</div>
                                        <p class="mb-1">Bounce</p>
                                    </div>
                                </div>

                                <div class="col-sm">
                                    <div class="camp-stat-popup cursor-pointer" data-type="unsubscribe">
                                        <div class="h1 mb-0 font-weight-bold text-warning campaign-unsubscribe">0</div>
                                        <p class="mb-1">Unsubscribe</p>
                                    </div>
                                </div>

                            </div>
                            <div class="p-3 page-detail row">
                                <div class="col-sm-6 campaign-piechart-statistics" style="height: 100%;">

                                </div>
                                <div class="col-sm-6 pl-3">
                                    <div class="campaign-static-table">

                                    </div>
                                    <!-- <div id="chart_div">
                                        <div style="position: relative;">
                                            <div dir="ltr" style="position: relative; width: 713px; height: 300px;">
                                                <div aria-label="A chart."
                                                    style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%;">

                                                </div>
                                            </div>

                                        </div>
                                    </div> -->
                                </div>
                                <!-- <div class="col-md-12 col-lg-9 mt-5 pt-5 mb-4 campaign-dayby-linechart">

                                </div> -->

                            </div>
                        </div>
                        <!-- ++++++++++++++++++++++++++++LOCATION TAB++++++++++++++++++++++++ -->
                        <div class="tab-pane fade p-3 byLocation" tab="byLocation">
                            <div class="location-tab-loader">
                                <div class="d-flex justify-content-center text-primary ">
                                    <div class="spinner-border" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </div>
                            <div class="pb-2">
                                <div class="btn-group btn-group-toggle toggle-region-view d-none float-right">
                                    <label class="btn btn-primary active">
                                        <input type="radio" name="options" class="cnt" checked> Country
                                    </label>
                                    <label class="btn btn-primary">
                                        <input type="radio" name="options" class="cty"> Region
                                    </label>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row country-view">
                                <div class="col-sm-8 ">
                                    <div style="position: relative;">
                                        <div dir="ltr" style="position: relative; height: 410px;">
                                            <div style="width: 100%; height: 100%; " class="campaign-gio-country-chart">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 campaign-country-count">

                                </div>
                                <!-- <div class="col-sm-12 mt-4"></div> -->
                            </div>
                            <div class="row city-view">
                                <div class="col-sm-8">
                                    <div dir="ltr" style="position: relative; height: 410px;">
                                        <div style="width: 100%; height: 100%; " class="campaign-gio-city-chart">

                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4 campaign-city-count">

                                </div>
                            </div>
                        </div>
                        <!-- +++++++++++++++++++++CLICK MAPS++++++++++++++++++++++++= -->
                        <div class="tab-pane fade p-3 clicksMap" tab="clicksMap">
                            <div class="row">
                                <div class="col-sm-12 col-lg-8 mb-4 template-div">
                                </div>
                                <div class="col-sm-12 col-lg-4 mb-4">
                                    <table class="table bg-white link-table table-hover">
                                        <tbody></tbody>
                                        <!-- <tr class="head-row">
                                                <th class="border-top-0">URL</th>
                                                <th class="border-top-0">Clicks</th>
                                            </tr>
                                            <tr>
                                                <td> http://demo.ghsdomain.com/tem-img.jpg</td>
                                                <td><a href="#">123(90%)</a></td>
                                            </tr> -->
                                    </table>
                                </div>
                            </div>

                        </div>
                        <!-- +++++++++++++++++++DEVICE TAB++++++++++++++++++++++ -->
                        <div class="tab-pane fade p-3 devices" tab="devices">
                            <div class="device-tab-loader">
                                <div class="d-flex justify-content-center text-primary ">
                                    <div class="spinner-border" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 p-4">
                                    <div class="campaign-device-chart w-100">

                                    </div>
                                    <div class="mt-4 campaign-device-table">

                                    </div>
                                </div>
                                <div class="col-sm-4 p-4">
                                    <div class="w-100 campaign-os-chart">

                                    </div>
                                    <div class="mt-4 campaign-os-table">

                                    </div>
                                </div>
                                <div class="col-sm-4 p-4">
                                    <div class="w-100 campaign-browser-chart">

                                    </div>
                                    <div class="mt-4 campaign-browser-table">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Error tab -->
                        <div class="tab-pane fade p-3 statistics" tab="statistics">
                            <div class="row">
                                <div class="col-sm-6 ">
                                    <div class="w-100  campaign-error-pie-chart">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="error-stats-tab">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade p-3 offices" tab="offices">
                            Offices
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-12 fixed-bottom p-3 bg-white shadow">
        <!-- <span class="text-secondary"><i class="fas fa-file-export"></i> Export Data</span> -->
        <button class="btn btn-sm btn-outline-primary ml-2 btn-statistics-pdf" disabled>
            <i class="far fa-file-pdf"></i>
            Print
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
        <!-- <button class="btn btn-sm btn-outline-primary ml-2"><i class="far fa-file-excel"></i> Xls</button> -->
        <button class="btn btn-link float-right email-status-exp">
            <i class="far fa-question-circle "></i> Email Status Explanation
        </button>
    </div>
</div>

<!-- Email Status Explanation modal -->
<div class="modal d-none" id="emailStatus">
    <div class="text-secondary">
        <h5>Delivery Rate </h5>
        <p>
            Delivery rate is the percentage of emails that are received by the recipient without any bounce.
        </p>

        <h5>Open Rate </h5>
        <p class="mb-1">Open rate is the percentage of the total number of recipients who open a given
            email.
        </p>
        <p class="alert alert-dark alert-secondary p-1">
            <strong>Note:</strong>
            In some mail client like Zoho & some versions of outlook it is mandatory to click on display now
            when email is received.
        </p>

        <h5>Click Through Rate </h5>
        <p class="mb-1">
            The percentage of email recipients who clicked on one or more links provided in the given email.
        </p>
        <p>
            It is calculated as: (Total clicks or unique clicks ÷ Numbers of delivered emails) *100
        <p>

        <h5>Bounce Rate </h5>
        <p class="mb-1">
            Bounce rate refers to the percentage of total email sent that couldn’t delivered to recipient.
        </p>
        <p>It is calculated as: (Total number of bounced emails ÷ Number of emails sent) * 100
        </p>
    </div>
</div>