<div class="campaign-container p-3" >
    <ul class="campaign nav nav-tabs border-0 d-flex mt-3 mb-4 col-lg-7" role="tablist">
        <li class="nav-item d-flex flex-1 selected">
            <a class="nav-link active pl-0" name="basic"> <span class="circle">1</span> <span>Basic</span></a>
        </li>
        <li class="nav-item text-center d-flex flex-1">
            <a class="nav-link" name="template"><span class="circle">2</span> <span>Choose Template</span></a>
        </li>
        <li class="nav-item text-right d-flex flex-1">
            <a class="nav-link pr-0" name="schedule"><span class="circle">3</span> <span>Schedule</span></a>
        </li>
    </ul>
    
    <!-- <div class="col-7 domainSelection">
            <h5 class="text-primary font-weight-bold">Select Domain</h5>
            <select title="Marketing Domain List" data-ui="dropdown"
                    class="form-control form-control-sm mt-0 msp-ctrl MarketingDomainList"
                    data-required>
            </select>
    </div> -->

    <div class="tab-content">
        <div name="basic" class="containerTab tab-pane active mt-4 col-lg-7">
            <div class="basic-page"></div>
            <div class="fixed-bottom shadow-lg p-3 text-right bg-white cell-edit">
                <!-- <button class="btn btn-outline-primary btnDraftSaved d-none mr-2">Save Draft</button> -->
                <button class="btn btn-primary btnNext" back="" current="basic" next="template"
                    data-restriction="Create">Next <i class="fas fa-arrow-right"></i></button>
            </div>
        </div>
        <div name="template" class="containerTab tab-pane">
            <div class="card-header bg-white pl-0 pb-0 pr-0 border-0 pt-0">
                <div class="d-flex">
                    <div class="flex-grow-1 position-relative page-title-info">
                        <h5 class="m-0 font-weight-bold d-inline-block page-name text-primary">Select Template</h5>
                        <p>Select a starting template for your campaign</p>
                    </div>

                </div>
                <div>
                    <div class="marketing-create-campaign-template-block marketing-block w-100">
                        <div class="marketing-template-tab childtab childtab object-detail-tab">
                            <ul class="list-inline nav nav-tabs mb-4">
                                <li><a href="#" groupid="1" class="nav-link switch-category active">Basic</a></li>
                                <li><a href="#" groupid="2" class="nav-link switch-category">Saved</a></li>
                                <li><a href="#" groupid="3" class="nav-link switch-category">HTML Code</a></li>
                            </ul>
                            <div class="TemplateSavedBasic ">
                                <ul class="templateList marketing-list row">

                                </ul>
                                <nav class="mt-3 float-right hide-edit template-list-paging">
                                    <ul class="pagination list-paging">
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-bottom shadow-lg p-2 text-right bg-white cell-edit template-Bottam">
                <button class="btn btn-outline-primary float-left btnBack" current="template" back="basic"><i
                        class="fas fa-arrow-left"></i> Back</button>
            </div>
        </div>
        <div name="schedule" class="containerTab tab-pane col-lg-7">
            <h3>Setup your schedule</h3>
            <div class="row">
                <div class="form-group col-sm-12 section-send-now mt-3">
                    <!-- <p class="h5 font-weight-normal text-info">you're send to campaign to:Campaign list 20 subcribers
                    </p> -->

                </div>
                <div class="col-12">
                    <div class="form-group section-schedule-now row">
                        <div class="col-6 vld-parent">
                            <label>Schedule Date</label>
                            <div class="w-100 input-group">
                                <div class="input-group-prepend clearfix"><button class="btn btn-outline-primary btn-sm"
                                        tabindex="-1"><i class="fas fa-calendar-day"></i></button></div>
                                <input type="text" title="Schedule Date"
                                    class="msp-ctrl msp-ctrl-date form-control msp-ctrl-datetime txtScheduleDate custom-validation"
                                    data-required />
                            </div>
                        </div>
                        <div class="col-sm-5 col-xs-5 vld-parent">
                            <label class="small">Schedule Time</label>
                            <div class="input-group w-100 ">
                                <div class="input-group-prepend"><button class="btn btn-outline-primary btn-sm"
                                        tabindex="-1"><i class="fas fa-clock"></i></button></div>
                                <input type="text" title="Schedule time"
                                    class="msp-ctrl msp-ctrl-time trigger-popup form-control msp-ctrl-datetime txtScheduleTime custom-validation"
                                    data-interval="30" data-required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-6 section-schedule-now ">
                    <label class="small">Time Zone</label>
                    <select class="form-control  ddlTimezone msp-ctrl "></select>
                </div>
                <div class="col-12 mt-4">
                    <div class="btn btn-outline-primary openSendMailModal" data-toggle="modal">Send a test email</div>
                </div>
                <div class="fixed-bottom shadow-lg p-3 text-right bg-white cell-edit">
                    <!-- <div class="d-inline-block position-absolute" style="left: 50%;transform: translate(-50%);">
                                <span class="btn btn-secondary"><i class="fa fa-desktop" aria-hidden="true"></i> Preview</span>
                        </div> -->
                    <button class="btn btn-outline-primary float-left btnBack" current="schedule" back="template"><i
                            class="fa fa-arrow-left"></i> Back</button>
                    <button class="btn btn-primary btnSchdule" current="schedule">Schedule</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade sendTestEmail" tabindex="-1" role="dialog" aria-labelledby="sendTestEmail" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Send a test email</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-sm-12 form-group">
                    <label>Send a test to</label>
                    <div class="form-control send_emails" style="height: auto">
                        <div contenteditable="true" class="txttestMail"
                            style="display:inline-block; border: none; outline:none; max-width: 100%;"></div>
                        <!-- <input type="text" class="txttestMail" style="border: none; outline: none; max-width: 100%; width: 100%;" /> -->
                    </div>
                    <p class="small text-info mt-3">
                        <!--Use commas to separate multiple emails.-->
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary btnSendTestMail">Send</button>
            </div>
        </div>
    </div>
</div>