<div>
    <div class="card-header bg-white pl-0 pb-0 pr-0 border-0">
        <div class="d-flex">
            <div class="flex-grow-1 position-relative page-title-info">
                <h5 class="m-0 font-weight-bold d-inline-block page-name text-primary">Create Template</h5>
                <p>Select a starting point for your template</p>
            </div>

        </div>
        <div id="wrapper" style="position: relative; z-index: 52;">
            <div class="marketing-create-campaign-template-block marketing-block w-100">
                <div class="marketing-template-tab childtab object-detail-tab">
                    <ul class="list-inline nav nav-tabs mb-4">
                        <li class="nav-item active"><a href="#" groupid="1" class="nav-link switch-category active">Basic</a></li>
                        <li class="nav-item"><a href="#" groupid="2" class="nav-link switch-category">Saved</a></li>
                    </ul>

                    <div class="TemplateSavedBasic">
                        <ul class="templateList marketing-list row">

                        </ul>
                        <nav class="mt-3 float-right hide-edit template-list-paging">
                            <ul class="pagination list-paging">
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>