<div id="DynamicFieldsBlock">
    <table cellspacing="0" cellpadding="0" style="margin-top: 15px;" width="100%">
        <thead>
            <th style="padding:5px; padding-left:28px">Dynamic Fields</th>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>