<div class="recipients-container loading-container">
    <div class="row mt-3">
        <div class="col">
            <h5 class="m-0 font-weight-bold d-inline-block page-name text-primary file-name"></h5>
        </div>
        <div class="col text-right">
            <button class="btnShowInvalidEmail btn btn-sm btn-outline-danger ml-1" style="display: none;">Invalid Emails</button>
            <button class="btnInsert btn btn-sm btn-primary ml-1" style="display: none;" data-restriction="Create">New</button>
        </div>
    </div>

    <div class="d-flex pl-0 pr-0 pt-0">
        <div class="flex-grow-1">
            <span class="small pt-2"><span class="total-count">0 Items</span> <span class="consumed-size"></span>
            </span>

        </div>
        <div class="text-right flex-grow-1 gird-button-list mb-2 mt-1">
            <div class="search-in-list">
                <input type="text" class="form-control form-control-sm txtSearchInTable" placeholder="Search In List">
            </div>
            <button class="btnSearch btn btn-sm btn-outline-secondary ml-1" data-toggle="tooltip" title="" data-original-title="Search">
                <i class="fas fa-search"></i>
            </button>
            <button class="btnRefresh btn btn-sm btn-outline-secondary ml-1" data-toggle="tooltip" title="" data-original-title="Refresh">
                <i class="fas fa-sync-alt"></i>
            </button>
            <button class="btnDelete btn btn-sm btn-outline-secondary ml-1" data-toggle="tooltip" title="" data-original-title="Delete Selected List" data-restriction="Delete">
                <i class="fas fa-trash-alt"></i>
            </button>
        </div>
    </div>
    <div class="msp-data-grid">
        <div class="table-responsive grid-table-container">
            <table class="table table-bordered recipients-table">
                <tr class="warning no-result">
                    <td colspan="4"><i class="fa fa-warning"></i> No result</td>
                </tr>
            </table>
        </div>
        <nav class="mt-3 float-right hide-edit">
                <div class="pagination">
                </div>
            </nav>
    </div>
</div>