<div>
    <div class="card-header bg-white pl-0 pb-0 pr-0 border-0">
        <div class="d-flex">
            <div class="flex-grow-1 position-relative page-title-info">
                <h5 class="m-0 font-weight-bold d-inline-block page-name text-primary">Saved Template</h5>
            </div>
            <div class="flex-grow-1 text-right page-top-button">
                <a href="#" class="btn btn-sm btn-outline-primary ml-1 get-gallary">Content Studio</a>
                <button class="btn btn-sm btn-primary ml-1 btnShowTemplateList" data-restriction="Create">Create Template</button></div>
        </div>
    </div>
    <div class="d-flex align-items-center mb-3">
        <div>
            <span class="pr-2">Sort By</span>
            <span><select class="form-control form-control-sm d-inline-block w-auto template-order-sorting"
                    style="min-width: 150px;">
                    <option value="-1">Newest</option>
                    <option value="1">Oldest</option>
                    <option value="3">A-Z</option>
                    <option value="4">Z-A</option>
                </select>
            </span>
        </div>
        <div class="input-group ml-2" style="max-width: 300px; min-width:150px;">
            <input type="text" class="form-control form-control-sm template-search" placeholder="Search In List"
                aria-label="Search In List" aria-describedby="basic-addon2">
            <div class="input-group-append w-auto">
                <button class="btn btn-sm btn-secondary btn-template-search" type="button"><i
                        class="fas fa-search"></i></button>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="TemplateSavedBasic">
        <ul class="templateList marketing-list  row ml-n3 mr-n3">
        </ul>
        <nav class="mt-3 float-right hide-edit template-list-paging">
        </nav>
    </div>
</div>