<div class="marketing-template-editor bg-white">
    <div class="row h-100">
        <div class="col marketing-editor pr-0 shadow">
            <ul class="nav nav-tabs col-12 pl-2">
                <!-- <li class="nav-item">
                    <a class="nav-link active" href="#"><i class="fa fa-palette" data-target="StyleBlock"></i></a></li> -->
                <li class="nav-item"><a class="nav-link active" href="#"><i class="fa fa-text-width"
                            data-toggle="tooltip" data-placement="top" title="Text" data-target="TextBlock"></i></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-image" data-toggle="tooltip"
                            data-placement="top" title="Text+Image" data-target="ImageBlock"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-heading" data-toggle="tooltip"
                            data-placement="top" title="Header+Footer" data-target="HeaderBlock"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-hand-pointer" data-toggle="tooltip"
                            data-placement="top" title="Button+Text+Image" data-target="ButtonBlock"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-share-alt" data-toggle="tooltip"
                            data-placement="top" title="Share" data-target="SocialBlock"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-hashtag" data-toggle="tooltip"
                            data-placement="top" title="Dynamic Fields" data-target="DynamicFieldsBlock"></i></a></li>

            </ul>

            <!--template-form-starts-here-->
            <div name="TextBlock" class="block active textblock"></div>
            <div name="ImageBlock" class="block"></div>
            <div name="HeaderBlock" class="block"></div>
            <div name="ButtonBlock" class="block"></div>
            <div name="SocialBlock" class="block"></div>
            <div name="DynamicFieldsBlock" class="block"></div>
        </div>
        <div class="col marketing-editing-block-container p-0 h-100">
            <div>
                <div class="fixed-bottom editor-btn-top bg-white p-3 text-right shadow d-flex">
                    <div class="d-inline-block position-absolute" style="left: 50%;transform: translate(-50%);">
                        <i class="fa fa-search-plus btn btn-light btn-zoom plus" aria-hidden="true"></i>
                        <span class="marketing-reset btn btn-light btn-zoom reset"><span
                                data-lng='Reset (100%)'>Reset(100%)</span></span>
                        <i class="btn btn-light fa fa-search-minus btn-zoom minus " aria-hidden="true"></i>
                        <span class="btn btn-secondary btn-preview"><i class="fa fa-desktop" aria-hidden="true"></i>
                            Preview</span>
                    </div>
                    <span class="custom-buttons w-100"></span>
                </div>
                <!-- <div class="marketing-editor-body" style="height: 100%;">
                    <div class="marketing-full-edit">
                        <div class="marketing-editing-block"
                            style="background-color: #fff; width: 600px;min-height: 400px; font-family: 'Century Gothic'; font-size: 14px; line-height: 1.2;">
                        </div>
                    </div>
                </div> -->
                <div class="marketing-template-editor-body" style="position: relative;">
                    <iframe id="iframeEdit" style="width: 100%" src="/page/marketing/MailEditor.html"></iframe>
                </div>
            </div>
        </div>
        <div name="StyleBlock" data-block="PageBody" class="marketing-css-block col pr-3">
            <div>
                <h6 class="mt-2 small font-weight-bold text-secondary">Select Section</h6>
                <select class="ddlStyleElement col-12 form-control form-control-sm" data-toggle="tooltip"
                    data-placement="top" title="Element Style">
                    <option value="PageBody">Page Body</option>
                    <option value="EmailBody" selected>Email Body</option>
                    <option value="Section">Email Section</option>
                </select>
                <section name="font" data-section="email,section,button">
                    <h6 class="mt-2 small font-weight-bold text-secondary">Text</h6>
                    <select class="ddlFont col-12 form-control form-control-sm" value="fontFamily" data-toggle="tooltip"
                        data-placement="top" title="Font Style">
                        <option value="Century Gothic">Century Gothic</option>
                        <option value="Arial, sans-serif">Arial</option>
                        <option value="Comic Sans MS, cursive, sans-serif">Comic Sans MS</option>
                        <option value="Impact, Charcoal, sans-serif">Impact</option>
                        <option value="Lucida Sans Unicode, Lucida Grande, sans-serif">Lucida Sans Unicode
                        </option>
                        <option value="Tahoma, Geneva, sans-serif">Tahoma</option>
                        <option value="Trebuchet MS, Helvetica, sans-serif">Trebuchet MS</option>
                        <option value="Verdana, Geneva, sans-serif">Verdana</option>
                    </select>
                </section>

                <div class="d-flex mt-2 w-100 text-center">
                    <div class="col-5 pl-0 pr-0" data-section='email,section,button'>
                        <select data-section='email,section' class="txtSize form-control form-control-sm"
                            value="fontSize" data-toggle="tooltip" data-placement="top" title="Font Size">
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="16">16</option>
                            <option value="18">18</option>
                            <option value="20">20</option>
                            <option value="22">22</option>
                            <option value="24">24</option>
                            <option value="26">26</option>
                            <option value="30">30</option>
                            <option value="32.5">32.5</option>
                        </select>
                    </div>
                    <div class="col-5 pl-1 pr-0" data-section='email,section'>
                        <div data-section='email,section' class="sec-lineheight" data-toggle="tooltip"
                            data-placement="top" title="Line Height">
                            <select class="ddlLineHeight col form-control form-control-sm">
                                <option value="1.2">1.2</option>
                                <option value="0.5">0.5</option>
                                <option value="1">1</option>
                                <option value="1.5">1.5</option>
                                <option value="2">2</option>
                                <option value="2.5">2.5</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-2 pl-1 pr-0" data-section='email,section,button'>
                        <div data-section='email,section' class="sec-color forecolor,button">
                            <div class="lblForeColor op-color-picker col form-control form-control-sm"
                                data-toggle="tooltip" title="Font Color" data-placement="top">
                                <i class="fas fa-font"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <section name="textalign" data-section='section'>
                    <div class="d-flex mt-2 w-100 text-center">
                        <i data-section='section'
                            class="col form-control form-control-sm fas fa-align-left btn-align te-justifyLeft"
                            data-toggle="tooltip" data-placement="top" title="Text Align Left" cssval='left'
                            value="justifyLeft"></i>
                        <i data-section='section'
                            class="col form-control form-control-sm ml-1 fas fa-align-center btn-align te-justifyCenter"
                            data-toggle="tooltip" data-placement="top" title="Text Align Center" cssval='center'
                            value="justifyCenter"></i>
                        <i data-section='section'
                            class="col form-control form-control-sm ml-1 fas fa-align-right btn-align te-justifyRight"
                            data-toggle="tooltip" data-placement="top" title="Text Align Right" cssval='right'
                            value="justifyRight"></i>
                        <i data-section='section'
                            class="col form-control form-control-sm ml-1 fas fa-align-justify btn-align te-justifyFull"
                            data-toggle="tooltip" data-placement="top" title="Text Align Justify" cssval='justify'
                            value="justifyFull"></i>
                        <i data-section='section'
                            class="col form-control form-control-sm ml-1 fas fa-list-ul btn-list te-insertUnorderedList"
                            data-toggle="tooltip" data-placement="top" title="Unordered List"
                            value="insertUnorderedList"></i>
                        <i data-section='section'
                            class="col form-control form-control-sm ml-1 fas fa-list-ol btn-list te-insertOrderedList"
                            data-toggle="tooltip" data-placement="top" title="Ordered List"
                            value="insertOrderedList"></i>
                    </div>
                </section>
                <section name="textstyle" data-section='section,button'>
                    <div class="d-flex mt-2 text-center">
                        <i class="col form-control form-control-sm fas fa-bold btn-style te-bold" data-toggle="tooltip"
                            data-placement="top" title="Bold" value="bold"></i>
                        <i class="col form-control form-control-sm fas fa-italic btn-style te-italic ml-1"
                            data-toggle="tooltip" data-placement="top" title="Italic" value="italic"></i>
                        <i class="col form-control form-control-sm fas fa-underline btn-style te-underline ml-1"
                            data-toggle="tooltip" data-placement="top" title="Underline" value="underline"></i>
                        <i class="col form-control form-control-sm fas fa-subscript btn-style te-subscript ml-1"
                            data-toggle="tooltip" data-placement="top" title="Subscript" value="subscript"></i>
                        <i class="col form-control form-control-sm fas fa-superscript btn-style te-superscript ml-1"
                            data-toggle="tooltip" data-placement="top" title="Superscript" value="superscript"></i>
                        <i class="col ml-1"></i>
                    </div>
                </section>

                <div class="d-flex mt-2 w-100 text-center">
                    <span data-section='body,email,section,divider,button' class="col-4 p-0" style="display: flex;">
                        <i class="col form-control form-control-sm fas fa-redo te-redo" data-toggle="tooltip"
                            data-placement="top" title="Redo" value="redo"></i>
                        <i class="col form-control form-control-sm ml-1 fas fa-undo te-undo" data-toggle="tooltip"
                            data-placement="top" title="Undo" value="undo"></i>
                    </span>

                    <span data-section='section' class="col-4 p-0" style="display: flex;"><i
                            class="col form-control form-control-sm ml-1 fas fa-link btn-create-link"
                            data-toggle="tooltip" data-placement="top" title="Create Link"></i>
                        <i class="col form-control form-control-sm ml-1 fas fa-unlink editortool chkUnderline"
                            data-toggle="tooltip" data-placement="top" title="Remove Link"></i></span>

                    <div class="col ml-1"></div>
                    <div class="col ml-1"></div>
                </div>


                <section name="valign" data-section='section'>
                    <h6 class="mt-2 small font-weight-bold text-secondary">
                        Vertical Align
                    </h6>
                    <div class="sec-alignment" data-toggle="tooltip" data-placement="top" title="Vertical Alignment"
                        value="Alignment">
                        <select class="ddlValign h-100 col form-control form-control-sm">
                            <option value="top">Top</option>
                            <option value="middle">Middle</option>
                            <option value="bottom">Bottom</option>
                        </select>
                    </div>
                </section>
                <section name="thickness" data-section='divider'>
                    <h6 class="mt-2 small font-weight-bold text-secondary">
                        Thickness
                    </h6>
                    <div class="sec-Thickness" data-toggle="tooltip" data-placement="top" title="Thickness">
                        <input name="" type="number" placeholder="0"
                            class="txtThickness col form-control form-control-sm" min="0" data-toggle="tooltip"
                            data-placement="top" title="Thickness" />
                    </div>
                </section>


                <section name="backgroundcolor" data-section='body,email,section,divider,button'>
                    <h6 class="mt-2 small font-weight-bold text-secondary">
                        Background Color
                    </h6>
                    <div class="sec-color backcolor">
                        <div class="lblBackColor op-color-picker col-4 form-control form-control-sm"
                            data-toggle="tooltip" title="Fill Color" data-placement="top">
                            <i class="fas fa-fill-drip"></i>
                        </div>
                    </div>
                </section>

                <section name="border" data-section='body,email,section,button'>
                    <h6 class="mt-2 small font-weight-bold text-secondary">
                        Border
                    </h6>
                    <div class="sec-border d-flex ">
                        <select class="ddlBorderWidth col form-control form-control-sm" data-toggle="tooltip"
                            data-placement="top" title="Border Size">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <select class="ddlBorderStyle col form-control form-control-sm ml-1" data-toggle="tooltip"
                            data-placement="top" title="Border Pattern">
                            <option value="none">None</option>
                            <option value="solid">Solid</option>
                            <option value="dashed">Dashed</option>
                            <option value="dotted">dotted</option>
                            <option value="double">Double</option>
                            <option value="groove">Groove</option>
                            <option value="ridge">Ridge</option>
                            <option value="inset">Inset</option>
                            <option value="outset">Outset</option>
                        </select>
                        <div class="lblBorderColor op-color-picker col form-control form-control-sm ml-1"
                            data-color="#000" data-toggle="tooltip" data-placement="top" title="Border Color">
                            <i class="fas fa-tint "></i>
                            <!-- <input type="color"/> -->
                        </div>
                    </div>
                </section>

                <section name="padding" data-section='body,email,section,button'>
                    <h6 class="mt-2 small font-weight-bold text-secondary">Padding
                    </h6>
                    <div class="padding-area d-flex ">
                        <input name="" type="number" placeholder="0" class="top-box col form-control form-control-sm"
                            min="0" data-toggle="tooltip" data-placement="top" title="Top Padding" />
                        <input name="" type="number" placeholder="0"
                            class="lft-box col form-control form-control-sm ml-1" min="0" data-toggle="tooltip"
                            data-placement="top" title="Left Padding" />
                        <input name="" type="number" placeholder="0"
                            class="bot-box col form-control form-control-sm ml-1" min="0" data-toggle="tooltip"
                            data-placement="top" title="Bottom Padding" />
                        <input name="" type="number" placeholder="0"
                            class="rgt-box col form-control form-control-sm ml-1" min="0" data-toggle="tooltip"
                            data-placement="top" title="Right Padding" />

                    </div>
                </section>
                <section name="layout" data-section='email'>
                    <h6 class="mt-2 small font-weight-bold text-secondary" data-section='email'>Layout Setting</h6>
                    <div class="d-flex">
                        <div class="email-width d-flex">
                            <input data-section='email' name="" type="number" placeholder="0"
                                class="txtEmailWidth col form-control form-control-sm" min="550" max="1024"
                                data-toggle="tooltip" data-placement="top" title="Top Padding" value="600"
                                style="max-width:60px" />
                            <select class="ddlEmailWidthType col form-control form-control-sm ml-1"
                                data-toggle="tooltip" data-placement="top" title="Width type" data-section='email'>
                                <option value="px" selected>px</option>
                                <option value="%">%</option>
                            </select>
                        </div>
                        <div class="sec-emailalignment ml-1" data-toggle="tooltip" data-placement="top"
                            title="Email Alignment" value="Alignment">
                            <select class="ddlEmailAlign col form-control form-control-sm " data-section='email'>
                                <option value="left">Left</option>
                                <option value="center" selected>Center</option>
                                <option value="right">Right</option>
                            </select>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>

    <!-- Dialog Boxes-->

    <!--Image Dialog-->

    <div class="modal-body modal-image-setting">
        <div class="row">
            <div class="col-6 form-group"><label>Width (px) </label><input type="number" min="20" max="600"
                    class="txtWidth form-control"></div>
            <div class="col-6 form-group"><label>Height (px) </label><input type="number" min="20" max="600"
                    class="txtHeight form-control"></div>
            <div class="col-12 form-group">
                <div class="custom-control custom-switch d-inline-block mr-2">
                    <input type="checkbox" class="custom-control-input chkRatio" id="customSwitchRatio">
                    <label class="custom-control-label" for="customSwitchRatio"> Constrain aspect
                        ratio</label>
                </div>
                <div class="custom-control custom-switch d-inline-block mr-2">
                    <input type="checkbox" id="customSwitchResponsive" class="custom-control-input chkResponsive">
                    <label class="custom-control-label" for="customSwitchResponsive">Responsive</label>
                </div>
            </div>
            <div class="col-12 form-group text-info small">Width value must be less than, or equal to 600
                pixels</div>
            <div class="col-6 form-group"><label>Align </label><select class="ddlAlign form-control">
                    <option value="left">Left</option>
                    <option value="center">Centre</option>
                    <option value="right">Right</option>
                </select></div>
            <div class="col-6 form-group mt-4"><label><input type="checkbox" class="chkHasLink"
                        placeholder="http://www.url.com"> Link to URL</label></div>
            <div style="display:none" class="col-12 form-group tmp-link"><label>URL</label> <input type="text"
                    class="txtURL form-control" placeholder="http://www.url.com"></div>
        </div>
    </div>

    <!--Link Dialog-->

    <div class="modal-body  modal-link-setting">
        <div class="row">
            <div class="dvBtnText col-sm-6 form-group" style="display: none;"> <label>Button
                    Text</label> <input type="text" class="txtText req form-control" maxlength="50" title="Button Text">
            </div>
            <div class="col-sm-6 form-group"><label>Link Type</label> <select class="ddlLinkType form-control">
                    <option value="url">URL</option>
                    <option value="email">Email</option>
                </select></div>
            <div class="dvLinkURL col-sm-6 form-group"> <label>URL</label> <input type="text"
                    class="txtURL form-control" title="URL" placeholder="https://www.url.com"> </div>
            <div class="col-sm-12"></div>
            <div class="dvLinkEmail col-12 form-group" style="display: none;">
                <div class="row">
                    <div class="col-sm-6"><label>Email Address</label> <input type="text"
                            class="txtLinkEmailAddress email form-control" title="email address"></div>
                    <div class="col-sm-6"><label>Message Subject</label> <input type="text"
                            class="txtLinkMessageSubject form-control"></div>
                    <div class="col-sm-6"><label>Message Body</label> <br><textarea
                            class="txtLinkMessageBody form-control" rows="3" cols="3"
                            style="width:300px;padding:4px 10px;"></textarea></div>
                </div>
            </div>
            <div class="col-sm-6 form-group gp-underline" style=""><label>Underline</label> <input type="checkbox"
                    class="isUnderline"> </div>
            <div class="modal-footer"> </div>
        </div>
    </div>


    <!--Button Dialog-->

    <div class="modal-body modal-button-setting">
        <div class="row">
            <div class="dvBtnText col-sm-6 form-group"> <label>Button Text</label> <input type="text"
                    class="txtText req form-control" maxlength="50" title="Button Text"> </div>
            <div class="col-sm-6 form-group"><label>Link Type</label> <select class="ddlLinkType form-control">
                    <option value="url">URL</option>
                    <option value="email">Email</option>
                </select></div>
            <div class="dvLinkURL col-sm-6 form-group"> <label>URL</label> <input type="text"
                    class="txtURL form-control" title="URL" placeholder="https://www.url.com"> </div>
            <div class="col-sm-12"></div>
            <div class="dvLinkEmail col-12 form-group" style="display: none;">
                <div class="row">
                    <div class="col-sm-6"><label>Email Address</label> <input type="text"
                            class="txtLinkEmailAddress email form-control" title="email address"></div>
                    <div class="col-sm-6"><label>Message Subject</label> <input type="text"
                            class="txtLinkMessageSubject form-control"></div>
                    <div class="col-sm-6"><label>Message Body</label> <br><textarea
                            class="txtLinkMessageBody form-control" rows="3" cols="3"
                            style="width:100%; padding:4px 10px;"></textarea></div>
                </div>
            </div>
            <div class="col-sm-6 form-group">
                <label>Alignment</label>
                <select class="ddlAlign form-control">
                    <option value="left" selected>Left</option>
                    <option value="center">Center</option>
                    <option value="right">Right</option>
                </select>
            </div>
        </div>
    </div>

    <!--Preview Window-->


</div>