<div class="help-document">
  <div class="help-search-sec">
    <div class="container pt-5 pb-5 text-center">
      <h1 class="text-primary">Optimiser Documentation</h1>
      <h4 class="text-secondary pb-3">
        Find help using and administering Optimiser products
      </h4>
      <div class="help-search mt-4">
        <input
          id="help_input_1"
          type="text"
          class="form-control"
          placeholder="How can we help?"
        />
      </div>
    </div>
  </div>
  <div class="bg-light p-3 row">
    <div class="container help-topic-sec pt-4 pb-4">
      <h3 class="text-primary">Support Topics</h3>
      <div class="row align-items-top help-documents"></div>
    </div>
  </div>
</div>
