<div class="help-document-detail" page-id="">
  <div class="row">
    <div class="help-left-panel">
      <div class="col pt-3 shadow mt-n2">
        <h6 class="font-weight-bold pt-1 text-dark help-side-title"></h6>
        <div class="help-detail-search mb-3">
          <input
            id="help_detail_input_1"
            class="form-control"
            placeholder="Search in document"
            type="text"
          />
        </div>
        <div class=""><ul id="help-tree" class="help-main-topic"></ul></div>
      </div>
    </div>
    <div class="col p-3">
      <div class="help-detail-container">
        <h1 class="text-primary help-detail-title"></h1>
        <div class="help-detail-body"></div>
      </div>
    </div>
  </div>
</div>
