<div class="settings mb-4">
    <div class="email-settings col-12">
        <h5 class="m-0 font-weight-bold text-primary mt-3">Organization Email Settings</h5>
        <div class="row">
            <div class="col-sm-12 mt-3">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input chkIsEmailIntegration"
                        id="chkIsEmailIntegration">
                    <label class="custom-control-label" for="chkIsEmailIntegration">Enable Email Integration</label>
                </div>
            </div>

        </div>
        <div class="row frmEmailIntegration d-none">
            <div class="col-sm-12 mt-4 email-client">
            </div>
            <div class="error-container vld-parent"></div>
            <div class="col-sm-12 mt-4 email-client-settings d-none">
                <div class="row">
                    <div class="form-group col-sm-3 frmCtrl vld-parent">
                        <label class="small">Email Integration Type</label>
                        <select class="msp-ctrl ddlEmailIntegrationType form-control form-control-sm"
                            title="Email Integration Type">
                            <option value=""></option>
                            <option value="pop">POP3</option>
                            <option value="imap">IMAP</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-3 frmCtrl vld-parent">
                        <label class="small">Incoming Mail Server</label>
                        <div class="calendar-share">
                            <input type="text" class="msp-ctrl txtIncomingMailServer form-control form-control-sm"
                                title="Incoming Mail Server">
                        </div>
                    </div>
                    <div class="form-group col-sm-3 frmCtrl vld-parent">
                        <label class="small">Incoming Port No.</label>
                        <div class="calendar-share">
                            <input type="text" class="msp-ctrl txtIncomingMailServerPortNo form-control form-control-sm"
                                title="Incoming Port No">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-3 frmCtrl vld-parent">
                        <label class="small">Outgoing Mail Server (SMTP)</label>
                        <div class="calendar-share">
                            <input type="text" class="msp-ctrl txtOutgoingMailServer form-control form-control-sm"
                                title="Outgoing Mail Server">
                        </div>
                    </div>
                    <div class="form-group col-sm-3 frmCtrl vld-parent">
                        <label class="small">Outgoing Port No.</label>
                        <div class="calendar-share">
                            <input type="text" class="msp-ctrl txtOutgoingMailServerPortNo form-control form-control-sm"
                                title="Outgoing Port No">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-3 frmCtrl vld-parent">
                        <label class="small calendar-share parent-lblChk">Authentication Type</label>
                        <select class="msp-ctrl ddlAuthType form-control form-control-sm" title="Authentication Type">
                            <option value=""></option>
                            <option value="SSL">SSL</option>
                            <option value="TLS">TLS</option>
                        </select>

                    </div>
                    <div class="form-group col-sm-3 frmCtrl">
                        <label class="small">Exchange URL</label>
                        <div class="calendar-share">
                            <input type="text" class="msp-ctrl txtExchangeURL form-control form-control-sm"
                                title="Exchange URL">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 mt-4 restricted-users">
                <div class="row">
                    <h5 class="text-primary font-weight-bold mb-3 col-sm-3">Restricted Emails <span
                            class="badge btn btn-sm btn-primary"
                            title="All sent emails and received emails from these users will not download.">i</span>
                    </h5>

                </div>
                <div class="row">
                    <div class="form-group col-sm-6 restrict-email-form">
                        <label class="text-body">Add Email</label>
                        <div class="input-group m-0 vld-parent">
                            <input type="text" title="Email" data-field="ProhibitEmail" data-ui="text"
                                class="msp-ctrl form-control msp-ctrl-email txtProhibitEmail" style="max-width:450px;">
                            <div class="input-group-append">
                                <button class="btn btn-primary btnAddProhibitEmail col-auto"> Add</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col mt-3" style="max-width: 660px;">
                        <div class="table-responsive tblProhibitEmail">
                            <table class="table table-bordered w-100">
                                <thead class="w-100">
                                    <tr class="head-row w-100">
                                        <th>
                                            <div class="d-flex">
                                                <div class="field-text">Email Address</div>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="d-flex">
                                                <div class="field-text">User Name</div>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="d-flex">
                                                <div class="field-text">System User</div>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="d-flex">
                                                <div class="field-text"></div>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <nav class="mt-3 float-right restrict-email-paging">
                            <div class="paging">
                                <ul class="pagination"></ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fixed-bottom p-3 shadow text-right ">
    <button class="btn btn-primary btnSaveIntegrationSettings">Update</button>
</div>