<div class="settings mb-4">
    <div class="Opera-settings col-12">
        <h5 class="m-0 font-weight-bold text-primary mt-3">Opera Integration Settings</h5>
        <div class="row">
            <div class="col-sm-12 mt-3">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input chkIsOperaIntegration" id="chkIsOperaIntegration"
                        checked>
                    <label class="custom-control-label" for="chkIsOperaIntegration">Enable Opera Integration</label>
                </div>
            </div>
        </div>
        <div class="row frmOperaIntegration">
            <div class="col-12 mt-4 method">
                <h5 class="font-weight-bold text-primary">Opera Integration Method</h5>
                <div class="col-sm-12 mt-4 opera-method">
                    <div name="Opera To Optimiser" class="method-name OperaToOptimiser" data-val="OperaToOptimiser"><img
                            src="/images/operaToPro.png">
                        <div class="mt-2">Opera To Optimiser</div>
                    </div>
                    <div name="Optimiser To Opera" class="method-name OptimiserToOpera" data-val="OptimiserToOpera"><img
                            src="/images/proToOpera.png">
                        <div class="mt-2">Optimiser To Opera</div>
                    </div>
                    <div name="Both" class="method-name Both" data-val="Both"><img src="/images/operaPro.png">
                        <div class="mt-2">Both</div>
                    </div>
                </div>
            </div>

            <div class="col-12 mt-4 priority">
                <h5 class="font-weight-bold text-primary">Priority for updated content</h5>
                <div class="mt-3 opera-priority">
                    <div class="custom-control custom-radio">
                        <input type="radio" name="priority" class="custom-control-input" id="priorityOpera"
                            value="Opera">
                        <label class="custom-control-label" for="priorityOpera">Opera</label>
                    </div>
                    <div class="custom-control custom-radio mt-2">
                        <input type="radio" name="priority" class="custom-control-input" id="priorityOPT"
                            value="Optimiser">
                        <label class="custom-control-label" for="priorityOPT">Optimiser</label>
                    </div>
                    <div class="custom-control custom-radio mt-2">
                        <input type="radio" name="priority" class="custom-control-input" id="priorityBoth" value="Both">
                        <label class="custom-control-label" for="priorityBoth">Both</label>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-4 module ">
                <h5 class="font-weight-bold text-primary">Modules integrated with opera</h5>
            </div>
        </div>
    </div>
</div>
<div class="fixed-bottom p-3 shadow text-right">
    <button class="btn btn-primary btnSaveIntegration">Save</button>
</div>