<div class="modal fade create-link-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labe
    lledby="ObjectModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Compose email</h5>
                <button class="btn btn-sm bg-white ml-auto mr-0 modal-minimise"><i class="fas fa-minus"></i></button>
                <button type="button" class="close ml-n1 close-button"  aria-label="Close"><span
                        aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">
                <div>
                    <div class="row page-group">
                        <div class="form-group col-sm-12 ">
                            <div class="float-right">
                                <a href="#" class="btn p-1 btn-link cc-link">Cc</a>
                                <a href="#" class="btn p-1 btn-link bcc-link">Bcc</a></div>
                            <div class="input-container">
                            </div>
                        </div>

                        <div class="form-group col-sm-12 ">
                            <label class="small">Subject</label>
                            <input type="text"  data-field="Subject" data-ui="text"
                                class="msp-ctrl form-control form-control-sm msp-ctrl-text email-subject">
                        </div>
                        <div class="col-md-12 form-group">
                            <label>Message</label>
                            <div class="msp-ctrl msp-ctrl-texteditor txtUserSignature">
                                <div style="display: block;" class="mb-0 bg-light p-2 shadow-sm"> <select
                                        class="editor-ddlFont form-control form-control-sm w-auto d-inline"
                                        value="fontFamily" title="Font Family" style="width: 110px">
                                        <option value="Century Gothic">Century Gothic</option>
                                        <option value="Arial, sans-serif">Arial</option>
                                        <option value="Comic Sans MS, cursive, sans-serif">Comic Sans MS</option>
                                        <option value="Impact, Charcoal, sans-serif">Impact</option>
                                        <option value="Lucida Sans Unicode, Lucida Grande, sans-serif">Lucida Sans
                                            Unicode </option>
                                        <option value="Tahoma, Geneva, sans-serif">Tahoma</option>
                                        <option value="Trebuchet MS, Helvetica, sans-serif">Trebuchet MS</option>
                                        <option value="Verdana, Geneva, sans-serif">Verdana</option>
                                    </select> <i class="btn btn-sm fas fa-bold editortool" data-toggle="tooltip"
                                        title="" value="bold" data-original-title="bold"></i> <i
                                        class="btn btn-sm fas fa-italic editortool" data-toggle="tooltip" title=""
                                        value="italic" data-original-title="italic"></i> <i
                                        class="btn btn-sm fas fa-underline editortool" data-toggle="tooltip" title=""
                                        value="underline" data-original-title="underline"></i> <i
                                        class="btn btn-sm fas fa-subscript editortool" data-toggle="tooltip" title=""
                                        value="subscript" data-original-title="subscript"
                                        aria-describedby="tooltip618352"></i> <i
                                        class="btn btn-sm fas fa-superscript editortool" data-toggle="tooltip" title=""
                                        value="superscript" data-original-title="superscript"></i> <i
                                        class="btn btn-sm fas fa-redo editortool" data-toggle="tooltip" title=""
                                        value="redo" data-original-title="redo" aria-describedby="tooltip991293"></i> <i
                                        class="btn btn-sm fas fa-undo editortool" data-toggle="tooltip" title=""
                                        value="undo" data-original-title="undo" aria-describedby="tooltip148681"></i> <i
                                        class="btn btn-sm fas fa-align-center editortool" data-toggle="tooltip" title=""
                                        value="justifyCenter" data-original-title="justifyCenter"></i> <i
                                        class="btn btn-sm fas fa-align-justify editortool" data-toggle="tooltip"
                                        title="" value="justifyFull" data-original-title="justifyFull"></i> <i
                                        class="btn btn-sm fas fa-align-left editortool" data-toggle="tooltip" title=""
                                        value="justifyLeft" data-original-title="justifyLeft"
                                        aria-describedby="tooltip97883"></i>
                                    <i class="btn btn-sm fas fa-align-right editortool" data-toggle="tooltip" title=""
                                        value="justifyRight" data-original-title="justifyRight"></i> <i
                                        class="btn btn-sm fas fa-list-ul editortool" data-toggle="tooltip" title=""
                                        value="insertUnorderedList" data-original-title="UnorderedList"
                                        aria-describedby="tooltip216161"></i> <i
                                        class="btn btn-sm fas fa-list-ol editortool" data-toggle="tooltip" title=""
                                        value="insertOrderedList" data-original-title="OrderedList"
                                        aria-describedby="tooltip678622"></i> <i
                                        class="btn btn-sm fas fa-outdent editortool" data-toggle="tooltip" title=""
                                        value="outdent" data-original-title="outdent"
                                        aria-describedby="tooltip445720"></i> <i
                                        class="btn btn-sm fas fa-link editortool" data-toggle="tooltip" title=""
                                        value="createLink" data-original-title="create Link"></i> <i
                                        class="btn btn-sm fas fa-unlink editortool" data-toggle="tooltip"
                                        title="Remove Link" value="unlink"></i> </div>
                                <div class="texteditor" contenteditable="true"
                                    style="margin-top: 0px;  resize: vertical;overflow: auto; margin-bottom: 0px; height: 140px;border:1px solid #d1d3e2">
                                    <br>
                                    <div><br></div>
                                </div>
                            </div>

                        </div>

                        <div class="btn btn-sm btn-outline-primary ml-2 upload-button">
                            <i class="fa fa-link"></i> Attach
                            <form enctype="multipart/form-data" class="file-form">
                                <input name="file" class="btn btn-sm btn-primary ml-2 uploadFile" type="file" multiple>
                            </form>
                        </div>
                    </div>
                    <div class="uploaded-images-section mt-2">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-light close-button" >Close</button>
                <button type="button" class="btn btn-primary send-button">Send</button>
            </div>
        </div>

    </div>
</div>