<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top flex-wrap">
  <div class="container">
    <div class="text-right w-100 d-block pb-1 small font-weight-bold">
      <span class="text-primary d-inline-block pl-2 pr-2 text-secondary">+44 203 972 1666</span>
    </div>
  </div>
  <div class="container">
    <a class="navbar-brand" href="https://optimiser.com/index.html"><img src="/images/MainLogo.png"
        alt="Optimiser" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span
        class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"> <a class="nav-link" href="https://optimiser.com/why-optimiser.html">Why Optimiser <span
              class="sr-only">(current)</span></a> </li>
        <li class="nav-item"> <a class="nav-link" href="https://optimiser.com/features.html">Features</a> </li>
        <!-- <li class="nav-item"> <a class="nav-link" href="#">Industries</a> </li> -->
        <li class="nav-item"> <a class="nav-link" href="https://optimiser.com/pricing.html">Pricing</a> </li>
        <li class="nav-item"> <a class="nav-link" href="https://optimiser.com/about-us.html">About Us</a> </li>
        <li class="nav-item"> <a class="nav-link btn btn-outline-light mr-md-2"
            href="https://platform.optimiser.com/" target="_blank">Log In</a> </li>
        <!-- <li class="nav-item" style="align-items: flex-end;"> <a class="nav-link" href="#">+ Academy</a> </li> -->
        <li class="nav-item">
          <a href="https://optimiser.com/try-for-free-registration.html"
            class="btn btn-light my-2 my-sm-0 pl-3 pr-3">Try for Free</a>
        </li>
      </ul>

    </div>
  </div>
</nav>