<div class="container text-white">
    <div class="row">
      <div class="col-12 col-md-4">
        <p class="pb-0"><a href="https://www.optimiser.com/index.html"><img src="/images/white-logo.png"
              height="70" alt="" /></a>
        </p>
        <p class="small">The Power of One</p>
        <p class="social"><a href="https://www.facebook.com/optimiserplatform/" target="_blank"><img
              src="/images/SM_Facebook-light-blue.png" height="18" alt="" /></a> <a
            href=" https://www.linkedin.com/company/optimiser1/" target="_blank"><img
              src="/images/SM_Linkedin-light-blue.png" height="18" alt="" /></a><a
            href=" https://twitter.com/optimiser_" target="_blank"><img src="/images/SM_Twitter-light-blue.png"
              height="18" alt="" /></a></p>
      </div>
      <div class="col footer-link">
        <h6>Optimiser</h6>
        <a href="https://www.optimiser.com/index.html">Home</a>
        <a href="https://www.optimiser.com/why-optimiser.html">Why Optimiser</a>
        <a href="https://www.optimiser.com/features.html">Features</a>
        <a href="https://www.optimiser.com/pricing.html">Pricing</a>
        <!-- <a href="#">Industries</a>
        <a href="#">Integrations</a> -->
      </div>

      <div class="col footer-link">
        <h6>About Us</h6>
        <a href="https://www.optimiser.com/about-us.html">Company</a>
        <!-- <a href="#">Careers</a> -->
        <!-- <a href="https://optimiser.com/terms-conditions.html">Terms & Conditions</a>
        <a href="https://optimiser.com/privacy-policy.html">Privacy Policy</a>
        <a href="https://optimiser.com/gdpr.html">GDPR Compliance</a> -->
      </div>

      <div class="col footer-link">
        <h6>Help</h6>
        <a href="https://www.optimiser.com/contact.html">Contact Us</a>
        <a href="https://www.optimiser.com/faq.html">FAQs</a>
        <!-- <a href="#">Contact Support</a> -->
      </div>

    </div>
  </div>
  <div class="col-12 footer-policy text-center text-white p-3 mt-5">
    Copyright &copy; Optimiser. All rights reserved.
  </div>