<div class="row">
    <div class="col-auto calendar-left-panel pt-3 shadow mt-n2">
        <div class="nav-calendar" data-display="inline"></div>
        <div class="filter-items-div"></div>
    </div>
    <div class="col">
        <div class="row">
            <div class="col-sm-12">
                <div class="d-flex p-2 mb-3 border-bottom">
                    <div class="flex-grow-1">
                        <div class="small page-name"></div>
                        <button class="btn btn-primary btn-sm todayBtn p-1 mr-1" style="line-height: 1;"> Today</button><h5 class="m-0 font-weight-bold d-inline-block text-primary label-calendar"></h5>
                    </div>
                    <div class="flex-grow-1">
                        <div class="d-flex flex-row-reverse">
                            <div class="flex-grow-0 pl-1">
                                <button class="btn btn-primary btn-sm dropdown-toggle border-0" data-toggle="dropdown">Schedule</button>
                                <div class="dropdown-menu animated--fade-in cal-activity-menu"></div>
                            </div>
                            <ul class="nav nav-pills mb-3 ddl-calendar-view" id="cal-tab" role="tablist">
                                <li class="nav-item" value="day">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Day</a>
                                </li>
                                <li class="nav-item" value="week">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
                                        role="tab" aria-controls="pills-home" aria-selected="true">Week</a>
                                </li>
                                <li class="nav-item" value="month">
                                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact"
                                        role="tab" aria-controls="pills-contact" aria-selected="false">Month</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 view-calendar">

            </div>
            <div class="context-menu dropdown-menu animated--fade-in cal-rightclick-menu shadow"></div>
            <ul class="context-menu dropdown-menu animated--fade-in calendar-activity-item activity-rightclick-menu shadow">
                <a class="dropdown-item view-activity" href="#" data-key="view">View</a>
                <a class="dropdown-item edit-activity" href="#" data-key="edit">Edit</a>
                <a class="dropdown-item delete-activity" href="#" data-key="delete">Delete</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-key="busy">Busy</a>
                <a class="dropdown-item" href="#" data-key="free">Free</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-key="add-participant">Add Participant</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-key="lock">Lock</a>
                <a class="dropdown-item" href="#" data-key="unlock">Unlock</a>
            </ul>
            <ul class="context-menu dropdown-menu animated--fade-in calendar-shop-item activity-rightclick-menu shadow">
                <a class="dropdown-item view-activity" href="#" data-key="view">View</a>
                <a class="dropdown-item edit-activity" href="#" data-key="edit">Edit</a>
                <a class="dropdown-item delete-activity" href="#" data-key="delete">Delete</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-key="payment">Payment</a>
            </ul>
            <div class="context-menu dropdown-menu animated--fade-in pending-activity-rightclick-menu">
                <a class="dropdown-item view-activity" href="#" data-key="view">View</a>
                <a class="dropdown-item accept-activity" href="#" data-key="accept">Accept</a>
                <a class="dropdown-item reject-activity" href="#" data-key="reject">Reject</a>
            </div>
        </div>
        </div>
    </div>
</div>