<div class="control-panel">
  <div class="search-controls row">
      <!-- <div class="col-sm-12 d-sm-none d-md-block col-md-5 h-100 p-5">
          <img src="/images/setting-image.jpg" class="img-fluid" />
      </div> -->
      <div class="col-sm-12">
          <!-- <div class="row">
              <div class="col-md-12 col-lg-6 col-sm-12 pt-5">
                  <div class="input-group">
                      <input type="text" class="form-control small border-right-0 txtSearch"
                          placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
                      <div class="input-group-append">
                          <button class="form-control border-left-0" type="button"
                              style="border-radius: 0 0.35rem 0.35rem 0;">
                              <i class="fas fa-search fa-sm text-primary"></i>
                          </button>
                      </div>
                  </div>
              </div>
          </div> -->
          <div class="row admin-controls-list">

          </div>
      </div>
  </div>
 
</div>