<div class="object-detail">
    <div class="card mb-2 top-bar">
        <div class="card-header bg-white">
            <div class="d-flex">
                <div class="flex-grow-1">
                    <img src="images/nouser.jpg?ref=1" height="50" width="50"
                        class="object-picture rounded-circle d-none" />
                    <h4 class="m-0 font-weight-bold d-inline-block object-name text-primary">Details</h4>
                    <div class="clearfix"></div>
                </div>
                <div class="flex-grow-1 text-right page-top-button">
                    <button class="btn btn-sm btn-primary ml-2 btn-edit-object d-none" data-restriction="Modify">Edit</button>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="row">
            <div class="col-md-8">
                <div class="row tiles"></div>

                <div class="card mt-3 object-detail-tab main-panel">
                    <nav>
                        <div class="nav nav-tabs" role="tablist"></div>
                    </nav>
                    <div class="tab-content"></div>
                </div>
            </div>
            
            <div class="col-md-4 object-detail-right"></div>

        </div>
    </div>

</div>