<div class="main-drive">
    <form enctype="multipart/form-data" method="POST">
        <div class="public-content">

                <div class="card-header pl-0 pr-0 pb-1">
                        <div class="d-flex">
                            <div class="flex-grow-1">
                                <h5 class="m-0 font-weight-bold d-inline-block page-name text-primary">My Drive</h5>
                                <div class="clearfix"></div>
                            </div>
                            <div class="flex-grow-1 text-right page-top-button"><button type="button" class="btn btn-sm btn-outline-primary createFolder">New Folder</button>
                                <button class="btn btn-sm btn-primary ml-2 btn-add-object">File Upload</button>
                            </div>
                        </div>
                    </div>

            <ul class="public-breadcrumbs"></ul>
            <h5>Consumed Size :<span class="consumedSize"></span></h5>
            <input type="file" name="myFile" class="upload-file" data-accesstype="public"
                value="Upload Public" /><br><br>
            <table class="public-files filesTable table table-fixed table-bordered">
                <thead>
                    <tr class="head-row">
                        <th></th>
                        <th>Name</th>
                        <th>Size</th>
                        <th>Owner</th>
                        <th>Last Modified</th>
                        <th>Modified By</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
            <input type="hidden" class="hdnFolderId" data-folder="">
            <div class="up-status"></div>

        </div>


    </form>
</div>