<div class="mb-5 table-sec msp-data-grid AccountContactRelationshipList">

    <div class="card-header pl-0 pr-0 pb-1 grid-header">
        <div class="d-flex">
            <div class="flex-grow-1 position-relative page-title-info">
                <h5 class="m-0 font-weight-bold d-inline-block page-name text-primary">Shop/Staff Timing</h5>
                <div class="clearfix"></div>
                <div class="table-filter dropdown d-none hide-edit">
                    <div class="dropdown-toggle small d-inline text-primary" data-toggle="dropdown"></div>
                    <div class="dropdown-menu animated--fade-in"></div>
                    <span class="text-primary">
                        <i class="fas fa-thumbtack ml-2 default-icon d-none" data-toggle="tooltip"
                            title="This is default filter"></i>
                        <i class="fas fa-thumbtack fa-rotate-90 ml-2 set-default-icon d-none" data-toggle="tooltip"
                            title="Make it default filter"></i>
                    </span>
                </div>
            </div>
            <div class="flex-grow-1 text-right page-top-button hide-edit">

                <button class="btn btn-sm btn-primary ml-2 btn-add-employeeTiming-object" data-restriction="Create">Add
                    Staff</button>
            </div>
        </div>
    </div>

    <div class="card-body p-0 grid-body ">

        <div class="table-responsive mt-1">
            <table class="table-bordered">
                <tbody>
                    <tr class="head-row text-primary" style="text-align: center;">
                        <th>
                            <div class="d-flex" style=" width: 170px;">
                                <div class="field-text"> Location</div>


                                <div class="field-icon">
                                    <div class="sort"></div>
                                    <div class="dropdown-menu text-wrap-dropdown"><a class="dropdown-item current"
                                            data-text="clip">Clip Text</a><a class="dropdown-item" data-text="wrap">Wrap
                                            Text</a></div>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="d-flex">
                                <div class=" field-text"="">Sunday</div>
                            </div>
                            <div class="field-icon">
                                <div class="sort"></div>
                                <div class="dropdown-menu text-wrap-dropdown"><a class="dropdown-item current"
                                        data-text="clip">Clip Text</a><a class="dropdown-item" data-text="wrap">Wrap
                                        Text</a></div>
                            </div>

                        </th>
                        <th>

                            <div class="d-flex">
                                <div class="field-text">Monday</div>
                            </div>
                        </th>
                        <th>

                            <div class="d-flex">
                                <div class="field-text">Tuesday</div>
                            </div>

                        </th>
                        <th>

                            <div class="d-flex">
                                <div class="field-text">Wednesday</div>
                            </div>

                        </th>
                        <th>

                            <div>
                                <div class="field-text">Thursday</div>
                            </div>
                        </th>
                        <th class="">

                            <div>
                                <div class="field-text">Friday</div>
                            </div>
                        </th>

                        <th class="">

                            <div>
                                <div class="field-text">Saturday</div>
                            </div>
                        </th>
                        <th class="">

                            <div>
                                <div class="field-text"></div>
                            </div>
                        </th>
                    </tr>


                </tbody>
                <tbody class="user-details">
                
                </tbody>


            </table>

        </div>
        <nav class="mt-3 float-right hide-edit">
            <div class="paging">
                <ul class="pagination"></ul>
            </div>
        </nav>
    </div>


</div>