<div class="mb-5 table-sec msp-data-grid">

    <div class="card-header pl-0 pr-0 pb-1 grid-header">
        <div class="d-flex">
            <div class="flex-grow-1 position-relative page-title-info">
                <h5 class="m-0 font-weight-bold d-inline-block page-name text-primary"></h5>
                <div class="clearfix"></div>
                <div class="table-filter dropdown d-none hide-edit">
                    <div class="dropdown-toggle small d-inline text-primary" data-toggle="dropdown"></div>
                    <div class="dropdown-menu animated--fade-in"></div>
                    <span class="text-primary">
                        <i class="fas fa-thumbtack ml-2 default-icon d-none" data-toggle="tooltip"
                            title="This is default filter"></i>
                        <i class="fas fa-thumbtack fa-rotate-90 ml-2 set-default-icon d-none" data-toggle="tooltip"
                            title="Make it default filter"></i>
                    </span>
                </div>
            </div>
            <div class="flex-grow-1 text-right page-top-button hide-edit">
                <button class="btn btn-sm btn-primary ml-2 btn-addtag-object d-none" data-restriction="Modify">Add to Tag</button>
                <button class="btn btn-sm btn-primary ml-2 btn-add-object d-none" data-restriction="Create">New</button>
            </div>
        </div>
    </div>

    <div class="card-body p-0 grid-body loading-container">
        <div class="d-flex pl-0 pr-0 pt-0">
            <div class="flex-grow-1">
                <span class="small pt-2"><span class="total-count"></span> <span class="consumed-size"></span></span>
            </div>
            <div class="text-right flex-grow-1 gird-button-list hide-edit mb-2 mt-1">
                <div class="search-in-list">
                    <input type="text" class="form-control form-control-sm txtSearchInGrid"
                        placeholder="Search In List">
                </div>
                <button class="btnSearch btn btn-sm btn-outline-secondary ml-1" data-toggle="tooltip" title="Search">
                    <i class="fas fa-search"></i>
                </button>
                <button class="btnRefresh btn btn-sm btn-outline-secondary ml-1" data-toggle="tooltip" title="Refresh">
                    <i class="fas fa-sync-alt"></i>
                </button>
                <button class="btnOpenSettingGrid btn btn-sm btn-outline-secondary ml-1" data-toggle="tooltip"
                    title="Grid Setting"> <i class="fas fa-cog"></i>
                </button>
                <button class="btnEdit btn btn-sm btn-outline-secondary ml-1 d-none" data-toggle="tooltip"
                    title="Edit List" data-restriction="Modify"> <i class="fas fa-edit"></i>
                </button>
                <button class="btnDelete btn btn-sm btn-outline-secondary ml-1 d-none" data-toggle="tooltip"
                    title="Delete Selected List" data-restriction="Delete"> <i class="fas fa-trash-alt"></i>
                </button>
                <button class="btnFilter btn btn-sm btn-outline-secondary ml-1" data-toggle="tooltip"
                    title="Show Advance Filter"> <i class="fas fa-filter"></i>
                </button>
            </div>
        </div>
        <div class="table-responsive grid-table-container">
            <table class="grid-table table table-bordered">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
        <nav class="mt-3 float-right hide-edit">
            <div class="paging"></div>
        </nav>
    </div>

    <div class="fixed-bottom shadow-lg p-2 text-right bg-white cell-edit">
        <button class="btn btn-light mr-2 btnCancelGrid">Cancel</button>
        <button class="btn btn-primary btnSaveGrid" data-restriction="Modify">Update</button>
    </div>

    <div class="advc-filter-sec shadow-lg bg-gray-100">
        <div class="modal-header">
            <select class="ddlFieldTemp d-none"></select>
            <select class="ddlOperatorTemp d-none"></select>
            <h5 class="modal-title" id="ObjectModalLabel">Filters</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>

        <div class="modal-body" style="max-height:calc(100% - 100px);overflow: auto;">
            <div class="row">
                <div class="col-12 mb-2 filter-header">
                    <button type="button" class="btn btn-primary btn-save-filter">Save Filter</button>
                    <button type="button" class="btn btn-outline-primary btn-cancel-filter">Cancel</button>
                    <button type="button" class="btn btn-outline-primary btn-add-edit-filter"
                        action-type="edit">Edit</button>
                    <button type="button" class="btn btn-outline-primary btn-add-edit-filter"
                        action-type="clone">Clone</button>
                    <button type="button" class="btn btn-primary btn-add-edit-filter" action-type="add">New</button>
                </div>
                <div class="col-sm-12 filter-body">
                    <div class="card mb-2">
                        <div class="card-body pt-1 pb-1 selected-filter-detail">
                            <label class="card-text mb-0 filter-name"></label>
                            <span class="btn btn-outline-danger btn-sm float-right ml-1 mt-1 btn-delete-filter"><i
                                    class="fa fa-trash-alt"></i></span>
                        </div>

                        <div class="row ml-2 mr-2 mb-2 list-filter-edit">
                            <div class="form-group col-sm-12 mt-2">
                                <h5 class="action-type-name"></h5>
                            </div>

                            <div class="form-group col-sm-12 vld-parent">
                                <label class="small">Filter Name <span class="text-danger">*</span></label>
                                <input type="text" title="Filter Name"
                                    class="form-control form-control-sm txt-display-name msp-ctrl" data-required="true">
                            </div>
                            <div class="form-group col-sm-12 vld-parent">
                                <label class="small">Filter Api Name <span class="text-danger">*</span></label>
                                <input type="text" title="Filter Api Name"
                                    class="form-control form-control-sm txt-name msp-ctrl msp-ctrl-api-name"
                                    data-required="true">
                            </div>

                            <div class="form-group col-sm-12 mt-2">
                                <h6>Filter type</h6>
                                <label class="small"><input type="radio" name="filtertype" value="all"> All
                                    records</label>
                                <label class="small pl-2"><input type="radio" name="filtertype" value="myrecord"> My
                                    records</label>
                                <label class="small pl-2"><input type="radio" name="filtertype" value="recentview">
                                    Recently viewed</label>
                            </div>

                            <div class="form-group col-sm-12 mt-2">
                                <h6>Who can see this filter?</h6>
                                <label class="small"><input type="radio" name="accessby" value="all"> Anyone can see
                                    this filter.</label>
                                <div class="clearfix"></div>
                                <label class="small"><input type="radio" name="accessby" value="self"> Only I can see
                                    this filter.</label>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 filter-footer">
                    <h6 class="mt-2">Matching all of these filters</h6>
                    <div class="treeview-conditions col-sm-12 pt-1"></div>
                    <button class="btn btn-outline-danger btn-sm float-right btn-remove-filter-conditions">Remove All
                        Conditions</button>
                </div>
            </div>

        </div>

    </div>

</div>