body{ background: #eee;}
.rest-cont{ max-width: 500px; margin:0px auto;}
.logo-border{border-bottom: 2px solid #007bff;
    padding-top: 10px;
    padding-bottom: 10px;}

.global-form{}
.global-form label{ color: #007bff; position:initial; text-align: left; display: block; font-size: 14px; margin:0px 0px 5px 0px;}
.global-form .form-control{ width: 100%!important; margin-bottom: 10px;}
.global-form .form-control select{height: 50px;}
.global-form p input[type=radio]{ font-size: 13px;}
.font-size11{ font-size: 11px;}
.font-size14{ font-size: 14px;}