﻿body {
  position: relative;
}
.container {
  position: relative;
}
.modal-content {
  max-height: calc(100vh - 3.5rem);
  min-height: 300px;
}

.modal-body {
  overflow: auto;
}

.modal-2 {
  z-index: 1052;
}

.backdrop-2 {
  z-index: 1051;
}

.modal-3 {
  z-index: 1053;
}

.backdrop-3 {
  z-index: 1052;
}

.modal-4 {
  z-index: 1054;
}

.backdrop-4 {
  z-index: 1053;
}

.msp-data-grid .grid-table {
  width: auto;
  max-width: 0;
  background: #fff;
}

.msp-data-grid .grid-table td {
  max-width: 0;
  vertical-align: middle;
}

.page-title-info .dropdown-menu {
  max-height: 250px;
  overflow: auto;
}
.msp-data-grid .grid-table th[data-field],
.msp-data-grid .grid-table th[data-field] .d-flex {
  min-width: 100px;
}

.msp-data-grid.mode-edit .grid-table th[data-field],
.msp-data-grid.mode-edit .grid-table th[data-field] .d-flex {
  min-width: 200px;
}

.msp-data-grid .grid-table .head-row th {
  border-top: 2px solid #dddfeb;
  height: 29px;
}

.grid-table-container {
  position: relative;
  min-height: 300px;
}

.grid-table-container::before {
  content: "";
  position: absolute;
  border-top: 2px solid #dddfeb;
  border-bottom: 2px solid #dddfeb;
  width: 100%;
  height: 31px;
  top: 0;
}

.grid-table-container::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #dddfeb;
  width: 100%;
  height: 1px;
  bottom: 0;
}

.grid-table-container .grid-table {
  position: relative;
  z-index: 5;
}

.grid-table .head-row th,
.grid-table .filter-row th,
.grid-table td {
  padding: 0px;
  position: relative;
}

.grid-table .head-row th.wrap {
  overflow: visible;
}

.grid-table .head-row th > div,
.grid-table .filter-row th > div,
.grid-table td > div {
  padding: 0.2rem 0.5rem;
  display: flex;
  box-sizing: border-box;
}

.msp-data-grid .head-row .grip {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  cursor: col-resize;
  width: 10px;
  display: none;
  z-index: 99;
}

.head-row .d-flex:hover .grip {
  display: block;
  border-right: solid 3px #334554;
}

.grip.active {
  display: block !important;
  opacity: 1 !important;
  border-right: solid 3px #334554;
  left: 0;
  height: 100%;
}

.grip.active::after {
  height: 400px;
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  border-right: solid 1px #334554;
  display: block;
  content: " ";
}

.open-row-result {
  max-height: 200px;
  overflow-x: auto;
}

.msp-data-grid .cell-edit {
  display: none;
  width: 100%;
  white-space: normal !important;
}

.msp-data-grid .cell-disp {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.msp-data-grid td.wrap .cell-disp {
  white-space: normal;
  overflow-wrap: break-word;
}

.msp-data-grid.mode-edit .hide-edit {
  display: none;
}

.msp-data-grid.mode-edit .cell-edit {
  display: block;
}

.msp-data-grid .grid-table td.text-found {
  background-color: rgba(49, 232, 0, 0.16);
}

.text-found-marketing-contact {
  background-color: rgba(49, 232, 0, 0.16);
}

.head-row th.group-main,
.head-row th.group-child {
  border-bottom-color: #b1c1ce !important;
}

.msp-data-grid .group-child.default {
  display: none;
}

.msp-data-grid .group-child {
  left: 0;
  transition: all 0.5s;
}

.btn-outline-secondary:focus,
.btn-outline-secondary.focus {
  border-color: #64baff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 126, 227, 0.25);
}

.open-row {
  background: #007ee3;
  color: #fff;
  transition: all 0.4s;
}

.open-row .grid-cell .row-icon {
  color: #fff;
  display: block !important;
}

.open-row.selected .grid-cell .row-icon {
  color: #333;
}

.open-row-child {
  transition: all 0.4s;
}

.open-row-child > td {
  background: rgba(0, 126, 227, 0.07);
  padding: 1rem;
  transition: all 0.4s;
  padding: 1rem;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.15);
}

.open-row-child > td table.page-table {
  background: #fff;
  transition: all 0.4s;
}

.open-row-child .page-table thead th,
.open-row-child .page-table thead td {
  color: #007ee3;
}

#page-body .page-content {
  display: none;
}

#page-body .page-content.active {
  display: block;
}

#page-body .page-content .object-name {
  word-break: break-word;
}

#form-diag-cover {
  display: none;
}

#form-diag-cover.active {
  display: block;
  position: fixed;
  left: 20px;
  top: 20px;
  bottom: 20px;
  right: 20px;
  z-index: 101;
  background-color: #fff;
}

#form-diag-overlay {
  display: none;
}

#form-diag-overlay.active {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  background-color: #222;
  z-index: 100;
}

.msp-auto-complete {
  position: relative;
  width: 150px;
  height: 20px;
  display: inline-block;
}

.msp-auto-complete .list {
  position: absolute;
  top: 20px;
  left: 0;
  min-height: 60px;
  max-height: 400px;
  overflow-y: auto;
}

.msp-multi-dropdown {
  position: relative;
  width: 150px;
  min-height: 20px;
  display: inline-block;
}

.msp-multi-dropdown .list {
  position: absolute;
  top: 20px;
  left: 0;
  min-height: 60px;
  max-height: 300px;
  overflow-y: auto;
  display: none;
}

.msp-multi-dropdown.expand .list {
  display: block;
}

#page-nav {
  white-space: nowrap;
  flex-wrap: nowrap;
  width: 100%;
}

#page-nav .nav-item {
  position: relative;
  padding: 4px 16px;
  z-index: 1;
  color: #fff !important;
  margin-right: 2px;
  transition: 0.05s all;
  background: #007ee3;
  border: 1px solid #007ee3;
  border-bottom: 0 !important;
  border-radius: 10px 10px 0 0 !important;
  cursor: pointer;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}

#page-nav .nav-item:first-child .tab-close {
  display: none !important;
}

#page-nav .nav-item.active,
#page-nav .nav-item:hover {
  color: #007ee3 !important;
  background: #fff;
  border: 1px solid #007ee3;
  border-bottom: 0 !important;
}

#page-nav .nav-item.active::after,
#page-nav .nav-item:hover::after {
  background: #fff;
  border-bottom: 0;
  margin-bottom: -1px;
}

#page-nav .nav-item {
  transition: all 0.2s;
}

#page-nav .nav-item .tab-close {
  display: inline-block;
  position: absolute !important;
  right: 0;
  top: 0;
  height: 30px;
  padding: 5px;
  box-sizing: border-box;
  display: none;
}

.no-internet {
  position: fixed;
  top: 0;
  width: 100%;
}
#page-nav .nav-item:hover .tab-close {
  display: block;
}

.object-detail #page-nav {
  padding-left: 0;
  margin-left: 0;
}

.object-detail #page-nav .nav-item {
  padding: 5px 16px;
  border-bottom: 1px solid transparent;
}

.object-detail #page-nav .nav-item::after {
  display: none;
}

.object-detail #page-nav .nav-item.active {
  color: #007ee3;
  border-bottom: 1px solid #007ee3;
}

.object-detail #page-nav .nav-item:hover {
  color: #007ee3;
  border-bottom: 1px solid #007ee3;
}

.sidebar-dark .nav-item .nav-link {
  padding: 0.35rem 1rem;
}

.sidebar-dark .nav-item .nav-link i {
  width: 25px;
  height: 25px;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}

.head-row .sort-field {
  position: relative;
  background: transparent;
  width: 16px;
  height: 16px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  display: inline-block;
}

.head-row .sort-field:before,
.head-row .sort-field:after {
  position: absolute;
  cursor: pointer;
  opacity: 0.35;
  font-size: 1rem;
  top: 3px;
}

.head-row .sort-field.asc:before,
.head-row .sort-field.desc:after {
  color: #007ee3;
  opacity: 1;
}

.head-row .sort-field:before {
  right: 0em;
  content: "\f0de";
}

.head-row .sort-field:after {
  right: 0em;
  content: "\f0dd";
}

.head-row .expand,
.head-row .text-wrap {
  width: 14px;
  height: 14px;
  text-align: center;
  border-radius: 2px;
  margin-left: 4px;
  font-size: 14px;
  line-height: 13px;
  margin-top: 4px;
  transition: all 0.2s;
  cursor: pointer;
  opacity: 0.35;
  display: inline-block;
}

.head-row .expand:hover,
.head-row .text-wrap:hover {
  opacity: 1;
}

.head-row .field-text {
  flex-grow: 1 !important;
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
}

.text-wrap::after {
  display: none;
}

.text-wrap-dropdown {
  min-width: auto !important;
  border: #007ee3 solid 1px !important;
  padding: 0 !important;
}

.text-wrap-dropdown a[data-text="clip"]::before,
.wrap .text-wrap-dropdown a[data-text="wrap"]::before {
  position: absolute;
  left: 10px;
  top: 6px;
  width: 20px;
  height: 20px;
  color: #fff;
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: inherit;
  font-size: 10px;
}

.wrap .text-wrap-dropdown a[data-text="clip"]::before {
  display: none;
}

.text-wrap-dropdown a.dropdown-item {
  position: relative;
}

.text-wrap-dropdown a.dropdown-item:hover {
  background: #007ee3;
  color: #fff;
}

.search-in-list {
  max-width: 260px;
  display: inline-block;
  position: relative;
  width: 100%;
}

@media (max-width: 767px) {
  .search-in-list {
    max-width: 100px;
  }
}

.search-in-list input {
  border-color: #858796;
}

.sidebar {
  transition: 0.35s all;
  margin-left: -14rem;
}

.slide {
  margin-left: 0 !important;
}

.table-filter .edit-filter {
  cursor: pointer;
  margin-left: 10px;
  padding: 2px 12px 2px 3px;
  box-sizing: border-box;
  border-radius: 2px;
}

.table-filter .dropdown-toggle::after {
  font-size: 20px;
  vertical-align: 0.1em;
}

.head-row {
  background: #eaecf4;
}

.show-map {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  transition: all 0.3s;
}

.close-map {
  right: 0;
  margin-right: 10px;
  width: 40px;
  bottom: 105px;
  height: 40px;
  font-size: 20px;
  line-height: 30px;
  position: absolute;
  border-radius: 2px 2px 0 0;
}

.grid-filter-sec {
  display: none;
  transition: all 0.3s;
}

.calendar-left-panel {
  padding: 1rem 0.5rem;
  height: calc(100vh - 82px);
  overflow: hidden;
  padding-right: calc(0.5rem + 6px);
}

.calendar-left-panel.shadow {
  box-shadow: 0 0.15rem 0.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

.calendar-left-panel:hover {
  overflow: scroll;
  padding-right: calc(0.5rem);
}

.calendar-left-panel::-webkit-scrollbar {
  width: 6px;
}

.calendar-left-panel::-webkit-scrollbar-track {
  background: #fff;
}

.calendar-left-panel::-webkit-scrollbar-thumb {
  background: #c1c1c1;
}

.calendar-left-panel::-webkit-scrollbar-thumb:hover {
  background: #888;
}

[data-uid="Calendar"] {
  margin-bottom: -3rem;
}

.cal-body .col {
  border: none !important;
  font-size: 75%;
  font-weight: 600;
  padding: 6px 0px;
  cursor: pointer;
}

.view-calendar .week-view-head {
  font-size: 75%;
  text-transform: uppercase;
  font-weight: 600;
}

.view-calendar .day-grid .u {
  border-bottom: dotted 0.75px #e3e6f0;
  height: 20px;
}

.view-calendar .day-grid .l {
  border-bottom: solid 0.75px #e3e6f0;
  height: 20px;
}

.view-calendar .row .col {
  padding: 0;
}

.view-calendar .all-day .col {
  min-height: 20px;
}

.view-calendar .time-sheet {
  max-width: 10px;
  margin-left: 70px;
}

.view-calendar .time-sheet .p {
  border-bottom: solid 1px #e3e6f0;
  position: relative;
  height: 40px;
}

.view-calendar .time-sheet .c {
  font-size: 80%;
  position: absolute;
  right: 15px;
  top: -10px;
  white-space: nowrap;
}

.view-calendar .dummy {
  max-width: 80px;
}

.view-calendar .view-scroll {
  overflow-y: scroll;
  overflow-x: hidden;
}

.view-calendar h4 {
  width: 2.25rem;
  padding: 6px;
  margin: auto;
}

.attendee-type.contact,
.attendee-type.user {
  position: relative;
}

.lookup-item:hover .attendee-type.contact::before,
.lookup-item:hover .attendee-type.user::before,
.msp-multilookup .item:hover .attendee-type.contact::before,
.msp-multilookup .item:hover .attendee-type.user::before,
.msp-multilookup .item-tag:hover .attendee-type.contact::before,
.msp-multilookup .item-tag:hover .attendee-type.user::before {
  color: #fff;
}

.attendee-type.contact::before,
.attendee-type.user::before {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  left: 0;
  color: #007ee3;
  transition: all 0.3s;
}

.msp-ctrl-lookup .btn-outline-secondary {
  padding-right: 0;
  position: relative;
  margin: 0;
  width: calc(100%);
  text-align: left;
  padding: 0;
  border: 0 !important;
}

.secondary-label {
  display: none;
}

.msp-ctrl-multilookup {
  min-height: 1.85rem;
  height: auto !important;
}

.msp-ctrl-multilookup input {
  display: none;
  margin: 0;
  border: 0;
  outline: 0;
  width: 100%;
}

.msp-ctrl-multilookup.focus-ctrl {
  border: 1px solid #64baff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 126, 227, 0.25);
}

.msp-ctrl-multilookup.focus-ctrl input {
  height: 1.25rem;
  display: block;
}

.filter-row .msp-ctrl-lookup .btn-outline-secondary {
  padding: 0;
  border: 0 !important;
  text-align: left;
  margin: 0;
}

.filter-row .msp-ctrl-lookup .btn-outline-secondary:hover {
  background: #fff;
  color: #858796;
}

.filter-row .msp-ctrl-lookup .btn-outline-secondary .fa-times {
  top: 2px;
  right: 0;
}

.msp-ctrl-lookup-multi .btn-outline-secondary {
  padding-right: 1.25rem;
  position: relative;
  margin: 0.125rem;
  display: inline-block;
}

.msp-ctrl-lookup .fa-times,
.msp-ctrl-lookup-multi .fa-times,
.div-file-uploading .fa-times {
  position: absolute;
  right: 0rem;
  top: 2px;
}

.div-file-uploading .fa-times {
  top: 4px;
  margin-right: 4px;
  color: #ff0000;
  cursor: pointer;
}

.msp-ctrl-lookup .btn-outline-secondary:hover {
  color: #333333 !important;
  background: #fff !important;
}

.msp-popup {
  padding: 0.25rem 0.5rem;
}

.msp-popup .item,
.msp-popup .item-tag,
.msp-popup .add-new {
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

.msp-popup .item:hover,
.msp-popup .item-tag:hover,
.item-selected {
  background: #858796;
  color: #fff;
}

.msp-popup .no-data-found {
  padding: 0.25rem 0.5rem;
}

.current-day {
  background: #007ee3;
  border-radius: 50%;
  color: #fff;
}

.current-day:hover {
  background-color: #0069bd !important;
}

.current-day.item-selected {
  background: #007ee3;
}

.msp-popup .secondary-label {
  display: block;
  font-size: 0.75rem;
  color: #888;
}

.msp-popup .item:hover .secondary-label,
.msp-popup .item-tag:hover .secondary-label,
.item-selected .secondary-label {
  color: rgba(255, 255, 255, 0.6);
}

.msp-ctrl-lookup-multi p {
  outline: none;
  padding: 2px 4px;
  margin: 1px 0;
  height: 1.5rem;
  width: calc(100% - 0.65rem);
}

.msp-ctrl-file::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  padding: 0.25rem 0.5rem;
  line-height: 1.5;
  color: #6e707e;
  content: "Browse";
  background-color: #eaecf4;
  border-left: 1px solid #d1d3e2;
  border-radius: 0 0.2rem 0.2rem 0;
}

.msp-ctrl {
  position: relative;
}

.msp-ctrl .row {
  margin-top: -0.2rem;
  padding: 0;
  height: calc(100% + 0.3rem);
}

.msp-ctrl input[type="text"] {
  border: 0;
  width: 100%;
  height: 100%;
}

.msp-ctrl select {
  border: 0;
  width: 100%;
  height: 100%;
  outline: none;
}

.msp-ctrl-date::before {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  content: "\f073";
  left: 0.25rem;
  top: 0.215rem;
}

.msp-ctrl-time::before {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  content: "\f017";
  left: 0.25rem;
  top: 0.215rem;
}

.msp-ctrl-date input,
.msp-ctrl-time input {
  position: absolute;
  left: 1.5rem;
  top: 1px;
  height: calc(100% - 2px) !important;
  width: calc(100% - 1.75rem) !important;
}

.msp-ctrl[data-required] {
  border-left: 0.1rem solid red !important;
}

.btn-light {
  background: #d1d3e2;
  border-color: #d1d3e2;
}

.mode-edit .msp-ctrl-lookup .btn-outline-secondary {
  border: 0 !important;
  padding: 0 !important;
  text-align: left;
  margin: 0;
}

.mode-edit .msp-ctrl-lookup .btn-outline-secondary:hover {
  background: #fff;
  color: #858796;
}

.mode-edit .msp-ctrl-lookup .btn-outline-secondary .fa-times {
  right: 0;
  top: 2px;
}

.has-error .form-control {
  border-color: red;
}

.has-error .vld-message {
  margin-top: 2px;
  font-size: 13px;
  color: red;
}

.cursor-move {
  cursor: move;
}
.cursor-pointer {
  cursor: pointer;
}

.align-items-stretch {
  align-items: stretch;
}

.grid-table tbody tr:hover {
  box-shadow: inset 1px 0 0 #bfceec, inset -1px 0 0 #dfe7f7,
    0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  z-index: 1;
}

.grid-table tbody tr.selected {
  background: rgba(0, 126, 227, 0.07);
  color: #333;
}

.lblChk {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
  min-width: 16px;
  min-height: 16px;
  margin-top: 1px;
}

.parent-lblChk .lblChk {
  display: block;
  margin-top: 8px;
}

/* Hide the browser's default checkbox */

.lblChk input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border: #adb5bd solid 1px;
  border-radius: 4px;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

[disabled] {
  color: #858796;
}

.disabled label {
  color: #ddd;
  text-decoration: none;
}

.disabled .checkmark {
  background: #eee;
}

.disabled a:hover {
  text-decoration: none;
}

.disabled .checkmark:hover,
.disabled .checkbox:hover .checkmark {
  background-color: #eee;
}

.disabled .lblChk:not(.disabled-checkbox):hover input ~ .checkmark {
  background-color: #eee;
}

/* On mouse-over, add a grey background color */

.lblChk:not(.disabled-checkbox):hover input ~ .checkmark {
  background-color: #007ee3;
  border-color: rgba(0, 125, 227, 0.205);
}

.lblChk.disabled-checkbox input ~ .checkmark {
  box-shadow: 0 0 0 3px rgba(63, 63, 63, 0.205);
}

/* When the checkbox is checked, add a blue background */

.lblChk input:checked ~ .checkmark {
  background-color: #007ee3;
  border-color: rgba(0, 125, 227, 0.205);
  box-shadow: 0 0 0 3px rgba(0, 125, 227, 0.205);
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */

.lblChk input:checked ~ .checkmark:after {
  display: block !important;
}

/* Style the checkmark/indicator */

.lblChk .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.object-detail #page-nav {
  padding-left: 0;
}

.object-detail #page-nav .nav-item::after {
  display: none;
}

.object-detail #page-nav .nav-item {
  padding: 4px 16px;
  margin: 0;
}

.object-detail #page-nav .nav-item.active,
.object-detail #page-nav .nav-item:hover {
  color: #007ee3;
  border-bottom: 2px solid #007ee3;
}

.object-detail .nav-tabs {
  border-bottom-color: #007ee3;
}

/* Remove default bullets */

/* Remove margins and padding from the parent ul */

#branchView {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 16px;
}

#branchView ul {
  position: relative;
  margin-left: 10px;
}

#branchView li {
  position: relative;
}

#branchView ul li::before {
  content: "";
  display: block;
  width: 10px;
  height: 0;
  border-top: 1px solid;
  margin-top: -1px;
  position: absolute;
  top: 10px;
  left: 0px;
  margin-left: -10px;
}

#branchView ul::before {
  content: "";
  display: block;
  width: 0;
  position: absolute;
  top: -5px;
  bottom: 0;
  left: 5px;
  border-left: 1px solid;
}

#branchView .nested {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 16px;
}

/* Style the caret/arrow */

#branchView .caret {
  cursor: pointer;
  user-select: none;
  /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */

#branchView .caret::before {
  content: "\f0fe";
  color: black;
  display: inline-block;
  margin-right: 6px;
  font-family: "Font Awesome 5 Free";
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */

#branchView .caret-down::before {
  content: "\f146";
  font-family: "Font Awesome 5 Free";
}

/* Hide the nested list */

#branchView .nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */

#branchView .active {
  display: block;
}

#branchView .caret.caret-down {
  color: #007ee3;
}

#branchView .caret.caret-down::before {
  color: #007ee3;
}

.object-detail-right .collapsed i {
  transform: rotate(180deg);
  transition: all 0.35s;
}

.object-detail-right .card:first-child {
  margin-top: 0 !important;
}

.simple-list ul {
  list-style: none;
  padding-left: 0px;
  margin: 0;
}

.simple-list ul li a {
  padding: 0.6rem 1rem;
  display: block;
  border-bottom: 1px solid #eee;
  text-decoration: none;
  transition: all 0.2s;
}

.simple-list ul li a:hover {
  background: #007ee3;
  color: #fff;
}

.changed .msp-ctrl,
.changed input,
.changed select,
.changed textarea,
.changed .msp-ctrl-lookup {
  background: #c1dcf2;
}

.msp-ctrl-lookup .lookup-item {
  display: flex;
}

.msp-ctrl-lookup .lookup-item > span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 10px);
}

.cell-edit i.fa-lock {
  font-size: 10px;
  position: absolute;
  right: 10px;
  top: 30%;
}

#GridSettingModal .ui-sortable-handle {
  width: 100% !important;
}

.grid-cell {
  position: relative;
  justify-content: space-between;
  display: flex;
  margin: auto;
}

.grid-cell .row-icon {
  display: none !important;
  position: absolute;
  right: 0px;
  top: 2px;
  width: 14px;
  height: 14px;
  font-size: 14px;
  text-align: center;
  color: #007ee3;
  border-radius: 2px;
  box-sizing: border-box;
  padding-top: 3px;
  cursor: pointer;
  animation: arrowBranch 0.3s ease-in;
}

@keyframes arrowBranch {
  0% {
    top: 0;
  }
  50% {
    top: 5px;
  }
  100% {
    top: 0;
  }
}

@keyframes swing {
  0% {
    -webkit-transform: rotateZ(-5deg);
    transform: rotateZ(-5deg);
  }
  50% {
    -webkit-transform: rotateZ(5deg);
    transform: rotateZ(5deg);
  }
  100% {
    transform: rotateZ(-5deg);
    -webkit-transform: rotateZ(-5deg);
  }
}

#notificationDropdown i.bell-swing {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  animation: road-animates 1s linear infinite;
  -webkit-animation: swing 1s linear infinite;
  -moz-animation: swing 1s linear infinite;
  -o-animation: swing 1s linear infinite;
  transform-origin: center top;
  -moz-transform-origin: center top;
  -webkit-transform-origin: center top;
  color: #858796;
}

#notificationDropdown .badge {
  font-size: 85%;
}

.grid-cell .row-icon::before {
  top: 3px;
}

.grid-table tbody tr:hover .row-icon {
  display: inline-block !important;
}

.mode-edit .grid-table tbody tr:hover .row-icon {
  display: none !important;
}

@keyframes leftRight {
  0% {
    left: -100px;
    opacity: 0;
    background: white;
  }
  75% {
    background: rgb(232, 235, 255);
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

.input-group-prepend .btn-outline-primary,
.input-group-append .btn-outline-primary {
  border-color: #d1d3e2;
  font-size: 0.85rem !important;
  line-height: 1 !important;
}

.input-group-prepend {
  margin-right: 0;
}
.input-group-prepend .btn {
  border-right: 0;
}

.page-form .modal-body div:first-child h6 {
  margin-top: 0 !important;
}

.object-detail-tab .nav-tabs .nav-link {
  color: #333;
  border: 0;
  border-bottom: 2px solid transparent;
}

.object-detail-tab .nav-tabs .nav-link.active,
.object-detail-tab .nav-tabs .nav-item.show .nav-link,
.object-detail-tab .nav-tabs .nav-link:hover {
  color: #007ee3;
  border: 0;
  border-bottom: 2px solid #007ee3;
  cursor: pointer;
}

.object-detail-tab .rounded-circle {
  width: 30px;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  padding: 0;
}

.pr-15 {
  padding-right: 15px;
}

/*calendar css*/

.cal-activity {
  color: white;
  position: absolute !important;
}

.month-activity-container {
  position: relative;
}

.right-clicked-activity {
  background: rgba(0, 126, 227, 1) !important;
  transition: all 0.2s;
  color: #fff !important;
}

.allday-high-activity,
.allday-low-activity {
  position: absolute;
  right: 4px;
  font-size: 16px;
  line-height: 1;
  top: 1px;
}

/* .day-cal-activity[data-priority="high"]::after, .single-day-activity.cal-activity[data-priority="high"]::after, .month-cal-activity[data-priority="high"]::after {
  content: "!";
  position: absolute;
  right: 5px;
  font-size: 16px;
  top: -2px !important;
  color: red;
  font-weight: bold;
} */

.day-cal-activity.pending[data-priority="high"]::after,
.cal-activity.pending[data-priority="high"]::after,
.month-cal-activity.pending[data-priority="high"]::after {
  color: #fff;
}

.single-day-activity,
.month-cal-activity,
.meeting {
  background-color: #d2effd;
  padding: 0 6px;
  color: #2b77ad;
  font-weight: 600;
  box-sizing: border-box;
  border: 1px solid #fff;
  opacity: 0.8;
  text-align: left;
  cursor: grab;
}

.activity-context-menu {
  width: 16px;
  height: 16px;
  display: inline-block;
  font-size: 9px;
  font-weight: bold;
  background: #317de3;
  line-height: 16px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  margin-right: 2px;
  position: relative;
  top: -2px;
}

.right-clicked-activity .activity-context-menu,
[data-uid="Calendar"] .dropdown-item:active .activity-context-menu {
  color: #317de3;
  background: #fff;
}

.month-cal-activity.middle-split-activity::before,
.month-cal-activity.last-split-activity::before {
  border-right-color: #d2effd !important;
}

.month-cal-activity.first-split-activity::after,
.month-cal-activity.middle-split-activity::after {
  border-left-color: #d2effd !important;
}

.month-cal-activity.middle-split-activity[data-activitytype="Call"]::before,
.month-cal-activity.last-split-activity[data-activitytype="Call"]::before {
  border-right-color: #fff4cd !important;
}

.month-cal-activity.first-split-activity[data-activitytype="Call"]::after,
.month-cal-activity.middle-split-activity[data-activitytype="Call"]::after {
  border-left-color: #fff4cd !important;
}

.single-day-activity:active,
.month-cal-activity:active {
  cursor: grabbing;
  background: #007ee3 !important;
  color: #fff !important;
}

/* .month-cal-activity[data-activitytype="Call"], .single-day-activity[data-activitytype="Call"], .call {
  background: #fff4cd;
  border: 1px solid #fff;
  border-left: #bb8a20 2px solid;
  color: #bb8a20;
  font-weight: 600;
  opacity: .8;
} */

.meeting,
.call {
  box-shadow: none;
  cursor: default;
}

.other-user-single-day-activity {
  background-color: rgb(137, 195, 243);
  padding-left: 2px;
  box-shadow: 1px 1px 5px #eee;
}

.pending[data-activitytype="Meeting"] {
  padding: 0px;
  padding-left: 10px;
  /* border-left: solid 2px #ff6000!important; */
  animation: blinkingMeetingBackground 1s infinite;
  position: relative;
}

.pending[data-activitytype="Call"] {
  padding: 0px;
  padding-left: 10px;
  /* border-left: solid 2px #ff6000!important; */
  animation: blinkingCallBackground 1s infinite;
  position: relative;
}

@keyframes blinkingMeetingBackground {
  0% {
    background-color: #d2effd;
    color: #2b77ad;
  }
  50% {
    background: red;
    color: #fff;
  }
  100% {
    background-color: #d2effd;
    color: #2b77ad;
  }
}

@keyframes blinkingCallBackground {
  0% {
    background-color: #d2effd;
    color: #2b77ad;
  }
  50% {
    background: red;
    color: #fff;
  }
  100% {
    background-color: #d2effd;
    color: #2b77ad;
  }
}

.all-day-activity {
  background-color: #dcf2d4;
  padding: 0 0.25rem;
  color: #168d25;
  font-weight: 600;
  border-left: solid 2px #168d25;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #fff;
}

span.activity-overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

.first-split-activity::after,
.middle-split-activity::after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #dcf2d4;
  border-width: 10px;
  margin-top: -10px;
}

.first-split-activity.other-user::after,
.middle-split-activity.other-user::after {
  border-left-color: #d0d7fd !important;
}

.middle-split-activity::before,
.last-split-activity::before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #dcf2d4;
  border-width: 10px;
  margin-top: -10px;
}

.middle-split-activity.other-user::before,
.last-split-activity.other-user::before {
  border-right-color: #d0d7fd !important;
}

.middle-split-activity,
.last-split-activity,
.middle-split-activity.other-user,
.last-split-activity.other-user {
  border-left: transparent !important;
}

.msp-date-picker {
  width: 180px;
}

.right-clicked-activity {
  background: rgba(0, 126, 227, 1) !important;
  transition: all 0.2s;
  color: #fff !important;
}

.other-user-all-day-activity {
  background-color: #5291c5;
  padding: 0px;
  padding-left: 10px;
  color: white;
  border: solid 1px #eee;
}

.clicked-activity {
  background-color: #0069bd;
  border: solid 1px #eee;
  color: #fff;
  z-index: 100 !important;
}

.view-calendar .view-scroll-all-day {
  overflow-y: scroll;
  overflow-x: hidden;
}

[data-uid="Calendar"] .dropdown-item {
  padding: 0.25rem 1rem !important;
}

.wrap {
  text-overflow: ellipsis;
  white-space: nowrap !important;
  overflow: hidden;
}

.mode-edit .wrap {
  overflow: visible;
}

th.wrap {
  overflow: visible;
}

.other-user-month-cal-activity {
  color: white;
  background-color: #6995b9;
  border: solid 1px #fff;
}

.clicked-month-activity {
  background-color: #004177;
  box-shadow: 1px 1px 5px #666;
  width: 100% !important;
}

.activity-date-container {
  background-color: #e3e6f0;
}

.activity-container-row {
  min-height: 80px;
}

.activity-container-row .col {
  width: 14.28% !important;
}

.view-calendar .row {
  margin: 0 !important;
}

#cal-tab .nav-link,
.report-tab .nav-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.7109375rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.other-user {
  background-color: #d0d7fd !important;
  padding: 0px;
  padding-left: 10px;
  color: #3f51b5 !important;
  border-left: solid 2px #3f51b5 !important;
}

.other-user[data-lockactivity="true"] {
  border-left: solid 2px red !important;
  cursor: no-drop;
  color: red !important;
}

.lookup-item[data-status="rejected"],
.lookup-item[data-status="deleted"] {
  background-color: #ff6758;
  color: #fff;
}

.lookup-item[data-status="accepted"] {
  background-color: #007ee3;
  color: #fff;
}

.lookup-item[data-status="pending"] {
  background-color: #9b9da9;
  color: #fff;
}

.lookup-display-record[data-status="rejected"],
.lookup-display-record[data-status="deleted"] {
  color: #ff1313;
}

.lookup-display-record[data-status="accepted"] {
  color: #007ee3;
}

.lookup-display-record[data-status="pending"] {
  color: #9b9da9;
}

.deleted-record,
.suspended-user,
.replaced-user {
  text-decoration: line-through !important;
}

.attendee-type[data-status="rejected"],
.attendee-type[data-status="deleted"] {
  color: #ff1313;
}

.attendee-type[data-status="accepted"] {
  color: #007ee3;
}

.attendee-type[data-status="pending"] {
  color: #9b9da9;
}

.msp-current-time {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  z-index: 500;
  background-color: #e74a3b;
}

.msp-current-time::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #e74a3b;
  content: "";
  display: block;
  border-radius: 50%;
  left: -6px;
  top: -3px;
}
.item-exists {
  position: relative;
}
.item-exists::after {
  position: absolute;
  content: "";
  width: 3px;
  height: 3px;
  background: #007ee3;
  border-radius: 50%;
  bottom: 3px;
  left: 13px;
}
.item-selected.item-exists::after,
.current-day.item-exists::after {
  background: #fff;
}

/* Marketing Section Start*/

.marketing {
  display: inline;
}

.marketing-template-editor .block-item.heading-txt {
  background-image: url(../images/marketing-template/heading-txt.jpg);
}

.marketing-template-editor .block-item.p-txt {
  background-image: url(../images/marketing-template/p-txt.jpg);
}

.marketing-template-editor .block-item.lower-heading-p-txt {
  background-image: url(../images/marketing-template/lower-heading-p-txt.jpg);
}

.marketing-template-editor .block-item.small-heading-p-txt {
  background-image: url(../images/marketing-template/small-heading-p-txt.jpg);
}

.marketing-template-editor .block-item.heading-p-txt {
  background-image: url(../images/marketing-template/heading-p-txt.jpg);
}

.marketing-template-editor .block-item.p-heading-txt {
  background-image: url(../images/marketing-template/p-heading-txt.jpg);
}

.marketing-template-editor .block-item.full-txt {
  background-image: url(../images/marketing-template/full-txt.jpg);
}

.marketing-template-editor .block-item.two-txt {
  background-image: url(../images/marketing-template/two-txt.jpg);
}

.marketing-template-editor .block-item.single-quot-text {
  background-image: url(../images/marketing-template/single-quot-text.png);
}

.marketing-template-editor .block-item.two-text-colons {
  background-image: url(../images/marketing-template/two-text-colons.jpg);
}

.marketing-template-editor .block-item.three-text-check {
  background-image: url(../images/marketing-template/three-text-check.png);
}

.marketing-template-editor .block-item.two-text-check {
  background-image: url(../images/marketing-template/two-text-check.png);
}

.marketing-template-editor .block-item.text-three {
  background-image: url(../images/marketing-template/text-three.jpg);
}

.marketing-template-editor .block-item.two-unorderedlist-img {
  background-image: url(../images/marketing-template/two-unorderedlist-img.png);
}

.marketing-template-editor .block-item.two-orderedlist-img {
  background-image: url(../images/marketing-template/two-orderedlist-img.png);
}

.marketing-template-editor .block-item.txt-left {
  background-image: url(../images/marketing-template/txt-left.jpg);
}

.marketing-template-editor .block-item.txt-right {
  background-image: url(../images/marketing-template/txt-right.jpg);
}

.marketing-template-editor .block-item.two-img {
  background-image: url(../images/marketing-template/two-img.jpg);
}

.marketing-template-editor .block-item.two-img-txt {
  background-image: url(../images/marketing-template/two-img-txt.jpg);
}

.marketing-template-editor .block-item.full-img {
  background-image: url(../images/marketing-template/full-img.jpg);
}

.marketing-template-editor .block-item.text-three-colons-img {
  background-image: url(../images/marketing-template/text-three-colons-img.jpg);
}

.marketing-template-editor .block-item.three-colons-img {
  background-image: url(../images/marketing-template/three-colons-img.jpg);
}

.marketing-template-editor .block-item.box-text-rgt-img {
  background-image: url(../images/marketing-template/box-text-rgt-img.jpg);
}

.marketing-template-editor .block-item.box-text-lft-img {
  background-image: url(../images/marketing-template/box-text-lft-img.jpg);
}

.marketing-template-editor .block-item.text-list-img {
  background-image: url(../images/marketing-template/text-list-img.jpg);
}

.marketing-template-editor .block-item.h-p-three-img {
  background-image: url(../images/marketing-template/h-p-three-img.jpg);
}

.marketing-template-editor .block-item.img-p-img-p-left {
  background-image: url(../images/marketing-template/img-p-img-p-left.jpg);
}

.marketing-template-editor .block-item.img-four {
  background-image: url(../images/marketing-template/img-four.jpg);
}

.marketing-template-editor .block-item.logo-top {
  background-image: url(../images/marketing-template/logo-top.png);
}

.marketing-template-editor .block-item.unsubscribe-template {
  background-image: url(../images/marketing-template/unsubscribe-template.jpg);
}

.marketing-template-editor .block-item.footer-plain {
  background-image: url(../images/marketing-template/footer-plain.jpg);
}

.marketing-template-editor .block-item.footer-two-col {
  background-image: url(../images/marketing-template/footer-two-col.jpg);
}

.marketing-template-editor .block-item.footer-two-col-ext {
  background-image: url(../images/marketing-template/footer-two-col-ext.jpg);
}

.marketing-template-editor .block-item.box-img-with-buttons-sec1 {
  background-image: url(../images/marketing-template/box-img-with-buttons-sec1.jpg);
}

.marketing-template-editor .block-item.box-img-with-buttons-sec2 {
  background-image: url(../images/marketing-template/box-img-with-buttons-sec2.jpg);
}

.marketing-template-editor .block-item.box-img-with-buttons-sec3 {
  background-image: url(../images/marketing-template/box-img-with-buttons-sec3.jpg);
}

.marketing-template-editor .block-item.box-img-with-buttons-sec5 {
  background-image: url(../images/marketing-template/box-img-with-buttons-sec5.jpg);
}

.marketing-template-editor .block-item.template-buttons {
  background-image: url(../images/marketing-template/template-buttons.jpg);
}

.marketing-template-editor .block-item.template-buttons-2 {
  background-image: url(../images/marketing-template/template-buttons-2.jpg);
}

.marketing-template-editor .block-item.two-column-buttons {
  background-image: url(../images/marketing-template/two-column-buttons.jpg);
}

.marketing-template-editor .block-item.three-column-buttons {
  background-image: url(../images/marketing-template/three-column-buttons.jpg);
}

.marketing-template-editor .block-item.lft-txt-4btn {
  background-image: url(../images/marketing-template/lft-txt-4btn.jpg);
}

.marketing-template-editor .block-item.social-icons {
  background-image: url(../images/marketing-template/social-icons.jpg);
}

.marketing-template-editor .block-item.youtube-full {
  background-image: url(../images/marketing-template/youtube-full.png);
}

.marketing-template-editor .block-item.map-small {
  background-image: url(../images/marketing-template/map-small.jpg);
}

.marketing-template-editor .block-item.map-full {
  background-image: url(../images/marketing-template/map-full.jpg);
}

.block-item.gray-border-4 {
  background-image: url(../images/marketing-template/gray-border-4.jpg);
}

.block-item.gray-border-5 {
  background-image: url(../images/marketing-template/gray-border-5.jpg);
}

.block-item.gray-border-6 {
  background-image: url(../images/marketing-template/gray-border-6.jpg);
}

.block-item.gray-border-8 {
  background-image: url(../images/marketing-template/gray-border-8.jpg);
}

.block-item.gray-border-10 {
  background-image: url(../images/marketing-template/gray-border-10.jpg);
}

.block-item.gray-border-12 {
  background-image: url(../images/marketing-template/gray-border-12.jpg);
}

.marketing-template-editor .block-item .block-item-edt {
  display: none;
}

.marketing-editing-block .block-item {
  min-height: auto !important;
}

.marketing-editing-block .block-item .block-item-edt {
  display: block;
}

.marketing-editing-block {
  fill: unset;
  display: block;
  width: 600px;
  min-height: 400px;
  margin: 0 auto;
  margin-bottom: 100px;
  color: #000;
}

.marketing-full-edit {
  overflow: initial;
  margin-bottom: 200px;
  margin-top: 62px;
  position: relative;
}

.marketing-template-editor {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  height: 100%;
  width: 100%;
}
/* 
.marketing-editing-block-container {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden
} */
.tbl-icons .fa-grip-horizontal {
  cursor: grab;
}
.marketing-editing-block-container {
  background-color: rgb(238, 238, 238);
}

.template-block-droppable {
  height: 5px;
  background-color: #f2f2f2;
  color: #007ee3 !important;
  font-size: 14px !important;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.template-block-droppable.ui-state-hover {
  background-color: #007ee3 !important;
  color: white !important;
}

.template-block-droppable.ui-state-active {
  height: 28px;
  line-height: 28px;
}

.marketing-template-editor .block-item {
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100px;
  padding: 0px;
  border-bottom: solid 2px #dddfeb;
  position: relative;
}

.block-item.active {
  border: dashed 1px black;
}

/* Marketing Section  End*/

.template-block-from label {
  font-size: 13px;
  line-height: 24px;
  float: left;
  padding-right: 5px;
}

.template-block-from span {
  margin-right: 8px;
}

.marketing-editor {
  max-width: 260px;
  width: 260px;
  padding-left: 45px;
  position: relative;
  border-right: 2px solid #dddfed;
  overflow: auto;
}
.fixedbody {
  position: fixed;
}
.drag-helper {
  padding: 10px;
  font-weight: bold;
  color: #222;
  border: dashed 1px #777;
  width: 210px;
  z-index: 99999;
  display: none;
  /*margin-top: 60px;*/
}
.colorpicker_blank {
  position: absolute;
  width: 20px;
  height: 21px;
  left: 296px;
  top: 142px;
  overflow: hidden;
  border: solid 0.5px #333;
  padding: 1px 3px;
  color: red;
  background-color: #222;
}
.marketing-editor .nav-tabs {
  background: #007ee3;
  width: 45px;
  display: inline-block;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
}
.marketing-editor .nav-tabs .nav-link {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

.marketing-editor .nav-tabs .nav-link {
  color: #fff;
  transition: all 0.25s;
  border-radius: 0 !important;
  border: 0;
}

.marketing-editor .nav-tabs .nav-item {
  margin: 0;
}

.marketing-editor .nav-tabs .nav-link.active {
  color: #007ee3;
}

[name="TextBlock"],
[name="ImageBlock"],
[name="HeaderBlock"],
[name="ButtonBlock"],
[name="SocialBlock"],
[name="DividerBlock"],
[name="DynamicFieldsBlock"] {
  overflow: auto !important;
  height: calc(100vh - 70px);
}

/* [name="StyleBlock"][data-block="PageBody"] .ddlFont, [name="StyleBlock"][data-block="PageBody"] .txtSize, [name="StyleBlock"][data-block="PageBody"] .fa-bold.editortool, [name="StyleBlock"][data-block="PageBody"] .fa-italic.editortool, [name="StyleBlock"][data-block="PageBody"] .fa-underline.editortool, [name="StyleBlock"][data-block="PageBody"] .fa-subscript.editortool, [name="StyleBlock"][data-block="PageBody"] .fa-superscript.editortool, 
[name="StyleBlock"][data-block="PageBody"] .fa-redo.editortool, [name="StyleBlock"][data-block="PageBody"] .fa-undo.editortool, [name="StyleBlock"][data-block="PageBody"] .fa-align-center.editortool, [name="StyleBlock"][data-block="PageBody"] .fa-align-justify.editortool, [name="StyleBlock"][data-block="PageBody"] .fa-align-left.editortool, [name="StyleBlock"][data-block="PageBody"] .fa-align-right.editortool,  [name="StyleBlock"][data-block="PageBody"] .fa-list-ul.editortool,
[name="StyleBlock"][data-block="PageBody"] .fa-list-ol.editortool, [name="StyleBlock"][data-block="PageBody"] .fa-outdent.editortool, [name="StyleBlock"][data-block="PageBody"] .fa-link, [name="StyleBlock"][data-block="PageBody"] .fa-unlink.editortool
{
  display: none;
} */
/* 
.marketing-editing-block-container {
    width: calc(100% - 350px);
} */
.txtSize {
  min-width: 85px;
}

.templateList.marketing-list {
  padding: 0;
}

.templateList.marketing-list li {
  list-style: none;
  position: relative;
  transition: all 0.2s;
}

.templateList.marketing-list li a {
  display: block;
  padding-bottom: 100%;
  background-size: 100% auto !important;
  transition: all 0.2s;
}

.TemplateSavedBasic .templateList.marketing-list li a {
  background-size: auto 100% !important;
  background-position: 50% !important;
  background-color: #eee !important;
  background-repeat: no-repeat !important;
}

.templateList.marketing-list li .marketing-preview,
.templateList.marketing-list li .template-clone,
.templateList.marketing-list li .template-delete {
  display: none;
  transition: all 0.4s;
  margin-bottom: 4px;
}

.templateList.marketing-list li:hover .marketing-preview,
.templateList.marketing-list li:hover .template-clone,
.templateList.marketing-list li:hover .template-delete {
  display: block;
}

.templateList.marketing-list li:hover a {
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
  border-color: #007ee3;
}

.templateList.marketing-list li .title {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5;
}

.templateList.marketing-list li:hover .title {
  color: #007ee3;
}

.templateList.marketing-list li .sub-title {
  transition: all 0.2s;
}

.templateList.marketing-list li:hover .sub-title {
  color: #000 !important;
}

.marketing-editing-block .active {
  position: relative;
  z-index: 2;
}

.marketing-editing-block .active::after {
  z-index: -1;
  border: dashed 2px #000;
  position: absolute;
  left: -2px;
  top: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px) !important;
  content: " ";
}

.marketing-editing-block div[contenteditable] {
  outline: 0;
}
#iframeEdit {
  height: calc(100vh - 65px) !important;
  border: 0 !important;
}

/* [name="StyleBlock"] {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 340px);
    background: #fff;
    z-index: 100;
    color: #fff;
} */

[name="StyleBlock"] .col-auto {
  border: 1px solid #eee;
  border-radius: 0;
  color: #000;
  min-width: 24px;
  padding: 4px 10px;
}
.marketing-css-block {
  max-width: 280px;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100vh - 65px);
  box-sizing: border-box;
}

[name="StyleBlock"] .padding-area .col[type="number"] {
  max-width: 60px;
}

[name="StyleBlock"] .padding-area .col.lft-box {
  border-left: #000 2px solid;
}

[name="StyleBlock"] .padding-area .col.rgt-box {
  border-right: #000 2px solid;
}

[name="StyleBlock"] .padding-area .col.bot-box {
  border-bottom: #000 2px solid;
}

[name="StyleBlock"] .padding-area .col.top-box {
  border-top: #000 2px solid;
}

.block-row-template-edit {
  width: 38px;
  position: absolute;
  z-index: 99;
  top: 0;
  left: -38px;
  display: none;
}

.block-row-template-edit .fa.btn {
  max-width: 26px;
  width: 100%;
  height: 26px;
  padding-left: 0;
  padding-right: 0;
}

#img-template-edit {
  width: 30px;
  position: absolute;
  z-index: 3;
  color: #fff;
  font-size: 18px;
  text-align: center;
  padding: 4px;
}

#img-template-resolution {
  position: absolute;
  z-index: 100;
  color: #fff;
  font-size: 12px;
  text-align: center;
  padding: 4px;
}

a,
.lookup-display-record,
.email-section .email {
  color: #007ee3;
  cursor: pointer;
}

.lookup-display-disabled-record {
  color: #3a3b45;
  cursor: auto;
}

a:hover,
.lookup-display-record:hover,
.email-section .email:hover {
  text-decoration: underline;
}

.bounced-emails-table .data-row[visible="false"],
.recipients-table .data-row[visible="false"],
.no-result {
  display: none;
}

.bounced-emails-table .data-row[visible="true"],
.recipients-table .data-row[visible="true"] {
  display: table-row;
}

.event-filter-menu .lblChk,
.user-filter-menu .lblChk,
.query-list .lblChk {
  display: block;
  margin: 8px 0;
  padding: 0px 25px 1px;
  position: relative;
}

.query-list {
  margin-left: 9px;
  margin-top: 15px;
}

/*-------------Control panel css-------------*/
.control-panel .txtSearch {
  max-width: 600px;
}
.control-panel .box,
.integration-plugins .box {
  color: #007ee3;
  cursor: pointer;
  min-width: 210px;
  max-width: 340px;
  cursor: pointer;
}
.control-panel .box .card,
.integration-plugins .box .card {
  transition: all 0.3s;
}

.control-panel .box:hover .card,
.integration-plugins .box:hover .card {
  background: #007ee3;
  color: #fff;
  border-color: #007ee3;
}
.operaIcon {
  line-height: 52px;
}
.operaIcon::before {
  content: url(../images/opera.png);
}
.link-page:hover .operaIcon::before {
  content: url(../images/opera-w.png);
}
.control-panel .box .card h4,
.integration-plugins .box .card h4 {
  color: #858796;
}

.control-panel .box:hover .card h4,
.integration-plugins .box:hover .card h4 {
  color: #fff;
}
.email-client {
  clear: both;
  margin-top: 20px;
}
.client-name,
.method-name {
  width: 150px;
  height: 150px;
  text-align: center;
  border: 2px solid #e3e6f0;
  border-radius: 0.35rem;
  margin-right: 15px;
  margin-bottom: 15px;
  float: left;
  background: #fff;
  transition: all 0.2s;
  cursor: pointer;
  position: relative;
}
.client-name:hover,
.client-name.active,
.method-name:hover,
.method-name.active {
  border-color: #007ee3;
  color: #007ee3;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}
.client-name.active::after,
.method-name.active::after {
  content: "\f00c";
  width: 30px;
  height: 30px;
  background: #007ee3;
  color: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 0.3rem 0 0.2rem 0;
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  line-height: 30px;
}
.client-name img,
.method-name img {
  height: 75px;
  margin-top: 20px;
}
.client-name.zoho img,
.method-name.zoho img {
  max-width: 120px;
  height: auto;
  margin-bottom: 34px;
}
.client-name.custom img,
.method-name.custom img {
  fill: #007ee3;
}
.client-name.zoho span,
.method-name.zoho span {
  line-height: 75px;
  display: block;
  margin-top: 20px;
}

.control-panel .box,
.integration-plugins .box {
  color: #007ee3;
  cursor: pointer;
  min-width: 210px;
  max-width: 340px;
  cursor: pointer;
}

.control-panel .box .card,
.integration-plugins .box .card {
  transition: all 0.3s;
}

.control-panel .box:hover .card,
.integration-plugins .box:hover .card {
  background: #007ee3;
  color: #fff;
  border-color: #007ee3;
}

.operaIcon {
  line-height: 52px;
}

.operaIcon::before {
  content: url(../images/opera.png);
}

.link-page:hover .operaIcon::before {
  content: url(../images/opera-w.png);
}

.control-panel .box .card h4,
.integration-plugins .box .card h4 {
  color: #858796;
}

.control-panel .box:hover .card h4,
.integration-plugins .box:hover .card h4 {
  color: #fff;
}

.email-client {
  clear: both;
  margin-top: 20px;
}

.client-name {
  width: 150px;
  height: 150px;
  text-align: center;
  border: 2px solid #e3e6f0;
  border-radius: 0.35rem;
  margin-right: 15px;
  margin-bottom: 15px;
  float: left;
  background: #fff;
  transition: all 0.2s;
  cursor: pointer;
  position: relative;
}

.client-name:hover,
.client-name.active {
  border-color: #007ee3;
  color: #007ee3;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

.client-name.active::after {
  content: "\f00c";
  width: 30px;
  height: 30px;
  background: #007ee3;
  color: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 0.3rem 0 0.2rem 0;
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  line-height: 30px;
}

.client-name img {
  height: 75px;
  margin-top: 20px;
}

.client-name.zoho img {
  max-width: 120px;
  height: auto;
  margin-bottom: 34px;
}

.client-name.custom img {
  fill: #007ee3;
}

.client-name.zoho span {
  line-height: 75px;
  display: block;
  margin-top: 20px;
}

/*---------- License Progress Bar -------------*/

.license-sec {
  top: -5px;
  right: 0;
  width: auto;
  display: flex;
}

.license-sec .progress {
  width: 40px;
  height: 40px;
  line-height: 150px;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
}

.license-sec .progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 0 solid #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.license-sec .progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.license-sec .progress .progress-left {
  left: 0;
}

.license-sec .progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 3px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.license-sec .progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.license-sec .progress .progress-right {
  right: 0;
}

.license-sec .progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading-1 1.8s linear forwards;
}

.license-sec .progress .progress-value {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  font-size: 16px;
  color: #334554;
  line-height: 40px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 5%;
  text-align: center;
}

.license-sec .progress.blue .progress-bar {
  border-color: #049dff;
}

.license-sec .progress.blue .progress-left .progress-bar {
  animation: loading-1 1.5s linear forwards 1.8s;
}

.license-sec .progress.yellow .progress-bar {
  border-color: #fdba04;
}

.license-sec .progress.yellow .progress-left .progress-bar {
  animation: loading-2 1s linear forwards 1.8s;
}

.license-sec .progress.pink .progress-bar {
  border-color: #ed687c;
}

.license-sec .progress.pink .progress-left .progress-bar {
  animation: loading-4 0.4s linear forwards 1.8s;
}

.license-sec .progress.green .progress-bar {
  border-color: #1abc9c;
}

.license-sec .progress.green .progress-left .progress-bar {
  animation: loading-5 1.2s linear forwards 1.8s;
}

.license-sec .progress-bar-per {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  background: rgba(255, 255, 255, 0.95);
}

.license-sec .progress-bar-per svg {
  width: 48px;
  position: relative;
  margin: auto;
}

.license-sec .progress-bar-per svg path {
  stroke: #fdba04;
  stroke-width: 8;
}

.license-sec .progress-bar-per #svgLicenseIssued path {
  stroke: #007ee3;
}

.license-sec .progress-bar-per::after {
  width: 36px;
  height: 36px;
  content: "";
  background: #fff;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: absolute;
  border-radius: 50%;
}

.license-sec .progress-bar-per .count {
  position: absolute;
  color: #007ee3;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 100;
  display: block;
}

@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);
  }
}

@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg);
  }
}

@keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(126deg);
    transform: rotate(126deg);
  }
}

@media only screen and (max-width: 990px) {
  .progress {
    margin-bottom: 20px;
  }
}

.userObjectDetails {
  padding: 3px;
  margin: 5px;
}

.removeUserInvite {
  color: red;
}

.pendingUser {
  border: 2px solid gray;
}

.rejectedUser {
  border: 2px solid red;
}

.acceptedUser {
  border: 2px solid green;
}

.custom-user-invites .btn-outline-secondary {
  padding-right: 0;
  position: relative;
  margin: 0;
  width: calc(100% - 0.65rem);
  text-align: left;
  padding: 0;
  border: 0 !important;
}

.filter-row .custom-user-invites .btn-outline-secondary {
  padding: 0;
  border: 0 !important;
  text-align: left;
  margin: 0;
}

.filter-row .custom-user-invites .btn-outline-secondary:hover {
  background: #fff;
  color: #858796;
}

.filter-row .custom-user-invites .btn-outline-secondary .fa-times {
  top: 2px;
  right: 0;
}

.mode-edit .custom-user-invites .btn-outline-secondary {
  border: 0 !important;
  padding: 0 !important;
  text-align: left;
  margin: 0;
}

.mode-edit .custom-user-invites .btn-outline-secondary:hover {
  background: #fff;
  color: #858796;
}

.mode-edit .custom-user-invites .btn-outline-secondary .fa-times {
  right: 0;
  top: 2px;
}

.custom-user-invites .fa-times {
  position: absolute;
  right: 0rem;
  top: 2px;
}

/*Media Library CSS Start*/

.right-panel-image {
  width: calc(100% - 250px);
  transition: all 0.2s;
  background: #eeeeee;
}

.img-lst-hdr {
  display: inline-block;
  font-weight: normal;
  margin-bottom: 0;
  color: #777;
  border: 0;
  padding: 8px;
}

.thumb_img {
  padding-bottom: calc(100% - 52px);
  text-align: center;
  vertical-align: middle;
  background-color: #fafafa !important;

  background-size: 100% auto !important;
  background-position: center center !important;
  margin-bottom: 52px;
}

.img_name {
  width: 100%;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.div-img-list {
  float: left;
  cursor: pointer;
  position: relative;
  transition: all 0.2s;
}

.img-tool {
  display: none;
  transition: all 0.2s;
}

.toolDiv {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 30px;
  transition: all 0.2s;
}

.div-img-list:hover {
  border-color: #007ee3;
  background: #fff;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

.div-img-list:hover .img-tool {
  display: block;
}

.m_lib {
  position: fixed;
  z-index: 1030;
  left: 0;
  right: 0;
  top: 0;
  transition: all;
  background: rgba(255, 255, 255, 1);
  animation: media 0.55s;
  height: 100%;
}

.m_lib_cnt {
  width: 100%;
  float: left;
}

.left-panel-tree {
  overflow-y: auto;
  box-sizing: border-box;
  height: calc(100vh - 65px);
  max-width: 250px;
}

.left-panel-tree .dir {
  transition: all 0.2s;
  display: flex;
}
.left-panel-tree .dir .fa.fa-folder {
  width: 16px;
  padding-top: 3px;
}
.left-panel-tree .dir .folder-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.left-panel-tree .dir.ui-active {
  background: #007ee3 !important;
  color: #ffffff !important;
  border-radius: 0;
}

.left-panel-tree .dir i {
  margin-right: 3px;
}

.left-panel-tree .dir.ui-active i {
  color: #ffffff;
}

.div-img-list .btn.btn-sm {
  min-width: 30px;
}

.tdPrimaryKey {
  background: red;
  color: #fff;
  width: 120px;
}

.thPrimaryKey {
  background: #007ee3;
  color: #fff;
  width: 120px;
}

/*Media Library CSS END*/

.multiselect-container.dropdown-menu {
  max-height: 300px;
  overflow: auto;
}

/*#region Suraj*/

.img-editor {
  background-color: #fff;
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.img-editor .header {
  background-color: #fff;
  text-align: right;
  padding: 8px 12px;
}

.img-editor .header .settings {
  text-align: left;
  float: left;
}

.img-editor .body {
  background-color: rgba(0, 0, 0, 0.9);
  border: 0;
  height: calc(100% - 110px);
  width: 100%;
  position: relative;
  overflow: hidden;
}

.img-editor #img-drag-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* text-align:center;  */
}

.img-editor .body .image-selector {
  position: absolute;
  border: 2px solid rgba(255, 255, 255, 0.75);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.img-editor .body .image-selector .img {
  opacity: 1;
  position: absolute;
}

.img-editor .body .uploaded-image {
  display: inline-block;
  opacity: 0.4;
  margin: auto;
  text-align: center;
}

.img-editor .body .uploaded-image img {
  display: block;
}

.img-editor .footer {
  background-color: #fff;
  padding: 8px 12px;
}

.img-editor .slidecontainer {
  width: 100%;
}

.img-editor .slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
  background: #ddd;
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.img-editor .range-cover {
  position: relative;
  width: 40%;
  display: inline-block;
}

.img-editor .range-filler {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 9px;
  height: 6px;
  background-color: #007ee3;
}

/* Mouse-over effects */

.img-editor .slider:hover {
  opacity: 1;
}

.img-editor .slider::-webkit-slider-thumb:hover {
  background: #000;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */

.img-editor .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #007ee3;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
  position: relative;
  transition: all 0.3s;
}

.img-editor .slider::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #007ee3;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
  position: relative;
  transition: all 0.3s;
}

.profile-pic {
  position: relative;
}

.profile-pic:hover .profile-img-edit {
  opacity: 1;
}

.profile-img-edit {
  padding: 4px;
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  color: #fff;
  transition: all 0.2s;
  opacity: 0;
}

.pac-container {
  z-index: 10001;
}

.search-controls {
  text-align: center;
  padding: 16px;
}

.search-controls .txtSearch::placeholder {
  color: #fff;
}

.admin-controls-list .control-item,
integration-plugins .control-item {
  cursor: pointer;
}

.msp-popup .item.selected {
  background: #007ee3;
  color: #fff;
}

.msp-ctrl-texteditor.hotkey-enabled .popup-container div.item {
  min-width: 100px;
  border-bottom: dotted 1px black;
}

.user-replace-settings .moudules-list .modules {
  padding: 0;
  margin: 0;
  list-style: none;
  max-height: 250px;
  overflow: auto;
}

.modal-replace-user .modal-sm {
  min-width: 500px !important;
}

.table-responsive.grid-table-container.tblUsers::before,
.table-responsive.grid-table-container.tblUsers::after {
  display: none;
}

/*#endregion Suraj*/

.pleaseWait {
  display: none;
}

.recipients-table.table {
  width: auto;
}

.recipients-table.table th,
.recipients-table.table td {
  white-space: pre !important;
}

.recipients-table.table td {
  max-width: fit-content;
}

/* Advance Filter Start */

.advc-filter-sec {
  position: fixed;
  width: 500px;
  top: 0;
  right: 0;
  background: #fff;
  z-index: 1040;
  height: 100%;
  margin-right: -500px;
  transition: all 0.2s ease-in;
}

.advc-filter-sec.active {
  margin-right: 0px !important;
}

.advc-filter-sec .list-filter-edit {
  height: 0px;
  overflow: hidden;
  transition: all 0.3s;
}

.advc-filter-sec.edit-mode .list-filter-edit {
  height: auto !important;
}

.advc-filter-sec.system-define-filter .btn-add-edit-filter[action-type="edit"],
.advc-filter-sec.system-define-filter .btn-delete-filter,
.advc-filter-sec .filter-footer,
.advc-filter-sec .btn-save-filter,
.advc-filter-sec .btn-cancel-filter,
.advc-filter-sec.edit-mode .btn-add-edit-filter,
.advc-filter-sec.edit-mode .selected-filter-detail {
  display: none;
}

.advc-filter-sec.edit-mode .filter-footer,
.advc-filter-sec.edit-mode .btn-save-filter,
.advc-filter-sec.edit-mode .btn-cancel-filter {
  display: inline-block;
}

.advc-filter-sec .treeview-conditions .filter-ul {
  border-left: dashed 1px;
  position: relative;
  padding: 20px 0 20px 20px;
  margin: 20px 0 10px 0;
}

.advc-filter-sec .treeview-conditions .filter-ul::before {
  position: absolute;
  top: calc(50% - 10px);
  left: -10px;
  border: dashed 1px;
  padding: 1px 2px;
  font-size: 0.7em;
  font-weight: bold;
  background: #fff;
  z-index: 2;
}

.advc-filter-sec .treeview-conditions .filter-ul .filter-li:first-child {
  position: absolute;
  top: -18px;
}

.advc-filter-sec .treeview-conditions .filter-ul .filter-li:last-child {
  position: absolute;
  bottom: -10px;
}

.advc-filter-sec .treeview-conditions ul.condition-AND::before {
  border-color: #007ee3;
  color: #007ee3;
  content: "AND";
}

.advc-filter-sec .treeview-conditions ul.condition-OR::before {
  border-color: #e74a3b;
  color: #e74a3b;
  content: "OR";
}

.advc-filter-sec
  .treeview-conditions
  > .filter-ul
  > .filter-li:last-child
  .btnDeleteCondition {
  display: none;
}

.advc-filter-sec .treeview-conditions .filter-ul .filter-li .filter-ul {
  margin-top: 30px;
  margin-bottom: 30px;
}

.advc-filter-sec .treeview-conditions .filter-ul .filter-li {
  list-style: none;
  position: relative;
}

.advc-filter-sec .treeview-conditions .filter-ul .filter-li::before {
  position: absolute;
  top: calc(50% + 2px);
  left: -20px;
  border: dashed 0.6px;
  width: 20px;
  content: " ";
}

.advc-filter-sec .treeview-conditions ul.condition-AND .filter-li::before,
.treeview-conditions ul.condition-AND {
  border-color: #007ee3;
}

.advc-filter-sec .treeview-conditions ul.condition-OR .filter-li::before,
.treeview-conditions ul.condition-OR {
  border-color: #e74a3b;
}

.advc-filter-sec .treeview-conditions .close {
  position: absolute;
  top: 5px;
  right: 8px;
  font-size: 12px;
}

/*Advance Filter End*/

.users-calendar-sharing .user-list-main li.active {
  background-color: #1abc9c;
}

.users-calendar-sharing .user-list-main ul,
.users-calendar-sharing .user-list-secondary ul {
  list-style-type: none;
  margin: 0px;
  padding: 3px;
}

.activity-rightclick-menu .dropdown-item.active,
.activity-rightclick-menu .dropdown-item:active,
.table-filter .dropdown-item.active {
  background: none !important;
  color: #007ee3 !important;
  position: relative;
}

.activity-rightclick-menu .dropdown-item.active[data-key="busy"]::after,
.activity-rightclick-menu .dropdown-item.active[data-key="free"]::after,
.activity-rightclick-menu .dropdown-item.active[data-key="lock"]::after,
.activity-rightclick-menu .dropdown-item.active[data-key="unlock"]::after,
.table-filter .dropdown-item.active::after {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  right: 10px;
}

.userTimingTable .userDetail {
  font-style: bold;
}

.table-filter .dropdown-item.active::after {
  left: 5px;
}

.table-filter .dropdown-item.default-item {
  position: relative;
}

.table-filter .dropdown-item.default-item::before {
  content: "\f08d";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  right: 10px;
  color: #3a3b45;
  font-size: 0.7rem;
  top: 10px;
}

.fas,
.fa,
.far {
  font-weight: 600 !important;
}

.close {
  color: #007ee3;
}

.text-black {
  color: #000 !important;
}

.comp-signature .tool {
  position: absolute;
  right: 0;
  bottom: 0;
}

.dropdown-nav.cal-month-menu,
.dropdown-nav.cal-year-menu {
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0;
  height: auto;
  font-size: 16px;
  color: #000;
  height: 22px;
  transition: all 0.2s;
  margin-top: -2px;
}

.monthYear {
  height: 22px;
}

.dropdown-nav.cal-month-menu {
  width: 50px;
  margin-left: 8px;
}

.dropdown-nav.cal-year-menu {
  width: 70px;
}

.reset-userFilter {
  color: #007ee3;
  float: right;
  cursor: pointer;
}

/*======================OnBoard Process Page============================*/

#onboard .carousel-indicators {
  position: relative;
}

#onboard .carousel-caption {
  position: relative;
  right: unset;
  bottom: unset;
  left: unset;
  z-index: 10;
  padding-top: 0;
  padding-bottom: 0;
  color: #fff;
  text-align: center;
}

#onboard .carousel-indicators li {
  background: #007ee3;
  width: 10px;
  height: 10px;
  border: 0;
  border-radius: 50%;
}

#onboard .carousel-caption .icon {
  width: 80px;
  height: 80px;
  line-height: 74px;
  display: inline-block;
  font-size: 2rem;
}

#onboard .btn-primary {
  min-width: 200px;
}

#onboard .select-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
}

#onboard .update-img {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  text-align: center;
  padding: 6px;
  background: rgba(0, 0, 0, 0.45);
  color: #fff;
}

#side-nav {
  width: 100%;
  max-width: 300px;
}

#side-nav nav {
  max-width: 280px;
  top: 0;
  width: 100%;
}

/*===============================My Drive==================================*/

.main-drive .folder-box {
  width: 100%;
  margin-bottom: 0.9rem;
  cursor: pointer;
}

.main-drive .folder-box,
.main-drive .file-box {
  padding-left: 1rem;
  padding-right: 1rem;
}

.main-drive .folder-box .card,
.main-drive .file-box .card,
.folder-box .card i {
  transition: all 0.17s;
}
.download-disabled {
  opacity: 0.5;
}

.gm-style .gm-svpc {
  display: none !important;
}

.main-drive .folder-box:hover .card,
.main-drive .file-box:hover .card {
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
  color: #007ee3;
  border-color: #007ee3;
}

.main-drive .folder-box:hover .card i {
  color: #007ee3;
}

.main-drive .file-box {
  width: 100%;
  margin-bottom: 0.9rem;
  cursor: pointer;
}
.main-drive .file-loader {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  margin-bottom: 0.9rem;
}

.main-drive .file-bg {
  height: 100%;
  padding-bottom: calc(100% - 48px);
  background-size: cover !important;
  background-color: #f4f4f4 !important;
  position: relative;
  width: 100%;
  background-position: top center !important;
}

.main-drive .file-bg.default-icon {
  background-size: unset !important;
  background-position: center center !important;
}
.main-drive .folder-box .card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-drive .file-box .card-title {
  height: 48px;
  box-sizing: border-box;
  padding: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-drive .file-box .card-title span {
  flex-grow: 1;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main-drive .file-box .card-title a {
  opacity: 0;
  transition: all 0.3s;
}

.main-drive .file-box:hover .card-title a {
  opacity: 1;
}

.main-drive-grid,
.main-drive-list {
  height: calc(100vh - 190px);
  overflow: auto;
  overflow-x: hidden;
}
.drive-selected {
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
  color: #007ee3 !important;
  border-color: #007ee3 !important;
}
.drive-selected.card i.fa-folder,
.drive-selected i.fa-folder.text-secondary {
  color: #007ee3 !important;
}
.drive-rightclick-menu {
  padding: 0 !important;
}
.drive-rightclick-menu .dropdown-item {
  color: #3a3b45 !important;
}
.drive-rightclick-menu .dropdown-item:active {
  color: #fff !important;
}
.main-drive-grid .breadcrumb {
  background: none;
  border-radius: 0;
  font-size: 1rem;
  color: #007ee3;
}

.breadcrumb li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}
.main-drive-grid .breadcrumb a {
  color: inherit;
  cursor: pointer;
}

.file-bg.fa::before {
  color: #858796;
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: xxx-large;
  right: 0;
  margin-top: -24px;
  margin-left: -16px;
}
.file-box:hover .file-bg.fa::before {
  color: #007ee3;
}
.main-drive-grid .breadcrumb li:last-child a {
  color: #858796;
  cursor: none;
}
.gridfile-box i {
  font-size: x-large;
  color: #858796;
}
.gridfile-box.drive-selected i {
  color: #007ee3 !important;
}
.gridfile-box td > div,
.gridfolder-box td > div {
  padding-top: 0.5rem !important;
}

.main-drive-spacebar > p {
  margin-bottom: 4px;
  margin-top: 8px;
  font-size: 12px;
  color: #007ee3;
}

.main-drive-spacebar .progress {
  width: 250px;
}

.upload-button {
  overflow: hidden;
  position: relative;
}

.upload-button form {
  visibility: hidden;
  position: absolute;
}

.upload-section {
  position: fixed;
  left: calc(100% - 420px);
  bottom: 10px;
  width: 400px;
  z-index: 1011;
}

.upload-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 200px !important;
  overflow: auto !important;
}

.upload-section ul li {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #eee;
}
.upload-section .col.filename {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.upload-section #progress-bar-per {
  float: right;
  position: relative;
}

.upload-section #progress-bar-per::after {
  content: "";
  position: absolute;
  left: 10%;
  top: 10%;
  background: #fff;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

.upload-section #progress-bar-per svg {
  width: 40px;
}

.upload-section #progress-bar-per.inactive {
  animation: spinUploader 2s linear infinite;
}

.upload-section #progress-bar-per.inactive svg text {
  font-size: 0;
}

.upload-section #progress-bar-per.inactive svg path {
  stroke: white;
}

.upload-section #progress-bar-per svg path {
  stroke: rgb(19, 126, 227);
}

.upload-section #count {
  position: absolute;
  color: #007ee3;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 100;
  display: block;
}

.upload-section #progress-bar-per.inactive #count,
.upload-section #progress-bar-per.file-uploaded #count {
  display: none;
}

.upload-section #progress-bar-per.file-uploaded svg path {
  stroke: #168d25;
}

.upload-section #progress-bar-per.file-uploaded::before {
  content: "\f00c";
  position: absolute;
  left: 50%;
  top: 50%;
  color: #168d25;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  z-index: 101;
  transform: translate(-50%, -50%);
}

@keyframes spinUploader {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.welcome-drive {
  border: dashed 1px #ddd;
  text-align: center;
  color: #858796;
}

.welcome-drive .icon {
  font-size: 56px;
}

.welcome-drive .text {
  font-size: 20px;
}

.action-prompt {
  bottom: 20px;
  color: #fff;
  left: 20px;
  z-index: 99;
  display: flex;
}

.action-prompt .text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
  width: 100%;
}

.move-folder-list .list-group-item:first-child {
  border-radius: 0;
  border-top: 0;
}

.move-folder-list .list-group-item:last-child {
  border-radius: 0;
}

.drive-padding {
  padding-bottom: 0 !important;
}

.drive-padding .mb-5.table-sec {
  margin-bottom: 0;
}

.move-file-container {
  position: relative;
  padding-top: 35px !important;
}

.move-breadcrumb {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -35px;
  z-index: 2;
}
.folder-item-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.minimise-progressbar,
.maximise-progressbar,
.close-progressbar {
  opacity: 0.5;
}
.text-ellipse {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main-drive-list.grid-table-container::after {
  border-bottom: 0 !important;
}
.grid-download .fa-download:hover {
  color: #007ee3 !important;
}

.upload-section #progress-bar-per.upload-error #count {
  display: none;
}
.upload-section #progress-bar-per.upload-error::before {
  content: "\f01e";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  left: 10%;
  top: 10%;
  background: #fff;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  z-index: 100;
  line-height: 33px;
  color: red;
  opacity: 1;
}
/*=====================Create Campaign===========================*/

.campaign-container {
  width: 100%;
}

.campaign-container .campaign .nav-item {
  flex: auto;
  position: relative;
  font-size: 1.2rem;
}

.campaign-container .campaign .nav-item:hover .nav-link,
.campaign-container .campaign .nav-item .nav-link:hover,
.campaign-container .campaign .nav-item .nav-link {
  border: 0;
}

.campaign-container .campaign .nav-item .circle {
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 50%;
  background: #adb5bd;
  color: #fff;
  text-align: center;
}

.campaign-container .campaign .nav-item .nav-link {
  color: #adb5bd;
}

.campaign-container .campaign .nav-item.selected .nav-link {
  color: #000;
}

.campaign-container .campaign .nav-item.selected .circle {
  background: #000;
}

.campaign-container .campaign .nav-item.completed .nav-link {
  color: #007ee3;
}

.campaign-container .campaign .nav-item.completed .circle {
  background: #007ee3;
}

.campaign-container .campaign .nav-item:first-child::before,
.campaign-container .campaign .nav-item:last-child::after {
  display: none;
}

.campaign-container .campaign .nav-item::before,
.campaign-container .campaign .nav-item::after {
  content: "";
  position: relative;
  flex: 1;
  margin: 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  top: 50%;
}

.campaign-container .campaign .nav-item.selected::before,
.campaign-container .campaign .nav-item.selected::after {
  background-color: #000;
}

.campaign-container .campaign .nav-item.completed::before,
.campaign-container .campaign .nav-item.completed::after {
  background-color: #007ee3;
}

.campaign-type label {
  padding: 2rem;
  width: 100%;
  display: block;
  border: 1px solid #007ee3;
  color: #007ee3;
  font-size: 1.4rem;
  position: relative;
}

.campaign-type label.rounded.active::before {
  content: "\f00c";
  position: absolute;
  font-size: 1.6rem;
  color: #fff;
  left: 14px;
  top: 30px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.campaign-type label input {
  visibility: hidden;
}

.campaign-type label.rounded.active {
  border: 1px solid #007ee3;
  color: #fff;
  background: #007ee3;
}

.close-editor {
  position: fixed;
  right: 8px;
  top: 2px;
}

.profile-pic {
  position: relative;
}

.profile-pic:hover .edits {
  display: block;
}

.edits {
  padding: 4px;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  background: #007ee3;
  color: #fff;
}

#progress-bar-per {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  background: rgba(255, 255, 255, 0.95);
}

#progress-bar-per svg {
  width: 200px;
  position: relative;
  margin: auto;
}

.progress-bar-sec .modal-dialog {
  top: 50%;
  transform: translate(0, -50%) !important;
  margin-top: 0;
  margin-bottom: 0;
}

.user-working-days .starttime,
.user-working-days .endtime {
  max-width: 140px;
}

.user-working-days .endtime {
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

.permit-users-list li {
  display: inline-block;
  padding-right: 6px;
  position: relative;
}

.permit-users-list li::after {
  position: relative;
  content: ",";
}

.permit-users-list li:last-child::after {
  display: none;
}

.form-control[data-field="MSP_lookup"],
.form-control[data-ui="lookup"] {
  line-height: 1 !important;
}

.minimize-panel {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  width: 100%;
}

.modal-min-snippit {
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-align: left;
  width: auto;
  display: flex;
}

.modal-min-snippit span {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  width: auto;
  padding: 0.4rem;
}

.participant-action .dropdown-toggle::after {
  display: none;
}

.participant-list {
  max-height: 180px;
  overflow-y: auto;
}

.participant-list li {
  margin-bottom: 2px;
}

.participant-action {
  opacity: 0;
  transition: all 0.3s;
}

.participant-list li:hover .participant-action {
  opacity: 1;
}

.activity-chart .nav-item {
  color: #333;
  border: 0;
  border-bottom: 2px solid transparent;
  font-weight: normal;
  padding: 0.2rem 0.35rem;
  transition: all 0.2s;
  cursor: pointer;
}

.activity-chart .nav-item.active {
  color: #007ee3;
  border: 0;
  border-bottom: 2px solid #007ee3;
  cursor: pointer;
}

.activity-chart .collapse-head.collapsed .nav-item {
  display: none;
}

/* .byLocation-table th,
.byLocation-table td {
    padding: .5rem;
} */

/*========================Loader Css==============================*/

#main-loading {
  position: fixed;
  background: rgba(255, 255, 255, 0.8);
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1100;
  display: none;
}

#main-loading.active,
.loading.active {
  display: block;
}

#main-loading img,
.loading img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1010;
}

.loading-container {
  position: relative;
}

/*===================Code mirror style=============================*/

.full-screen {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 1.5em;
  max-height: 100%;
}

/*===================Responsive breakpoints=======================*/

@media (min-width: 320px) {
  .main-drive .folder-box,
  .main-drive .file-box,
  ul.templateList.marketing-list li,
  .div-img-list {
    max-width: 50%;
    min-width: 50%;
  }
}

@media (min-width: 576px) {
  .main-drive .folder-box,
  .main-drive .file-box,
  ul.templateList.marketing-list li,
  .div-img-list {
    max-width: 50%;
    min-width: 50%;
  }
  .main-drive .file-box {
    height: 50%;
  }
  .modal-dialog {
    min-width: 715px !important;
  }
  .modal-sm {
    min-width: 500px !important;
  }
}

@media (min-width: 768px) {
  .main-drive .folder-box,
  .main-drive .file-box,
  ul.templateList.marketing-list li,
  .div-img-list {
    max-width: 25%;
    min-width: 25%;
  }
  .main-drive .file-box {
    height: 25%;
  }
}

@media (min-width: 992px) {
  .main-drive .folder-box,
  .main-drive .file-box,
  ul.templateList.marketing-list li,
  .div-img-list {
    max-width: 20%;
    min-width: 20%;
  }
  .main-drive .file-box {
    height: 20%;
  }
}

@media (min-width: 1200px) {
  .main-drive .folder-box,
  .main-drive .file-box,
  ul.templateList.marketing-list li,
  .div-img-list {
    max-width: 16.6%;
    min-width: 16.6%;
  }
  .main-drive .file-box {
    height: 16.6%;
  }
}

.disabled-lookup {
  background-color: #f8f9fc;
}

.form-control:disabled {
  background-color: #f8f9fc;
  opacity: 1;
}

.modal-header .close {
  outline: 0;
}

.modal-header h5,
.page-title-info h5,
.object-name {
  word-break: break-all;
}

.navbar-search input:focus,
.navbar-search button:focus {
  box-shadow: none;
}

.focus-shadow.active {
  box-shadow: 0 0 0 0.2rem rgba(0, 126, 227, 0.25);
  border-radius: 0.35rem;
  transition: all 0.2s;
}

.social-icons a,
.template-button a,
.td-col a {
  position: relative;
  display: inline-block;
}

.clicksMap .template-mail-body a {
  position: relative;
}

.link-count-style {
  padding-top: 3px;
  font-size: 10px;
  background: #bb5206;
  border-radius: 50%;
  color: #fff;
  width: 18px;
  height: 18px;
  display: inline-block;
  text-align: center;
  position: absolute;
  top: -11px;
  right: -8px;
  vertical-align: sub;
  position: absolute;
}

.template-button .link-count-style {
  top: -16px;
  right: -28px;
}

.table.table-bordered.recipients-table .data-row.selected {
  background: rgba(0, 126, 227, 0.07);
}

.notification-div {
  max-height: 400px;
  overflow: auto !important;
  padding-top: 0 !important;
}

.marketing-editor .block.active {
  display: block;
}

.marketing-editor .block {
  display: none;
}

.mail-box {
  background-color: #f8f9fc;
  border: 1px solid #eee;
  border-top: 0;
  padding: 0;
  margin-bottom: 20px;
}

.mail-box-header {
  background-color: #ffffff;
  border: 1px solid #eee;
  border-bottom: 0;
  padding: 20px;
}

.mail-box-header h2 {
  margin-top: 0;
  width: calc(100% - 134px);
  overflow: hidden;
  height: 32px;
  text-overflow: ellipsis;
}

.mailbox-content .tag-list li a {
  background: #ffffff;
}

.mail-body {
  border-top: 1px solid #e7eaec;
  padding: 20px;
  word-break: break-all;
}

.mail-text {
  border-top: 1px solid #e7eaec;
}

.mail-text .note-toolbar {
  padding: 10px 15px;
}

.mail-body .form-group {
  margin-bottom: 5px;
}

.mail-text .note-editor .note-toolbar {
  background-color: #f9f8f8;
}

.mail-attachment {
  border-top: 1px solid #e7eaec;
  padding: 20px;
  font-size: 12px;
}

.mail-attachment ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mailbox-content {
  background: none;
  border: none;
  padding: 10px;
}

.fileName li {
  display: inline-block;
  margin-right: 6px;
  color: #007ee3;
  border: 1px solid #007ee3;
  border-radius: 0.35rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fileName li a {
  padding: 0.375rem 0.75rem;
  display: block;
}

.fileName li:hover {
  background: #007ee3;
  color: #fff;
}

.fileName li:hover a {
  color: #fff;
  text-decoration: none;
}

.fileName li a i {
  margin-right: 4px;
}

.current-month-day {
  background-color: #007ee3;
  color: white;
}

.context-menu {
  z-index: 900;
}

@media print {
  .mail-content {
    max-width: 100% !important;
    width: 100%;
  }
  .printemail,
  .mail-print-btn,
  #page-nav {
    display: none !important;
  }
}

.msp-time-picker .item {
  color: #000 !important;
}

.msp-time-picker .item.item-selected,
.msp-time-picker .item:hover {
  color: #fff !important;
}

.lblFileUpload {
  width: calc(100% - 50px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0 !important;
  line-height: 1.4;
}

.notification-item {
  word-break: break-word;
}

input.txtSearch[placeholder="Search Box"] {
  display: none;
}

.map input.txtSearch[placeholder="Search Box"] {
  width: 270px;
  top: 10px !important;
  display: block;
}

.msp-view-collection {
  overflow-y: auto;
}

.bell-size {
  font-size: 1.2rem;
}

.msp-coll-lbl {
  position: relative;
}

.msp-coll-lbl::after {
  position: absolute;
  content: "\f107";
  right: 8px;
  top: 4px;
  font-weight: bold;
  font-family: "Font Awesome 5 Free";
}

.campaign-report-content svg > g > g:last-child {
  pointer-events: none;
}

.img-profile-glow {
  box-shadow: 0 0 0 0.2rem rgba(0, 126, 227, 0.25);
}

.img-profile-container:hover .img-profile {
  box-shadow: 0 0 0 0.2rem rgba(0, 126, 227, 0.25);
}

.img-profile-calendar {
  height: 50px;
}

.swal-modal {
  width: 500px !important;
}

/*===================Reports=======================*/
.reports .calendar-left-panel {
  width: 250px;
  max-width: 250px;
  min-width: 250px;
}
.report-folder {
  list-style: none;
  padding: 0;
}
.report-folder li:first-child .btn-pin-top {
  display: none;
}
.report-folder li {
  position: relative;
  z-index: inherit;
}
.report-folder > li a {
  padding: 0.35rem 1rem 0.35rem 0.5rem;
  border-radius: 0.2rem;
  color: #5a5c69;
  text-decoration: none;
  transition: all 0.2s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  display: block;
}
.report-folder > li.custom > a::before {
  content: "\f4ff";
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  font-size: 5px;
  color: #fff;
}
.report-folder > li.custom:hover > a::before,
.report-folder > li.custom.active:hover > a::before {
  color: #007ee3;
}
.report-folder li .fa-thumbtack,
.report-folder li .btn-group {
  position: absolute;
  padding: 5px;
}
.report-folder li .btn-group {
  right: 0;
  top: 0;
  z-index: auto;
  padding: 0;
}
.report-folder li .btn-group .btn {
  padding: 4px;
}
.report-folder li .fa-thumbtack {
  right: 15px;
  top: 0;
  z-index: auto;
}
.report-folder li.active .btn {
  color: #fff;
}
.report-folder li:hover .btn {
  visibility: visible;
  color: #fff;
}
.report-folder li .btn {
  visibility: hidden;
}
.report-folder > li.active > a,
.report-folder > li:hover > a {
  color: #fff;
  background: #007ee3;
}
.report-folder > li > ul {
  padding-left: 15px;
  list-style: none;
}
.report-list {
  width: calc(100% - 250px);
}
.report-format {
  width: 140px;
}
.report-show {
  width: 100px;
}
.text-over-ellipse {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#report-group .btn-light {
  background: #f8f9fc;
  border-color: #e3e6f0;
}
#report-filter.advc-filter-sec {
  margin: 0;
  position: relative;
  height: auto;
  width: 100%;
}
#report-filter.advc-filter-sec .filter-footer {
  display: block;
}
/* Tag Designing**/
.select-all-grid {
  float: left;
}
.select-all-grid-text:not(.selected) {
  cursor: pointer;
  text-decoration: underline;
  color: #007ee3;
}
.clear-selection-grid {
  cursor: pointer;
  color: red;
  text-decoration: underline;
}
.singleDeleteBtn {
  color: red;
  margin-left: 10px;
}
.custom-tag-control {
  padding-left: 2rem;
  display: block;
}
/* Tag Designing Ends**/

.drive-share .remove-user-share {
  color: #858796;
}

.drive-share .remove-user-share:hover {
  color: #000;
  cursor: pointer;
}

.exp-time-pickup {
  max-width: 250px;
}

.lh-1 {
  line-height: 1;
}
.op-color-picker {
  position: relative;
}
.op-color-picker .fas {
  color: #000;
  padding: 2px;
  opacity: 0.75;
  background: #fff;
}

/*==========Store===========*/
.store-app-search {
  max-width: 700px;
}
.store-app-list .card-deck .card {
  margin-top: 1rem;
  max-width: 320px;
  min-width: 240px;
}
.store-app-list .card-deck .card-img-top {
  text-align: center;
  padding: 2em 0;
}
.store-app-list .card-deck .card-img-top img {
  display: inline-block;
  height: 80px;
}
.store-app-list .card-deck .card .card-title {
  font-weight: 500;
}
.store-app-list .card-deck .card .btn-outline-light {
  color: #3a3b45;
  background-color: #f8f9fc;
  border-color: #f8f9fc;
}
#headingOne h6[aria-expanded="true"],
#headingTwo h6[aria-expanded="true"],
#headingThree h6[aria-expanded="true"] {
  color: #007ee3 !important;
}
#headingOne h6.disabled,
#headingTwo h6.disabled,
#headingThree h6.disabled {
  opacity: 0.4;
}
[data-pagename="AppPrice"] .card-deck .card {
  min-width: 250px;
  max-width: 250px;
  margin-top: 1em;
}

.company-footer {
  color: white;
}
.company-footer a {
  color: white;
}
/********** Shop Css Begins*****************/
.user-timing-info-row {
  text-align: center;
}
.user-timings {
  min-width: 100px;
}

/********** Shop Css Ends*****************/

/*=======Help=========*/
.help-search {
  max-width: 650px;
  position: relative;
  margin: 0 auto;
}
.help-search input {
  height: 50px;
  padding-left: 20px;
  padding-right: 40px;
  font-size: 18px;
}
.help-search::after {
  position: absolute;
  content: "\f002";
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  right: 16px;
  top: 10px;
  color: #858796;
  font-size: 20px;
}
.help-topic-card {
  font-size: 20px;
  transition: all 0.2s;
}
.help-topic-card a {
  text-decoration: none;
  color: #858796;
}
.help-topic-card a i {
  display: inline-block;
  background-color: #858796;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border-radius: 4px;
  font-size: 24px;
  color: #fff;
  margin-right: 10px;
  transition: all 0.2s;
}
.topic-text {
  flex: auto;
}
.topic-text .small {
  font-size: 0.875rem;
}
.help-topic-card:hover {
  border-color: #007ee3;
}
.help-topic-card:hover a i {
  background: #007ee3;
}
.help-document-detail .calendar-left-panel {
  max-width: 300px;
}
.help-detail-search {
  position: relative;
}
.help-detail-search::after {
  position: absolute;
  content: "\f002";
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  right: 10px;
  top: 4px;
  color: #858796;
  font-size: 16px;
}
.help-document-detail .report-folder > li a {
  white-space: normal;
}

.help-detail-search input {
  padding-right: 30px;
}
.help-detail-container {
  border-radius: 6px;
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #e1e5ee;
  padding: 2.5rem;
  height: 100%;
  overflow: auto;
  font-size: 0.875rem;
}
.help-detail-container h1 {
  margin-bottom: 20px;
}
.help-detail-container ul li {
  padding: 0.2rem 0;
}
#help-tree,
#help-tree li {
  list-style-type: none;
}
#help-tree li {
  padding: 0.35rem 0rem;
  line-height: 1;
}
#help-tree li.active {
  color: #fff;
  background: #007ee3;
}
#help-tree {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
}

#help-tree .caret {
  cursor: pointer;
  user-select: none;
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
  display: block;
}

#help-tree .caret::before {
  content: "\f054";
  color: #000;
  display: inline-block;
  margin-right: 6px;
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
}

#help-tree .caret-down::before {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #007ee3;
}

#help-tree .nested {
  color: #000000;
  padding-left: 16px;
}

#help-tree .nested.active {
  display: block;
}
#help-tree .nested.active li {
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 4px;
}
.search-found {
  background-color: #007ee3;
}

.beta-nav-menu {
  background: #fff;
  padding-left: 3px;
  padding-right: 3px;
  color: #ffffff;
  border-radius: 2px;
  margin-left: 4px;
  font-size: 11px;
  padding-bottom: 1px;
}
