body {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: bold;
}
p {
  line-height: 1.7;
}
p.large {
  font-size: 1.125rem;
}
label {
  font-size: 0.875rem;
  font-weight: bold;
}
header {
  min-height: 79px;
}
.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}
.text-primary {
  color: #0e273a !important;
}
.text-secondary {
  color: #00a1df !important;
}
.text-light {
  color: #1ebadd !important;
}
.text-light-pink {
  color: #b75b97;
}
.text-purple {
  color: #66397c;
}
.text-dark-purple {
  color: #0e273a;
}
.bg-primary {
  background: #0e273a !important;
}
.bg-secondary {
  background: #00a1df !important;
}
.btn-primary{
  background: #0e273a !important;
  color: #fff;
  border-color: #0e273a;
}

.btn-primary:hover{
  background: #00a1df !important;
  color: #fff;
  border-color: #00a1df;
}
.btn-outline-secondary {
  border-color: #00a1df;
  color: #00a1df;
}
.btn-outline-secondary:hover,
.btn-outline-secondary:active,
.btn-outline-secondary:focus {
  background: #00a1df;
  color: #fff;
  border-color: #00a1df;
}
.bg-light {
  background: #00a1df !important;
}
.btn {
  border-radius: 5rem;
  font-weight: bold;
  padding: 0.375rem 1.5rem;
}
.btn.common {
  min-width: 182px;
}
.btn-secondary {
  background: #00a1df;
  color: #fff;
  border-color: #00a1df;
}
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
  background: #0e273a;
  border-color: #0e273a;
}
.btn-light {
  background: #00a1df;
  color: #fff;
  border-color: #00a1df;
}
.btn-light:hover,
.btn-light:active,
.btn-light:focus {
  background: #0e273a;
  color: #fff;
  border-color: #0e273a;
}
.btn-outline-light {
  border-color: #00a1df;
  color: #00a1df !important;
}
.btn-outline-light:hover {
  background: #00a1df;
  border-color: #00a1df;
  color: #fff !important;
}

.navbar-nav .nav-link.btn-outline-light:hover{
  color: #fff !important;
}

.btn-outline-white {
  border-color: #fff;
  color: #fff;
}
.btn-outline-white:hover,
.btn-outline-white:active,
.btn-outline-white:focus {
  background: #fff;
  color: #0e273a;
  border-color: #fff;
}
.btn-white {
  background: #fff;
  color: #00a1df;
  border-color: #fff;
}
.btn-white:hover {
  background: #00a1df;
  color: #fff;
  border-color: #00a1df;
}
.btn-outline-dark {
  border-color: #66397c;
  color: #66397c;
}
.btn-outline-dark:hover {
  border-color: #66397c;
  background: #66397c;
  color: #fff;
}
.btn-purple {
  background: #66397c;
  color: #fff;
}
.btn-purple:hover,
.btn-purple:active,
.btn-purple:focus {
  background: #1d3c73;
  color: #fff;
}
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link {
  color: #1d3c73;
}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:active,
.nav-item.active .nav-link {
  color: #1ebadd !important;
}
.navbar-toggler[aria-expanded="true"] {
  background: #66397c !important;
}
.navbar-toggler[aria-expanded="false"],
.navbar-toggler[aria-expanded="false"]:hover,
.navbar-toggler[aria-expanded="false"]:focus {
  background: #1ebadd;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  font-weight: bold;
}
.form-control {
  border-radius: 2rem;
  border: 1px solid #0484aa;
  color: #0484aa;
}
header .navbar-brand{
  margin-top:-20px;
  padding:0;
}
.pt-pb-6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.pt-6 {
  padding-top: 6rem;
}
.pb-6 {
  padding-bottom: 6rem;
}

.custom-control-label::before {
  background: #fff;
  border: 1px solid #0484aa;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #0484aa;
}
.max-w-800{
  max-width:900px;
}

/****Footer****/
.social a {
  display: inline-block;
  border: 0;
  outline: none;
  margin-right: 15px;
}
.footer-link p {
  font-weight: bold;
  margin-bottom: 0.75rem;
}
.footer-link a {
  display: block;
  clear: both;
  color: #fff;
  line-height: 1.8;
  font-size: 0.75rem;
}
.footer-policy {
  border-top: 1px solid #274052;
  font-size: 0.75rem;
}

/*MSP Industries*/

.msp-industries h5{
    min-height:2rem;
}
.msp-industries a.text-secondary{
    position: absolute;
    bottom: 1rem;
}
/* .msp-industries div.p-3.border{
    padding-bottom: 2rem !important;
} */


/********MSP Difference***********/

.icon-sec {
  width: 100px; 
}
.msp-discover {
  background: url("../images/why-sales-bg.png") center
    center;
  background-repeat: no-repeat;
  background-size: cover;
}
/********Msp Price**************/

.msp-price-1 {
  background: url("../images/Component441.png") center center;
  background-repeat: no-repeat;
  padding: 34px 0;
}
.msp-price-1 .container {
  max-width: 700px;
}
.msp-price-1 .common{
    min-width:300px;
    color: #66397C;
}
.msp-price-1 .common:hover{
    color:#fff;
}
.msp-price-sec {
  background: #66397c;
  border-radius: 10rem;
}
.msp-price-v {
  max-width: 310px;
  width: 100%;
}
.msp-price-v .heading,
.msp-price-v .text {
  font-weight: 300 !important;
}
.msp-price-v .heading {
  font-size: 5rem;
  line-height: 1;
}
.msp-price-v .text {
  font-size: 2.1rem;
  line-height: 1;
}
.msp-price-hr {
  width: 100%;
  max-width: 310px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px dashed #b75b97;
}

/*****Why Optimiser*****/

.text-light-blue {
  color: #003c70;
}
.msp-price-3 {
  background: url("../images/component-44-2.png") center center;
  background-repeat: no-repeat;
  min-height: 360px;
}
.msp-price-3 .container {
  max-width: 1000px;
}
.msp-price-2 {
  background: url("../images/Component-46-1.png") center center;
  background-repeat: no-repeat;
  min-height: 360px;
}
.msp-price-2 .container {
  max-width: 1000px;
}
.font-italic-none {
  font-style: normal !important;
}
.whatMakesNav {
  white-space: nowrap;
  overflow-y: auto;
}
.whatMakesNav .nav-link {
  color: #66397c !important;
}
.stick {
  position: fixed;
  top: 79px;
  width: 100%;
  z-index: 1030;
  background: #66397c !important;
  border-color: #66397c !important;
  animation: WhatsNavMove 0.45s;
  border-bottom-color: #fff !important;
}
.stick .nav-link {
  font-size: 0.875rem;
  color: #fff !important;
}

@keyframes WhatsNavMove {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/**Negi Css**/

.text-dark-blue {
  color: #2f94d1;
}

a.pink-link {
  color: #b75b97;
  text-decoration: underline;
}
a.pink-link:hover {
  color: #b75b97;
  text-decoration: none;
}

.font-sze-16 {
  font-size: 1rem;
}
.login {
  max-width: 420px;
  border: 1px solid #c1c0c0;
  width: 100%;
}
.bg-gray {
  background: #f9f9f9;
}
.bg-purple {
  background: #45316a;
}

.bg-light-blue {
  background: #f9fbfc;
}
.h-165 {
  height: 165px;
}

.btn-blue-dark {
  background: #00a1df;
  color: #fff !important;
}
.btn-blue-dark:hover {
  background: #0e273a;
  color: #fff;
}

.accordion-dta .card-header {
  padding: 0rem;
  margin-bottom: 0;
  background-color: transparent;
  border-bottom: transparent;
}

.accordion-dta .card-header h2 a {
  font-size: 1.25rem;
  display: block;
  color: #66397c;
}
.accordion-dta .card-header h2 a[aria-expanded="true"] {
  color: #0484aa;
}
.accordion-dta .card-header h2 a:hover {
  color: #0484aa;
  text-decoration: none;
}
.accordion-dta .card-header h2 a i::before {
  font-size: 1rem;
}

.accordion-dta .card {
  border: 1px solid #0484aa;
  border-radius: 0rem;
}

.border-rad10 {
  border-radius: 10rem;
  cursor: pointer;
}
.msp-price-4 {
  background: url("../images/about-us-curve.png") center center;
  background-repeat: no-repeat;
  min-height: 350px;
}

.border-gray {
  border: 1px solid #c1c0c0;
}
/*Suraj CSS*/

.pending-field{
  box-shadow: 0 0 0 0.2rem rgba(191, 149, 164, 0.25);
    border-color: red;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
}

@media (min-width: 1500px) {
}

@media (min-width: 320px) and (max-width: 400px) {
  .msp-price-sec {
    border-radius: 2rem;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  h1,
  .h1 {
    font-size: 2.375rem;
    font-weight: bold;
  }
  h2,
  .h2 {
    font-size: 2rem;
  }
  h3,
  .h3 {
    font-size: 1.75rem;
  }
  .msp-price-v .heading {
    font-size: 4rem;
    margin-left: 3rem;
  }
  .msp-price-v .text {
    font-size: 2rem;
    line-height: 1;
  }
  p,
  .small,
  .large {
    font-size: 1rem;
  }
  .icon-sec {
    max-width: 80px;
  }
}

@media (min-width: 1366px) and (max-width: 1499px) {
}

@media (min-width: 992px) and (max-width: 1359px) {
  .navbar-collapse.small {
    font-size: 1rem;
  }
  .navbar-collapse.small .nav-link {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .carousel-caption h1 {
    font-size: 2.75rem;
    margin-top: 0 !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 992px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.45rem;
    padding-left: 0.45rem;
  }
}
m;
  }
}
