<div class="company-basic-settings">
    <div class="col-12 mb-5">
        <h5 class="m-0 font-weight-bold text-primary mt-4">Basic Settings</h5>
        <div class="row mt-3">
            <div class="form-group col-sm-3 currency-ctrl">
                <label class="small">Currency</label>
            </div>
            <div class="fixed-bottom p-2 shadow text-right bg-white">
                <button class="btn btn-outline-primary btnCancelCompSetting">Cancel</button>
                <button class="btnSaveCompSetting btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>