<div class="content">
    <div class="row">
        <div class="col-sm-6 form-group">
            <label>Users Calendar Sharing</label>
            <div class="permit-users-list-message d-none"></div>
            <ul class="permit-users-list pl-0"></ul>
        </div>
        <div class="col-sm-6 form-group">
            <!-- <label class="parent-lblChk"> <input type="checkbox" class="chkHideFromAll" /> Hide from all users</label> -->
            <label class="small parent-lblChk">Hide from all users<label class="lblChk"><input type="checkbox" title="MSP_checkbox" data-field="MSP_checkbox" data-ui="checkbox" class="msp-ctrl msp-ctrl-checkbox chkHideFromAll"><span class="checkmark"></span></label></label>
        </div>
        <div class="col-sm-6 form-group users-allowed">
            <label class="small parent-lblChk">Allowed Users</label>
            <select multiple="multiple" title="Users List" class="msp-ctrl form-control form-control-sm text-left ddlAllowedUsersList"></select>
        </div>
        <div class="col-sm-6 form-group users-denied">
            <label class="small parent-lblChk">Deny Users</label>
            <select multiple="multiple" title="Users List" class="msp-ctrl form-control form-control-sm text-left ddlDeniedUsersList"></select>
        </div>

        <div class="col-lg-12 mt-3 mb-3">
                <button class="btn btn-primary btnSaveUserCalendarSettings align-center" data-restriction="Modify">Update</button>
            </div>
        </div>

</div>

</div>