<div class="settings">
    <div class="calendar-settings col-12 mb-5">
        <h5 class="m-0 font-weight-bold text-primary mt-4">Calendar Settings</h5>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-9">
                <div class="row mt-3">
                    <div class="form-group col-sm-6">
                        <label class="small">Time Interval</label>
                        <select class="ddlInterval form-control">
                            <option value=""></option>
                            <option value="15">15 Minute</option>
                            <option value="30" selected>30 Minute</option>
                            <option value="60">1 Hour</option>
                        </select>
                    </div>

                    <div class="form-group col-sm-6 ">
                        <label class="small">Time Format</label>
                        <select class="ddlTimeFormat form-control">
                            <option value=""></option>
                            <option value="hh:mm A" selected>12 Hour</option>
                            <option value="HH:mm">24 Hour</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="small">Calendar Sharing With</label>
                        <div class="calendar-share">
                            <div class="custom-control custom-radio">
                                <input type="radio" name="cal-share-group" checked data-calshare="private"
                                    class="private custom-control-input" id="privateShare">
                                <label class="custom-control-label text-black mr-2" for="privateShare"> Private</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" name="cal-share-group" data-calshare="public"
                                    class="public custom-control-input" id="publicShare">
                                <label class="custom-control-label text-black mr-2" for="publicShare">Public</label>
                            </div>

                            <div class="custom-control custom-radio">
                                <input type="radio" name="cal-share-group" data-calshare="team"
                                    class="team custom-control-input" id="teamShare">
                                <label class="custom-control-label text-black mr-2" for="teamShare"> Team Shared</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" name="cal-share-group" data-calshare="teamrestricted"
                                    class="teamrestricted custom-control-input" id="teamrestrictedShare">
                                <label class="text-black custom-control-label mr-2" for="teamrestrictedShare">Team
                                    Restricted (Supervisor calendar is restricted)</label>
                            </div>
                        </div>
                        <!-- <select class="ddlShare form-control form-control-sm">
                            <option value=""></option>
                            <option value="no" selected></option>
                            <option value="everyone">Public</option>
                            <option value="team">Team Shared</option>
                            <option value="supervisor">Team Restricted (Supervisor calendar is restricted)</option>                            
                        </select>
                        <div class="mt-2 sharingType d-none">
                            <div class="custom-control custom-radio d-inline-block">
                                <input type="radio" class="custom-control-input" id="optOneWayCalendarSharing"
                                    name="oneWay" value="customEx">
                                <label class="custom-control-label" for="optOneWayCalendarSharing">One way
                                    sharing</label>
                            </div>
                            <div class="custom-control custom-radio d-inline-block ml-3">
                                <input type="radio" class="custom-control-input" id="optTwoWayCalendarSharing"
                                    name="oneWay" value="customEx">
                                <label class="custom-control-label" for="optTwoWayCalendarSharing">Two way
                                    sharing</label>
                            </div>
                        </div>
                        <div class="mt-2 advanceSharingEdit d-none">
                            <button class="btnViewAdvanceSharing btn btn-sm btn-outline-primary">View/Edit Users Sharing</button>
                        </div> -->
                    </div>

                    <div class="form-group col-sm-6" style="display:none;">
                        <label class="small">
                            Double click will open
                        </label>
                        <select class="meeting-types form-control form-control-sm">
                            <option value=""></option>
                            <option value="Meeting">Meeting</option>
                            <option value="Call">Call</option>
                        </select>
                    </div>

                    <div class="form-group col-sm-6">
                        <label class="small">Back date activity?</label>
                        <div class="form-control border-0 pl-0 pr-0">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="optCreateBackDateActivity"
                                    name="createActivity">
                                <label class="custom-control-label text-black"
                                    for="optCreateBackDateActivity">Create</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="optUpdateBackDateActivity"
                                    name="updateActivity">
                                <label class="custom-control-label text-black"
                                    for="optUpdateBackDateActivity">Update</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="optDeleteBackDateActivity"
                                    name="deleteActivity">
                                <label class="custom-control-label text-black"
                                    for="optDeleteBackDateActivity">Delete</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-sm-6">
                        <label class="small parent-lblChk">Do Not allow override Sharing
                            <div class="lblChk">
                                <input type="checkbox" title="MSP checkbox" data-field="MSP_checkbox" data-ui="checkbox"
                                    class="msp-ctrl msp-ctrl-checkbox chkDoNotOverride">
                                <span class="checkmark"></span>
                            </div>
                        </label>
                    </div>

                    <div class="form-group col-sm-6">
                        <label class="small">Work Hours</label>
                        <div class="company-working-hours">
                            <div class="d-inline-block starttime">
                                <label class="small">Start Time</label>

                            </div>
                            <div class="d-inline-block endtime">
                                <label class="small">End Time</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-sm-6">
                        <label class="small">Working Days</label>
                        <div class="border-0 pl-0 pr-0 company-working-days vld-parent">
                            <label class="custom-control custom-checkbox d-inline-block mr-2">
                                <input type="checkbox" class="custom-control-input" id="chkSunday" data-id="0">
                                <label class="custom-control-label text-black" for="chkSunday">Sunday</label>
                            </label>
                            <label class="custom-control custom-checkbox d-inline-block mr-2">
                                <input type="checkbox" class="custom-control-input" id="chkMonday" data-id="1">
                                <label class="custom-control-label text-black" for="chkMonday">Monday</label>
                            </label>
                            <label class="custom-control custom-checkbox d-inline-block mr-2">
                                <input type="checkbox" class="custom-control-input" id="chkTueday" data-id="2">
                                <label class="custom-control-label text-black" for="chkTueday">Tuesday</label>
                            </label>
                            <label class="custom-control custom-checkbox d-inline-block mr-2">
                                <input type="checkbox" class="custom-control-input" id="chkWedday" data-id="3">
                                <label class="custom-control-label text-black" for="chkWedday">Wednesday</label>
                            </label>
                            <label class="custom-control custom-checkbox d-inline-block mr-2">
                                <input type="checkbox" class="custom-control-input" id="chkThuday" data-id="4">
                                <label class="custom-control-label text-black" for="chkThuday">Thursday</label>
                            </label>
                            <label class="custom-control custom-checkbox d-inline-block mr-2">
                                <input type="checkbox" class="custom-control-input" id="chkFriday" data-id="5">
                                <label class="custom-control-label text-black" for="chkFriday">Friday</label>
                            </label>
                            <label class="custom-control custom-checkbox d-inline-block mr-2">
                                <input type="checkbox" class="custom-control-input" id="chkSatday" data-id="6">
                                <label class="custom-control-label text-black" for="chkSatday">Saturday</label>
                            </label>
                        </div>
                    </div>

                    <div class="email-settings col-sm-12 col-md-12">
                        <!-- <h5 class="m-0 font-weight-bold text-primary mt-4 mb-3">Email Settings</h5>
                        <div class="row">
                            <div class="form-group col-sm-12 col-md-6">
                                <label class="small">Organisation Signature</label>
                                <div class="comp-signature position-relative">
                                    <div class="tool"><i
                                            class="btn btn-primary btn-sm btnEditCompanySignature fa fa-edit">
                                        </i>
                                    </div>
                                    <div class="signature w-auto form-control form-control-sm h-auto"
                                        style="min-height: 100px">
                                    </div>
                                    <div class="user-fields d-none"></div>
                                </div>
                            </div>
                        </div> -->
                        <div class="col-sm-12 fixed-bottom p-2 shadow text-right bg-white">
                            <button class="btn btn-outline-primary btnCancelCalendarSettings">Cancel</button>
                            <button class="btn btn-primary btnUpdateCalendarSettings">Save Setting</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="modalSignatureUpdate">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="min-height: 350px;">

            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title">Do you want to update signature for</h5>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="sign-update-options row">
                    <div class="col-md-12 form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" name="sign-update" checked="checked"
                                class="custom-control-input optNobody" id="optNobody">
                            <label class="custom-control-label text-black mr-2" for="optNobody"> None</label>
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" name="sign-update" class="custom-control-input optAllUsers"
                                id="optAllUsers">
                            <label class="custom-control-label text-black mr-2" for="optAllUsers"> All users</label>
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" name="sign-update" class="custom-control-input optSelectedUsers"
                                id="optSelectedUsers">
                            <label class="custom-control-label text-black mr-2" for="optSelectedUsers"> Selected
                                users</label>
                        </div>
                    </div>
                    <div class="col-md-12 user-lookup-ctrl selectuser d-none mt-2 mb-2">
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button class="btn btn-light btnCancel">Cancel</button>
                <button type="button" class="btn btn-primary btnSave">Save</button>
            </div>

        </div>
    </div>
</div>