<h4 class="text-primary font-weight-bold mt-3">
    Company Space</h4>
<div class="flex-grow-auto main-drive-spacebar hide mt-3">
    <p class="space-status"> </p>
    <div class="progress" style="height: 4px;">
        <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuemax="100"></div>
    </div>

</div>

<h4 class="text-primary font-weight-bold mt-4">User Permission</h4>
<div class="msp-data-grid Drive-Space-Permission position-relative">
    <div class="table-responsive  mt-3">
        <div class="d-inline-block">
            <table class="grid-table table table-bordered">
                <tr class="head-row">
                    <th>
                        <div class="d-flex" style="width:250px;">
                            <div class="field-text">User Name</div>
                            <div class="field-icon">
                                <div class="sort"></div>
                                <div class="dropdown-menu text-wrap-dropdown"><a class="dropdown-item current"
                                        data-text="clip">Clip Text</a><a class="dropdown-item" data-text="wrap">Wrap
                                        Text</a></div>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex" style="width:200px;">
                            <div class="field-text">User Type</div>
                            <div class="field-icon">
                                <div class="sort"></div>
                                <div class="dropdown-menu text-wrap-dropdown"><a class="dropdown-item current"
                                        data-text="clip">Clip Text</a><a class="dropdown-item" data-text="wrap">Wrap
                                        Text</a></div>
                            </div>
                        </div>
                    </th>
                    <th>

                        <div class="d-flex" style="width:200px;">
                            <div class="field-text">Used Space</div>
                        </div>
                    </th>
                    <th>

                        <div class="d-flex" style="width:200px;">
                            <div class="field-text">Space Cap (GB)</div>
                        </div>

                    </th>
                    <th>

                        <div style="width:120px;">
                            <div class="field-text">Enable Sharing</div>
                        </div>
                    </th>
                    <th class="d-none">

                        <div style="width:150px;">
                            <div class="field-text">Approval Required</div>
                        </div>
                    </th>
                </tr>

                <tr class="filter-row hide-edit">

                    <th data-field="Name" class="group group-main" group-name="Name">
                        <div><input type="text" data-field="Name" data-ui="formula"
                                class="msp-ctrl form-control form-control-sm msp-user-filter-ctrl"></div>
                    </th>
                    <th data-field="FirstName" class="group group-child" group-name="Name">
                        <div><input type="text" data-field="FirstName" data-ui="text"
                                class="msp-ctrl form-control form-control-sm msp-user-type-filter-ctrl"></div>
                    </th>
                    <th data-field="LastName" class="group group-child" group-name="Name">

                    </th>
                    <th data-field="AccountID" class="">

                    </th>
                    <th>

                    <th>

                    </th>
                </tr>
                <tbody class="user-details">


                </tbody>


            </table>
            <nav class="mt-3 float-right">
                <div class="paging"></div>
            </nav>
        </div>
        <!-- <div class="mt-3 mr-3 float-right d-none updatebtn">
            <button class="btn btn-light mr-2 btnCancelUpdate">Cancel</button>
            <button class="btn btn-primary btnSaveAllUpdated" data-restriction="Modify">Update</button>
        </div> -->
        <div class="fixed-bottom p-2 shadow text-right updatebtn bg-white d-none">
            <button class="btn btn-outline-primary btnCancel btnCancelUpdate">Cancel</button>
            <button class="btnSaveMySettings btn btn-primary btnSaveAllUpdated">Save</button>
        </div>

    </div>
</div>