<div class="settings mb-4">
        <h5 class="m-0 font-weight-bold text-primary mt-3 pl-2">Integration Plugins</h5>
    <div class="row">        
        
    </div>
    <div class="integration-plugins d-flex">
    </div>  
</div>