<div class="row marketing-setting">
        <div id="side-nav" class="col">
                <nav class="nav nav-pills flex-column mt-4 bg-light pb-4">
                        <a class="nav-link active rounded-1" href="#item-1">Company Domain</a>
                        <!-- <a class="nav-link" href="#item-2">Manage Users</a> -->
                        <a class="nav-link" href="#item-2">Manage Email</a>
                        <a class="nav-link" href="#item-3">Manage Category</a>
                        <a class="nav-link" href="#item-4">Manage Tags</a>
                        <!-- <a class="nav-link" href="#item-5">Campaign Tracking URLs</a> -->
                        <!-- <a class="nav-link" href="#item-5">Subscribe Page</a> -->
                        <a class="nav-link" href="#item-5">Unsubscribe Page</a>
                        <!-- <a class="nav-link" href="#item-8">AWS Settings</a> -->
                </nav>
        </div>

        <div class="col col-auto" style="max-width: 1200px; width:calc(100% - 300px)">
                <div class="p-2" id="item-1">
                        <div class="row mb-2">
                                <div class="col">
                                        <h5 class="text-primary font-weight-bold">Company Domain</h5>
                                </div>
                                <div class="col license-sec">
                                        <div class="d-inline-block  mr-2 ml-2  align-items-center license-issued">
                                                <div class="col-auto">
                                                        <div class="progress-bar-per" class="file-loader inactive">
                                                                <svg id="svgLicenseIssued" viewbox="0 0 100 100">
                                                                <circle cx="50" cy="50" r="45" fill="#b3b3b3" />
                                                                <path class="pathcircle" fill="none" stroke-linecap="round" stroke-width="12"
                                                                        stroke="#fff" stroke-dasharray="250,0"
                                                                        d="M50 10 a 40 40 0 0 1 0 80 a 40 40 0 0 1 0 -80">
                                                                </path>
                                                                </svg>
                                                                <span class="lblLicenseCount count" font-size="20">0</span>
                                                        </div>
                                                </div>
                                                <div class="col filename small text-secondary">Issued Licence</div>
                                        </div>
                                        <div class="d-inline-block  mr-2 ml-2  align-items-center license-consumed">
                                                <div class="col-auto">
                                                        <div class="progress-bar-per" class="file-loader inactive">
                                                                <svg id="svgLicenseConsumed" viewbox="0 0 100 100">
                                                                        <circle cx="50" cy="50" r="45" fill="#f4f4f4" />
                                                                        <path class="pathcircle" fill="none" stroke-linecap="round" stroke-width="12"
                                                                        stroke="#fff" stroke-dasharray="0,250"
                                                                        d="M50 10 a 40 40 0 0 1 0 80 a 40 40 0 0 1 0 -80">
                                                                        </path>
                                                                </svg>
                                                                <span class="lblLicenseConsumedCount count" font-size="20">0</span>
                                                        </div>
                                                </div>
                                                <div class="col filename small text-secondary">Used Licence</div>
                                        </div>
                                </div>
                                <div class="col text-right">
                                        <button class="btn btn-sm btn-primary btnRequestForCompanyDomain"
                                                data-toggle="modal">Add New Domain</button>
                                </div>
                                <!-- NOTE commented because user can't add domain by himself -->
                                <!-- <div class="col text-right">
                                        <button class="btn btn-sm btn-primary btnAddCompanyDomain"
                                                data-toggle="modal">Add New Domain</button>
                                </div> -->
                        </div>
                        <div class="table-responsive">
                                <table class="table table-bordered tblDomain" cellpadding="10">
                                        <thead>
                                                <tr>
                                                        <th>Name</th>
                                                        <th>Status</th>
                                                        <th style="width: 150px;">Select Domain</th>
                                                </tr>
                                        </thead>
                                        <tbody>
                                                <tr class="d-none">
                                                        <td>Company.com</td>
                                                        <td>Send Test Email</td>
                                                        <td>
                                                                <div class="custom-control custom-radio">
                                                                        <input type="radio" name="domainDefault"
                                                                                class="custom-control-input"
                                                                                id="domainDefault1" checked="checked">
                                                                        <label class="text-black custom-control-label mr-2"
                                                                                for="domainDefault1"></label>
                                                                </div>
                                                        </td>
                                                        <td><a href="#" class="text-danger pl-1 pr-1">Delete</a> <a
                                                                        href="#" class="text-primary pr-1 pl-1">Edit</a>
                                                        </td>
                                                </tr>

                                                <tr class="d-none">
                                                        <td>Company.in</td>
                                                        <td>Send Test Email</td>
                                                        <td>
                                                                <div class="custom-control custom-radio">
                                                                        <input type="radio" name="domainDefault"
                                                                                class="custom-control-input"
                                                                                id="domainDefault2" checked="">
                                                                        <label class="text-black custom-control-label mr-2"
                                                                                for="domainDefault2"></label>
                                                                </div>
                                                        </td>
                                                        <td><a href="#" class="text-danger pl-1 pr-1">Delete</a> <a
                                                                        href="#" class="text-primary pr-1 pl-1">Edit</a>
                                                        </td>
                                                </tr>
                                        </tbody>

                                </table>
                        </div>
                </div>

                <!-- <div class="p-2 mt-5 d-none" id="item-2">
                        <div class="row mb-2">
                                <div class="col">
                                        <h5 class="text-primary font-weight-bold">Manage Users</h5>
                                </div>
                                <div class="col text-right">
                                        <button class="btn btn-sm btn-primary" data-toggle="modal"
                                                data-target="#newUser">Add New User</button>
                                </div>
                        </div>
                        <div class="table-responsive">
                                <table class="table table-bordered" cellpadding="10">
                                        <thead>
                                                <tr>
                                                        <th>Name</th>
                                                        <th>Manage Email</th>
                                                        <th>Manage Tags</th>
                                                        <th>Manage Category</th>
                                                        <th></th>
                                                </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>Sam Curram </td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td><a href="#" class="text-danger pl-1 pr-1">Delete</a> <a
                                                                        href="#" class="text-primary pr-1 pl-1">Edit</a>
                                                        </td>
                                                </tr>

                                                <tr>
                                                        <td>Ketty Bendorff</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td><a href="#" class="text-danger pl-1 pr-1">Delete</a> <a
                                                                        href="#" class="text-primary pr-1 pl-1">Edit</a>
                                                        </td>
                                                </tr>
                                        </tbody>

                                </table>
                        </div>
                </div> -->

                <div class="p-2 mt-5" id="item-2">
                        <div class="row mb-2">
                                <div class="col">
                                        <h5 class="text-primary font-weight-bold">Manage Emails</h5>
                                </div>
                                <div class="col text-right">
                                        <button class="btn btn-sm btn-primary btnAddMarketingEmail"
                                                data-toggle="modal">Add New Email</button>
                                </div>
                        </div>
                        <div class="table-responsive">
                                <table class="table table-bordered tblMarketingRegisteredEmails" cellpadding="10">
                                        <thead>
                                                <tr>
                                                        <th>Sender Name</th>
                                                        <th>Email Id</th>
                                                        <th style="width: 150px;"></th>
                                                </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                </table>
                        </div>
                </div>

                <div class="p-2 mt-5" id="item-3">
                        <div class="row mb-2">
                                <div class="col">
                                        <h5 class="text-primary font-weight-bold">Manage Category</h5>
                                </div>
                                <div class="col text-right">
                                        <button class="btn btn-sm btn-primary btnAddMarketingCampaignCategory">Add New
                                                Category</button>
                                </div>
                        </div>
                        <div class="table-responsive">
                                <table class="table table-bordered tblMktCampaignCategory" cellpadding="10">
                                        <thead>
                                                <tr>
                                                        <th>Category</th>
                                                        <th style="width: 150px;"></th>
                                                </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>

                                </table>
                        </div>
                </div>

                <div class="p-2 mt-5" id="item-4">
                        <div class="row mb-2">
                                <div class="col">
                                        <h5 class="text-primary font-weight-bold">Manage Tags</h5>
                                </div>
                                <div class="col text-right">
                                        <button class="btn btn-sm btn-primary btnAddMarketingTag"
                                                data-toggle="modal">Add New Tag</button>
                                </div>
                        </div>
                        <div class="table-responsive">
                                <table class="table table-bordered tblMktTags" cellpadding="10">
                                        <thead>
                                                <tr>
                                                        <th>Tag</th>
                                                        <th style="width: 150px;"></th>
                                                </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>

                                </table>
                        </div>
                </div>

                <!-- NOTE User will not add url by himself -->
                <!-- <div class="p-2 mt-5" id="item-5">
                        <div class="row mb-2">
                                <div class="col">
                                        <h5 class="text-primary font-weight-bold">Amazon campaign tracking
                                                URLs</h5>
                                </div>
                                <div class="col-12 form-group">
                                        <label class="">Bounce email URL</label>
                                        <div>
                                                <span class="AWSBounceURL"></span>
                                                <input type="text" class="AWSBounceURL txtAWSBounceURL d-none" />
                                                <i data-copy="txtAWSBounceURL"
                                                        class="fa fa-clone fa-2x float-right btn btn-outline-primary btnCopy"
                                                        title="Copy link"></i>
                                        </div>
                                </div>

                                <div class="col-12 form-group">
                                        <label class="">Complaint email URL</label>
                                        <div>
                                                <span class="AWSComplaintURL"></span>
                                                <input type="text" class="AWSComplaintURL txtAWSComplaintURL d-none" />
                                                <i data-copy="txtAWSComplaintURL"
                                                        class="fa fa-clone fa-2x float-right btn btn-outline-primary btnCopy"
                                                        title="Copy link"></i>
                                        </div>
                                </div>
                        </div>
                </div> -->


                <!-- <div class="p-2 mt-5 border" id="item-5">
                        <div class="row mb-2">
                                <div class="col">
                                        <h5 class="text-primary font-weight-bold">Subscribe page</h5>
                                </div>
                                //<div class="col text-right">
                                //        <button class="btn btn-sm btn-outline-primary btnPreviewSubscribePage"
                                //                data-toggle="modal" data-target="">Preview</button>
                                //        <button class="btn btn-sm btn-primary btnEditSubscribePage"
                                //                data-toggle="modal" data-target="">Edit
                                //                Template</button>
                                //</div>
                        </div>

                        <div class="SubscribePageTemplate">
                                <h5>Please click on "Send Email" button to send subscription link.</h5>
                        </div>
                        <div class="col text-right">
                                <button class="btn btn-primary btnOpenSendSubscribePage"
                                        data-toggle="modal" data-target="">Send Email</button>
                        </div>
                </div> -->
                
                <div class="p-2 mt-5" id="item-5">
                        <div class="row mb-2">
                                <div class="col">
                                        <h5 class="text-primary font-weight-bold">Unsubscribe page template
                                        </h5>
                                </div>
                                <div class="col text-right">
                                        <button class="btn btn-sm btn-outline-primary btnPreviewUnsubscribePage"
                                                data-toggle="modal" data-target="">Preview</button>
                                        <button class="btn btn-sm btn-primary btnEditUnsubscribePage"
                                                data-toggle="modal" data-target="">Edit
                                                Template</button>
                                </div>
                        </div>

                        <div class="unsubscribePageTemplate">

                        </div>
                        <div class="blankheight" style="min-height:200px;"></div>
                </div>
        </div>

</div>
<div class="modal fade" id="newDomain">
        <div class="modal-dialog modal-lg">
                <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                                <h5 class="modal-title">Add New Domain</h5>
                                <button type="button" class="close" title="Close" data-dismiss="modal">&times;</button>
                        </div>
                        <!-- Modal body -->
                        <div class="modal-body">
                                <div class="row">
                                        <div
                                                style="border-radius: 5px; background-color:#d2effd; margin-top: 5px; width:102%; padding:8px;">
                                                <i class="fa fa-exclamation-circle text-info"></i>
                                                <div style="display:inline;"> To verify domain settings, system will try
                                                        to send a test email to login user.</div>
                                        </div>
                                </div>
                                <div class="row mt-3">
                                        <div class="form-group col-sm-6 vld-parent">
                                                <label class="">Domain Name</label>
                                                <input type="text" title="Domain Name (amazon.com,gmail.com)"
                                                        class="form-control form-control-sm msp-ctrl txtDomainName"
                                                        data-required />
                                        </div>
                                        <div class="form-group col-sm-6 vld-parent">
                                                <label class="">Amazon Access Key Id</label>
                                                <input type="text" title="Amazon Access Key Id"
                                                        class="form-control form-control-sm msp-ctrl txtAmazonAccessKeyId"
                                                        data-required />
                                        </div>
                                        <div class="form-group col-sm-6 vld-parent">
                                                <label class="">Amazon Secret Key</label>
                                                <input type="text" title="Amazon Secret Key"
                                                        class="form-control form-control-sm msp-ctrl txtAmazonSecretKey"
                                                        data-required />
                                        </div>
                                        <div class="form-group col-sm-6 vld-parent">
                                                <label class="">Region</label>
                                                <input type="text" title="Amazon Access Key Region"
                                                        class="form-control form-control-sm msp-ctrl txtAmazonRegion"
                                                        data-required />
                                        </div>
                                        <div class="form-group col-sm-6">
                                                <label class="">Status</label>
                                                <div><label class="lblApprovedStatus text-danger"
                                                                data-approved="false">Pending</label></div>

                                        </div>
                                </div>
                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer">
                                <button class="btn btn-light btnCloseCompanyDomain" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-success btnVerifyDomainByTestEmail"
                                        title="Check whether AWS settings are correct?">Validate</button>
                                <button type="button" class="btn btn-primary btnSaveCompanyDomain"
                                        disabled>Save</button>
                        </div>
                </div>
        </div>
</div>

<div class="modal fade" id="newRequestforDomain">
        <div class="modal-dialog modal-lg">
                <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                                <h5 class="modal-title">Request For New Domain</h5>
                                <button type="button" class="close" title="Close" data-dismiss="modal">&times;</button>
                        </div>
                        <!-- Modal body -->
                        <div class="modal-body">
                                <div class="row">
                                        <div
                                                style="border-radius: 5px; background-color:#d2effd; margin-top: 5px; width:102%; padding:8px;">
                                                <i class="fa fa-exclamation-circle text-info"></i>
                                                <div style="display:inline;"> To add new domain, an email will be
                                                        sent to Optimiser support team.</div>
                                        </div>
                                </div>
                                <div class="row mt-3">
                                        <div class="form-group col-sm-6 appendDiv">
                                                <h5 class="">Please enter your domain name</h5>
                                                <div class="form-group vld-parent input-field">
                                                        <input type="text" title="Domain Name (amazon.com,gmail.com)"
                                                                class="form-control form-control-sm msp-ctrl txtDomainName mt-3"
                                                                data-required />
                                                </div>
                                        </div>
                                        <div class="form-group col-sm-6 text-right">
                                                <button data-toggle="tooltip" data-placement="right" title="" data-original-title="Add Domain" class="btn btn-sm btn-outline-primary btnAddMoreDomain"><i class="fas fa-plus"></i></button>
                                                <button data-toggle="tooltip" data-placement="right" title="" data-original-title="Delete Domain" class="btn btn-sm btn-outline-danger btnDltMoreDomain"><i class="fas fa-minus"></i></button>
                                        </div>
                                </div>
                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer">
                                <button type="button" class="btn btn-primary btnSendRequestForDomain">Send Request</button>
                        </div>
                </div>
        </div>
</div>


<div class="modal fade" id="newUser">
        <div class="modal-dialog modal-lg">
                <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                                <h5 class="modal-title">Add New User</h5>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                                <div class="row">
                                        <div class="form-group col-sm-6 vld-parent ">
                                                <label class="small">User</label>
                                                <div class="input-group input-group-sm">
                                                        <div class="input-group-prepend">
                                                                <button class="btn btn-outline-primary btn-sm"><i
                                                                                class="fas fa-search"></i></button>
                                                        </div>
                                                        <div contenteditable="true" title="Reports To"
                                                                data-field="ReportsTo" data-ui="lookup"
                                                                class="msp-ctrl trigger-popup form-control form-control-sm msp-ctrl-lookup">
                                                        </div>
                                                </div>
                                        </div>
                                        <div class="form-group col-sm-6 vld-parent">
                                                <label class="small">Email Permission</label>
                                                <select title="Type" data-ui="dropdown"
                                                        class="msp-ctrl form-control form-control-sm msp-ctrl-dropdown"
                                                        data-required="">
                                                        <option></option>
                                                        <option value="1">Yes</option>
                                                        <option value="2">No</option>
                                                </select>
                                        </div>

                                        <div class="form-group col-sm-6 vld-parent">
                                                <label class="small">Tags Permission</label>
                                                <select title="Type" data-ui="dropdown"
                                                        class="msp-ctrl form-control form-control-sm msp-ctrl-dropdown"
                                                        data-required="">
                                                        <option></option>
                                                        <option value="1">Yes</option>
                                                        <option value="2">No</option>
                                                </select>
                                        </div>
                                        <div class="form-group col-sm-6 vld-parent">
                                                <label class="small">Category Permission</label>
                                                <select title="Type" data-ui="dropdown"
                                                        class="msp-ctrl form-control form-control-sm msp-ctrl-dropdown"
                                                        data-required="">
                                                        <option></option>
                                                        <option value="1">Yes</option>
                                                        <option value="2">No</option>
                                                </select>
                                        </div>
                                </div>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                                <button class="btn btn-light">Cancel</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
                        </div>

                </div>
        </div>
</div>


<div class="modal fade" id="newEmail">
        <div class="modal-dialog">
                <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                                <h5 class="modal-title">Add New Email</h5>
                                <button type="button" class="close" title="Close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                                <div class="row">
                                        <div class="form-group col-sm-12 vld-parent">
                                                <label class="small">Email</label>
                                                <div class="row ">
                                                        <div class="col-sm-6 pr-0">
                                                                <input type="text" title="Sender Email Id" data-ui="text"
                                                                        class="form-control form-control-sm msp-ctrl txtMarketingSendingEmail"
                                                                        data-required /></div>@
                                                        <div class="col pl-0">
                                                                <input type="text" title="Marketing Domain List" data-ui="text"
                                                                        class="form-control form-control-sm mt-0 msp-ctrl txtMarketingDomain"
                                                                        data-required disabled/>
                                                        </div>
                                                </div>
                                        </div>
                                        <div class="form-group col-sm-6 vld-parent">
                                                <label class="small">Sender Name</label>
                                                <div class="row">
                                                        <div class="col-sm-12 pr-0">
                                                                <input type="text" title="Sender Name"
                                                                        class="form-control form-control-sm msp-ctrl txtMarketingSenderName"
                                                                        data-required />
                                                        </div>
                                                </div>
                                        </div>
                                        <div class="form-group col-sm-6 vld-parent">
                                                <label class="small">User Access</label>
                                                <div class="row ml-1">
                                                        <div class="col-sm-12 pl-0">
                                                                <select multiple="multiple" title="Users List" data-ui="multiselect"
                                                                        class="msp-ctrl form-control form-control-sm msp-ctrl-multiselect mt-0 ddlUsersList">
                                                                </select>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                                <button class="btn btn-light btnCancelMarketingEmail"
                                        data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary btnSaveMarketingEmail">Save</button>
                        </div>

                </div>
        </div>
</div>


<div class="modal fade" id="newCategory">
        <div class="modal-dialog">
                <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                                <h5 class="modal-title">Add New Category</h5>
                                <button type="button" class="close" title="Close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                                <div class="row">
                                        <div class="form-group col-sm-12 vld-parent">
                                                <label class="small">Category Name</label>
                                                <input type="text" title="Category Name"
                                                        class="form-control form-control-sm msp-ctrl txtMarketingCategory"
                                                        data-required />
                                        </div>

                                        <div class="form-group col-sm-12 d-none">
                                                <label class="small">Category Description</label>
                                                <textarea class="form-control form-control-sm txtMarketingDescription"
                                                        title="Marketing Category Description">
                                                        </textarea>
                                        </div>
                                </div>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                                <button class="btn btn-light" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary btnSaveMarketingCategory">Save</button>
                        </div>

                </div>
        </div>
</div>

<div class="modal fade" id="newTag">
        <div class="modal-dialog">
                <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                                <h5 class="modal-title">Add New Tag</h5>
                                <button type="button" class="close" title="Close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                                <div class="row">
                                        <div class="form-group col-sm-12 vld-parent">
                                                <label class="small">Tag Name</label>
                                                <input type="text" title="Tag Name"
                                                        class="form-control form-control-sm msp-ctrl txtMarketingTagName"
                                                        data-required />
                                        </div>

                                        <div class="form-group col-sm-12 d-none">
                                                <label class="small">Tag Discreption</label>
                                                <textarea
                                                        class="form-control form-control-sm txtMarketingTagDescription"
                                                        title="Tag Description"></textarea>
                                        </div>

                                </div>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                                <button class="btn btn-light btnCloseMarketingTags" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary btnSaveMarketingTags">Save</button>
                        </div>

                </div>
        </div>
</div>

<div class="modal fade" id="subscribePage">
        <div class="modal-dialog modal-lg">
                <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                                <h5 class="modal-title">Subscribe Page Editing</h5>
                                <button type="button" class="close" title="Close" data-dismiss="modal">&times;</button>
                        </div>
                        <!-- Modal body -->
                        <div class="modal-body">
                                <div class="userTemplate">
                                        <div class="container-fluid">
                                                <div class="row">
                                                        <div class="unsubscribe-header bg-secondary col-12 pt-2 pb-2">
                                                                <div class="unsubscribe-logo d-inline-block"
                                                                        data-height="60" data-width="150"
                                                                        data-imageid="">
                                                                        <img src="../../images/companylogosample.png"
                                                                                height="60" />
                                                                </div>
                                                                <div class="change-logo d-inline-block">
                                                                        <button class="btnChangeLogo">Change
                                                                                Image</button>
                                                                </div>
                                                        </div>
                                                </div><br />
                                                <div class="row">
                                                        <div class="unsubscribe-body col-12 pb-3">
                                                                <div class="editor-unsubscribe-info editor ">
                                                                </div>
                                                        </div>
                                                </div><br />
                                                <div class="row">
                                                        <div class="unsubscribe-footer col-12 pb-3">
                                                                <div class="editor-footer editor">
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer">
                                <button class="btn btn-light btnCloseUnsubscribePage"
                                        data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary btnSaveUnsubscribePage">Save</button>
                        </div>
                </div>
        </div>
</div>

<div class="modal fade" id="sendSubscribePage">
        <div class="modal-dialog modal-lg">
                <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                                <h5 class="modal-title">Send email for subscription</h5>
                                <button type="button" class="close" title="Close" data-dismiss="modal">&times;</button>
                        </div>
                        <!-- Modal body -->
                        <div class="modal-body">
                                <div class="row mt-2 pl-0">
                                        <div class="form-group col-sm-6 vld-parent">
                                                <label>Email (Who is sending this subscription page?)</label>
                                                <select title="Domain Name" data-ui="dropdown"
                                                        class="form-control form-control-sm mt-0 msp-ctrl ddlMarketingDomainList"
                                                        data-required>
                                                </select>
                                        </div>
                                </div>
                                <div class="row mt-3">
                                        <div class="form-group col-sm-6 vld-parent">
                                                <label>Please enter email address:</label>
                                                <div class="form-control send_emails" style="height: auto; padding: 3px; border-radius: 3px;">
                                                        <div contenteditable="true" class="txttestMail"
                                                                style="display:inline-block; border: none; outline:none; max-width: 100%;">
                                                        </div>
                                                </div>
                                                <p class="small text-info mt-2">
                                                        Use commas, space & enter to separate multiple emails.
                                                </p>
                                        </div>
                                </div>
                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary btnSendSubscribePage">Send</button>
                        </div>
                </div>
        </div>
</div>

<div class="modal fade" id="unsubscribePage">
        <div class="modal-dialog modal-lg">
                <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                                <h5 class="modal-title">Unsubscribe Page Editing</h5>
                                <button type="button" class="close" title="Close" data-dismiss="modal">&times;</button>
                        </div>
                        <!-- Modal body -->
                        <div class="modal-body">
                                <div class="userTemplate">
                                        <div class="container-fluid">
                                                <div class="row">
                                                        <div class="unsubscribe-header bg-secondary col-12 pt-2 pb-2">
                                                                <div class="unsubscribe-logo d-inline-block"
                                                                        data-height="60" data-width="150"
                                                                        data-imageid="">
                                                                        <img src="../../images/companylogosample.png"
                                                                                height="60" />
                                                                </div>
                                                                <div class="change-logo d-inline-block">
                                                                        <button class="btnChangeLogo">Change
                                                                                Image</button>
                                                                </div>
                                                        </div>
                                                </div><br />
                                                <div class="row">
                                                        <div class="unsubscribe-body col-12 pb-3">
                                                                <div class="editor-unsubscribe-info editor ">
                                                                </div>
                                                        </div>
                                                </div><br />
                                                <div class="row">
                                                        <div class="unsubscribe-footer col-12 pb-3">
                                                                <div class="editor-footer editor">
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer">
                                <button class="btn btn-light btnCloseUnsubscribePage"
                                        data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary btnSaveUnsubscribePage">Save</button>
                        </div>
                </div>
        </div>
</div>