<div id="content">
    <div class="modal-body">
        <div class="table-sec msp-data-grid">
            <div class="card-body p-0 grid-body loading-container">
                <div class="d-flex pl-0 pr-0 pt-0">
                    <div class="flex-grow-1">
                        <span class="small pt-2"><span class="total-count">3 Items</span> <span
                                class="consumed-size"></span></span>
                    </div>
                    <div class="text-right flex-grow-1 gird-button-list mb-2 mt-1">
                        <div class="search-in-list">
                            <input type="text" class="form-control form-control-sm txtSearchInGrid"
                                placeholder="Search In List">
                        </div>
                    </div>
                </div>
                <div class="table-responsive grid-table-container tblUsers">
                    <table class="table table-bordered w-100">
                        <thead class="w-100">
                            <tr class="head-row w-100">
                                <th>
                                    <div class="d-flex">
                                        <div class="field-text">User Name</div>
                                    </div>
                                </th>
                                <th>
                                    <div class="d-flex">
                                        <div class="field-text">Job Title</div>
                                    </div>
                                </th>
                                <th>
                                    <div class="d-flex">
                                        <div class="field-text">User Status</div>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <nav class="mt-3 float-right user-list-paging">
                    <div class="paging">
                        <ul class="pagination"></ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>