<div class="object-detail">
    <div class="card mb-2 top-bar">
        <div class="card-header bg-white page-header">
            <div class="d-flex">
                <div class="flex-grow-1 w-50">
                    <h4 class="m-0 font-weight-bold d-inline-block object-name text-primary profile-name"></h4>
                    <div class="clearfix"></div>
                    <div>
                        <p class="mb-0 profile-description-summary text-secondary d-inline"></p>
                        <a href="#" class="btnProfileDescReadMore" title="Read More">More</a>
                    </div>
                    <div class="d-none">
                        <p class="mb-0 profile-description text-secondary d-inline"></p>
                        <a href="#" class="btnProfileDescReadLess" title="Read Less">Less</a>
                    </div>
                </div>
                <div class="flex-grow-1 text-right page-top-button" style="max-width:300px;">
                    <button class="btn btn-sm btn-outline-primary ml-2 btn-edit-object btnCloneProfile">Clone</button>
                    <button class="btn btn-sm btn-outline-primary ml-2 btn-edit-object btnViewProfileUsers">View
                        Users</button>
                    <button
                        class="btn btn-sm btn-primary ml-2 btn-edit-object btnEditProfileBasicDetail d-none">Edit</button>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="card object-detail-tab main-panel user-profile-detail border-0" data-SystemDefine="" data-AdminProfile="">
                    <!-- <nav>
                        <div class="nav nav-tabs" role="tablist"><a class="nav-item nav-link active"
                                data-pagename="detail">Basic Permissions</a></div>
                    </nav> -->
                    <div class="tab-content">
                        <div class="tab-pane fade active show p-0" data-pagename="detail">
                            <div class="mb-5 table-sec msp-data-grid">
                                <div class="card-body p-0 grid-body loading-container">
                                    <div class="table-responsive grid-table-container dv-module-container">
                                        <table class="grid-table table table-bordered tbl-module-list">
                                            <thead>
                                                <tr class="head-row">
                                                    <th width="20px;" class="d-none">
                                                        <div><label class="lblChk"><input type="checkbox"
                                                                    class="chkSelectAll"><span
                                                                    class="checkmark"></span></label></div>
                                                    </th>
                                                    <th class="" style="width:200px;">
                                                        <div class="d-flex" style="width:200px;">
                                                            <div class="field-text">Module</div>
                                                        </div>
                                                    </th>
                                                    <th class="" style="width:200px;">
                                                        <div class="d-flex" style="width:200px;">
                                                            <div class="field-text">View Access</div>
                                                        </div>
                                                    </th>
                                                    <th class="" style="width:400px;">
                                                        <div class="d-flex" style="width:400px;">
                                                            <div class="field-text">Permissions</div>
                                                        </div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <nav class="mt-3 float-right hide-edit">
                                        <div class="paging"></div>
                                    </nav>
                                </div>

                                <div class="fixed-bottom shadow-lg p-2 text-right bg-white">
                                    <button class="btn btn-light mr-2 btnCancelProfileEdit">Cancel</button>
                                    <button class="btn btn-primary btnUpdateProfile d-none">Update</button>
                                </div>


                                <div class="modal fade modalEditProfile" tabindex="-1" role="dialog"
                                    aria-labelledby="EditProfile" aria-hidden="true">
                                    <div class="modal-dialog" role="document"
                                        style="max-width:600px !important; min-width: 600px !important;">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Edit Profile</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="form-group col-sm-12 vld-parent">
                                                        <label>Name</label>
                                                        <input type="text"
                                                            class="form-control msp-ctrl form-control-sm profile-name"
                                                            title="Name" value="" data-required />
                                                    </div>
                                                    <div class="form-group col-sm-12">
                                                        <label>Description</label>
                                                        <textarea
                                                            class="form-control form-control-sm profile-description"
                                                            rows="3"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button"
                                                    class="btn btn-primary btnUpdateProfileBasicDetails">Update</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade modalCloneProfile" tabindex="-1" role="dialog"
                                    aria-labelledby="CloneProfile" aria-hidden="true">
                                    <div class="modal-dialog" role="document"
                                        style="max-width:600px !important; min-width: 600px !important;">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Clone Profile</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="form-group col-sm-12">
                                                        <label>Source Profile</label>
                                                        <span class="lblExistingProfileName" data-id=""></span>
                                                    </div>
                                                    <div class="form-group col-sm-12 vld-parent">
                                                        <label>New Profile Name</label>
                                                        <input type="text"
                                                            class="form-control msp-ctrl form-control-sm txtProfileName"
                                                            title="Name" value="" data-required />
                                                    </div>
                                                    <div class="form-group col-sm-12">
                                                        <label>Description</label>
                                                        <textarea
                                                            class="form-control form-control-sm txtProfileDescription"
                                                            rows="3"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button"
                                                    class="btn btn-primary btnSaveNewProfile">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>