<div class="user-settings mb-5">
    <h5 class="m-0 font-weight-bold text-primary mt-4 mb-3">My Settings</h5>
    <div class="row">
        <div class="col-xl-9 col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-md-6 form-group">
                    <label>Grid Rows</label>
                    <select class="ddlUserGridRows form-control form-control-sm">

                    </select>
                </div>
                <div class="col-md-6 form-group">
                    <label>Choose your Default Tab</label>
                    <select class="ddlUserDefaultTab form-control form-control-sm">
                    </select>
                </div>

                <div class="col-md-6 form-group">
                    <label>Calendar Double click will open</label>
                    <select class="ddlCalendarDoubleClick form-control form-control-sm">
                      
                    </select>
                </div>
                <div class="col-md-6 form-group">
                    <label>My Timezone</label>
                    <div title="My Timezone">
                        <select class="ddlUserTimezone form-control form-control-sm">
                        </select>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="small">Working Days</label>
                    <div class="user-working-days">
                        <div class="custom-control custom-checkbox mb-2">
                            <div class="row daytiming">
                                <div class="col-2">
                                    <input type="checkbox" class="custom-control-input chkDay" data-id="0"
                                        id="chkWDSunday">
                                    <label class="custom-control-label text-black" for="chkWDSunday">Sunday</label>
                                </div>
                                <div class="col">
                                    <div class="d-inline-block ml-3 mt-n2">
                                        <div class="d-inline-block small starttime vld-parent">
                                            <!-- <label class="custom-control-label text-black">Start Time</label> -->
                                            <!-- <select class="form-control form-control-sm d-inline w-auto">
                                                <option>9:00 AM</option>
                                            </select> -->
                                        </div>
                                        <div class="d-inline-block endtime vld-parent">
                                            <!-- <label class="custom-control-label text-black">End Time</label> -->
                                            <!-- <select class="form-control form-control-sm d-inline w-auto">
                                                <option>9:00 AM</option>
                                            </select> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="custom-control custom-checkbox mb-2">
                            <div class="row daytiming">
                                <div class="col-2">
                                    <input type="checkbox" class="custom-control-input chkDay" data-id="1"
                                        id="chkWDMonday">
                                    <label class="custom-control-label text-black" for="chkWDMonday">Monday</label>
                                </div>
                                <div class="col">
                                    <div class="d-inline-block ml-3 mt-n2">
                                        <div class="d-inline-block small starttime vld-parent">
                                        </div>
                                        <div class="d-inline-block endtime vld-parent">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="custom-control custom-checkbox mb-2">
                            <div class="row daytiming">
                                <div class="col-2">
                                    <input type="checkbox" class="custom-control-input chkDay" data-id="2"
                                        id="chkWDTuesday">
                                    <label class="custom-control-label text-black" for="chkWDTuesday">Tuesday</label>
                                </div>
                                <div class="col">
                                    <div class="d-inline-block ml-3 mt-n2">
                                        <div class="d-inline-block small starttime vld-parent">
                                        </div>
                                        <div class="d-inline-block endtime vld-parent">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="custom-control custom-checkbox mb-2">
                            <div class="row daytiming">
                                <div class="col-2">
                                    <input type="checkbox" class="custom-control-input chkDay" data-id="3"
                                        id="chkWDWednesday">
                                    <label class="custom-control-label text-black"
                                        for="chkWDWednesday">Wednesday</label>
                                </div>
                                <div class="col">
                                    <div class="d-inline-block ml-3 mt-n2">
                                        <div class="d-inline-block small starttime vld-parent">
                                        </div>
                                        <div class="d-inline-block endtime vld-parent">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="custom-control custom-checkbox mb-2">
                            <div class="row daytiming">
                                <div class="col-2">
                                    <input type="checkbox" class="custom-control-input chkDay" data-id="4"
                                        id="chkWDThursday">
                                    <label class="custom-control-label text-black" for="chkWDThursday">Thursday</label>
                                </div>
                                <div class="col">
                                    <div class="d-inline-block ml-3 mt-n2">
                                        <div class="d-inline-block small starttime vld-parent">
                                        </div>
                                        <div class="d-inline-block endtime vld-parent">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="custom-control custom-checkbox mb-2">
                            <div class="row daytiming">
                                <div class="col-2">
                                    <input type="checkbox" class="custom-control-input chkDay" data-id="5"
                                        id="chkWDFriday">
                                    <label class="custom-control-label text-black" for="chkWDFriday">Friday</label>
                                </div>
                                <div class="col">
                                    <div class="d-inline-block ml-3 mt-n2">
                                        <div class="d-inline-block small starttime vld-parent">
                                        </div>
                                        <div class="d-inline-block endtime vld-parent">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="custom-control custom-checkbox mb-2">
                            <div class="row daytiming">
                                <div class="col-2">
                                    <input type="checkbox" class="custom-control-input chkDay" data-id="6"
                                        id="chkWDSaturday">
                                    <label class="custom-control-label text-black" for="chkWDSaturday">Saturday</label>
                                </div>
                                <div class="col">
                                    <div class="d-inline-block ml-3 mt-n2 ">
                                        <div class="d-inline-block small starttime vld-parent">
                                        </div>
                                        <div class="d-inline-block endtime vld-parent">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="error-container vld-parent"></div>
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <!-- <label>My Signatures</label>
                    <div title="Company Default Signature" allow-formattedpaste='true' class="msp-ctrl msp-ctrl-texteditor txtUserSignature emailsignature">
                        <div class="texteditor" contenteditable="true"
                            style="margin-top: 0px;  resize: vertical;overflow: auto; margin-bottom: 0px; height: 140px;border:1px solid #d1d3e2">
                        </div>
                    </div>
                    <div><input type="button" class="btnResetUserSignature btn btn-link btn-sm pl-0 pr-0 text-danger"
                            value="Reset My Signature" /> </div> -->
                </div>
                <div class="col-md-6 form-group users-allowed">
                    <label class="small parent-lblChk">Users Allowed to see my Calendar</label>
                    <select multiple="multiple" title="Users List" class="msp-ctrl form-control form-control-sm text-left ddlAllowedUsersList"></select>
                </div>
                <div class="col-md-6 form-group users-denied">
                    <label class="small parent-lblChk">Users Denied to see my Calendar</label>
                    <select multiple="multiple" title="Users List" class="msp-ctrl form-control form-control-sm text-left ddlDeniedUsersList"></select>
                </div>
                <div class="fixed-bottom p-2 shadow text-right bg-white">
                    <button class="btn btn-outline-primary btnCancel">Cancel</button>
                    <button class="btnSaveMySettings btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>