<div class="table-sec reports msp-data-grid">
    <div class="row">
        <div class="col calendar-left-panel pt-3 shadow mt-n2">
            <h6 class="font-weight-bold pt-1 text-dark">Report folder</h6>
            <div class="row">
                <div class="col"><input type="text" class="form-control form-control-sm txt-search-folder" placeholder="Search In Folder List"></div>
                <div class="col-auto pl-0">
                    <button type="button" class="btn btn-sm btn-primary btn-add-folder">
                       <i class="fas fa-plus"></i>
                      </button>
                </div>
                <div class="col-12 pt-3">
                    <ul class="report-folder">
                    </ul>
                </div>
            </div>
            
        </div>
        <div class="col report-list">
            <div class="card-header pl-0 pr-0 pb-1 grid-header bg-white">
                <div class="d-flex">
                    <div class="flex-grow-1 position-relative page-title-info">
                        <h5 class="m-0 font-weight-bold d-inline-block page-name text-primary">Account Reports</h5>
                        <div class="clearfix"></div>
                    </div>
                    <div class="flex-grow-1 text-right page-top-button">
                        <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#new-report">New Report</button>
                    </div>
                </div>
            </div>

            <div class="card-body p-0 grid-body loading-container">
                <div class="d-flex pl-0 pr-0 pt-0">
                    <div class="flex-grow-1">
                        <span class="small pt-2"><span class="total-count">3 Items</span> <span
                                class="consumed-size"></span></span>
                    </div>
                    <div class="text-right flex-grow-1 gird-button-list hide-edit mb-2 mt-1">
                        <div class="search-in-list">
                            <input type="text" class="form-control form-control-sm txtSearchInGrid"
                                placeholder="Search In List">
                        </div>
                        <button class="btn btn-sm btn-outline-secondary ml-1" data-toggle="tooltip"
                            title="" data-original-title="share Report"> <i class="fas fa-share-alt"></i>
                        </button>
                        <button class="btnDelete btn btn-sm btn-outline-secondary ml-1" data-toggle="tooltip" title="">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                        <button class="btn btn-sm btn-outline-secondary ml-1" data-toggle="tooltip"
                            title="" data-original-title="Grid Setting"> <i class="fas fa-cog"></i>
                        </button>

                       

                    </div>
                </div>

                <div class="table-responsive grid-table-container">
                    <table class="grid-table table table-bordered">
                        <thead</thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

  <!-- Modal -->
  <div class="modal fade" id="folder-access" tabindex="-1" role="dialog" aria-labelledby="folder-accessTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="folder-accessTitle">Account Report Access</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
           <div class="row">
            <div class="form-group col-sm-12 vld-parent ">
                <label class="small">Select user, Roles, Tags</label>
                <select class="form-control form-control-sm">
                    <option> User </option>
                    <option> Roles</option>
                    <option> Tags</option>
                </select>
            </div>
            <div class="form-group col-sm-12 vld-parent ">
                <label class="small">All User</label>
                <div class="table-responsive grid-table-container">
                    <table class="grid-table table table-bordered">
                        <thead>
                            <tr class="head-row">
                               
                                <th data-field="Name" class="" style="width:200px;">
                                    <div class="d-flex" style="width:200px;">
                                        <div class="field-text">User Name</div>
                                        <div class="field-icon">
                                            <div class="sort-field hide-edit"></div><i class="fa fa-ellipsis-v text-wrap dropdown-toggle hide-edit" data-toggle="dropdown"></i>
                                            <div class="dropdown-menu text-wrap-dropdown"><a class="dropdown-item current" data-text="clip">Clip Text</a><a class="dropdown-item" data-text="wrap">Wrap Text</a></div>
                                            <div class="grip"></div>
                                        </div>
                                    </div>
                                </th>
                               
                            
                                <th data-field="Value" class="" style="width: 200px;">
                                    <div class="d-flex" style="width:200px;">
                                        <div class="field-text">Email</div>
                                        <div class="field-icon">
                                            <div class="sort-field hide-edit"></div><i class="fa fa-ellipsis-v text-wrap dropdown-toggle hide-edit" data-toggle="dropdown"></i>
                                            <div class="dropdown-menu text-wrap-dropdown"><a class="dropdown-item current" data-text="clip">Clip Text</a><a class="dropdown-item" data-text="wrap">Wrap Text</a></div>
                                            <div class="grip"></div>
                                        </div>
                                    </div>
                                </th>
                                <th data-field="OwnerID" class="" style="width:200px;">
                                    <div class="d-flex" style="width:200px;">
                                        <div class="field-text">Access</div>
                                        <div class="field-icon">
                                            <div class="sort-field hide-edit"></div>
                                            
                                            <div class="grip"></div>
                                        </div>
                                    </div>
                                </th>
                               
                            </tr>
                            <tr class="filter-row hide-edit">
                               
                                <th data-field="Name" class="">
                                    <div><input type="text" data-field="Name" data-ui="text" class="msp-ctrl form-control form-control-sm msp-filter-ctrl msp-ctrl-text">
                                    </div>
                                </th>
                                <th data-field="Description" class="">
                                    <div>
                                        <input type="text" data-field="Description" class="msp-ctrl form-control form-control-sm msp-filter-ctrl msp-ctrl-url">
                                    </div>
                                </th>
                                <th data-field="CreatedBy" class="">
                                    <div>
                                        <input type="text" data-field="CreatedBy" class="msp-ctrl form-control form-control-sm msp-filter-ctrl msp-ctrl-url">
                                    </div>
                                </th>                             
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-id="">
                                <td class="">
                                    <div class="grid-cell pr-15" data-field="Name" data-type="text">
                                        <div class="cell-disp hide-edit">Renti Metaal </div>
                                    </div>
                                </td>
                                <td class="">
                                    <div class="grid-cell" data-field="Description" data-type="dropdown">
                                        <div class="cell-disp hide-edit">renti@company.com</div>
                                    </div>
                                </td>
                                <td class="">
                                    <div class="grid-cell" data-field="CreateBy" data-type="dropdown">
                                        <div class="cell-disp hide-edit"><select class="form-control form-control-sm">
                                            <option> Public </option>
                                            <option> Private</option>
                                         
                                        </select></div>
                                    </div>
                                </td>
                            </tr>
                 
                        </tbody>
                    </table>
                </div>
               
            </div>
           </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="report-share" tabindex="-1" role="dialog" aria-labelledby="report-shareTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="report-shareTitle">Account Report Access</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
           <div class="row">
            <div class="form-group col-sm-8 vld-parent "><label class="small">Users</label><div class="input-group input-group-sm align-items-stretch ctrl-container"><div class="input-group-prepend"><div class="btn btn-outline-primary btn-sm"><div class="pt-1"><i class="fas fa-search"></i></div></div></div><div tabindex="0" title="Attendees" data-field="Attendees" data-ui="multilookup" class="msp-ctrl trigger-popup form-control form-control-sm msp-ctrl-multilookup"><input class="trigger-popup"></div></div></div>
            
            <div class="form-group col-sm-12 vld-parent ">
                <label class="small">Report Access</label>
                <div class="col-12"></div>
                <div class="custom-control custom-radio d-inline-block mr-2">
                    <input type="radio" name="ReportAccess" id="ReportViewer" class="custom-control-input">
                    <label class="custom-control-label" for="ReportViewer">Viewer</label>
                  </div>
                  <div class="custom-control custom-radio d-inline-block mr-2">
                    <input type="radio" name="ReportAccess" id="ReportEditor" class="custom-control-input">
                    <label class="custom-control-label" for="ReportEditor">Editor</label>
                  </div>
                  <div class="custom-control custom-radio d-inline-block mr-2">
                    <input type="radio" name="ReportAccess" id="ManageReport" class="custom-control-input">
                    <label class="custom-control-label" for="ManageReport">Manager</label>
                  </div>
            </div>
            
            <div class="form-group col-sm-12 vld-parent">
                <label class="small">Shared User</label>
                <div class="table-responsive grid-table-container">
                    <table class="grid-table table table-bordered">
                        <thead>
                            <tr class="head-row">
                               
                                <th data-field="Name" class="" style="width:200px;">
                                    <div class="d-flex" style="width:200px;">
                                        <div class="field-text">User Name</div>
                                        <div class="field-icon">
                                            <div class="sort-field hide-edit"></div><i class="fa fa-ellipsis-v text-wrap dropdown-toggle hide-edit" data-toggle="dropdown"></i>
                                            <div class="dropdown-menu text-wrap-dropdown"><a class="dropdown-item current" data-text="clip">Clip Text</a><a class="dropdown-item" data-text="wrap">Wrap Text</a></div>
                                            <div class="grip"></div>
                                        </div>
                                    </div>
                                </th>
                               
                            
                                <th data-field="Value" class="" style="width: 200px;">
                                    <div class="d-flex" style="width:200px;">
                                        <div class="field-text">Email</div>
                                        <div class="field-icon">
                                            <div class="sort-field hide-edit"></div><i class="fa fa-ellipsis-v text-wrap dropdown-toggle hide-edit" data-toggle="dropdown"></i>
                                            <div class="dropdown-menu text-wrap-dropdown"><a class="dropdown-item current" data-text="clip">Clip Text</a><a class="dropdown-item" data-text="wrap">Wrap Text</a></div>
                                            <div class="grip"></div>
                                        </div>
                                    </div>
                                </th>
                                <th data-field="OwnerID" class="" style="width:150px;">
                                    <div class="d-flex" style="width:150px;">
                                        <div class="field-text">Access</div>
                                        <div class="field-icon">
                                            <div class="sort-field hide-edit"></div>
                                            
                                            <div class="grip"></div>
                                        </div>
                                    </div>
                                </th>

                                <th data-field="OwnerID" class="" style="width:50px;">
                                    <div class="d-flex" style="width:50px;">
                                        
                                    </div>
                                </th>
                               
                            </tr>
                            <tr class="filter-row hide-edit">
                               
                                <th data-field="Name" class="">
                                    <div><input type="text" data-field="Name" data-ui="text" class="msp-ctrl form-control form-control-sm msp-filter-ctrl msp-ctrl-text">
                                    </div>
                                </th>


                                <th data-field="Description" class="">
                                    <div>
                                        <input type="text" data-field="Description" class="msp-ctrl form-control form-control-sm msp-filter-ctrl msp-ctrl-url">
                                    </div>
                                </th>
                                <th data-field="CreatedBy" class="">
                                    <div>
                                        <input type="text" data-field="CreatedBy" class="msp-ctrl form-control form-control-sm msp-filter-ctrl msp-ctrl-url">
                                    </div>
                                </th>
                                <th>

                                </th>

                             
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-id="">
                                
                                <td class="">
                                    <div class="grid-cell pr-15" data-field="Name" data-type="text">
                                        <div class="cell-disp hide-edit">Renti Metaal </div>
                                    </div>
                                </td>
                                <td class="">
                                    <div class="grid-cell" data-field="Description" data-type="dropdown">
                                        <div class="cell-disp hide-edit">renti@company.com</div>
                                    </div>
                                </td>
                                <td class="">
                                    <div class="grid-cell" data-field="CreateBy" data-type="dropdown">
                                        <div class="cell-disp hide-edit">
                                           
                                               Viewer

                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <button class="btn btn-sm ml-2 text-danger"><i class="fas fa-times"></i></button>
                                </td>

                                
                            </tr>
                 
                        </tbody>
                    </table>
                </div>
               
            </div>
           </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary">Share</button>
        </div>
      </div>
    </div>
  </div>

</div>