<div class="table-sec msp-data-grid reports">
    <div class="row">
        <div class="col report-list">
            <div class="card-header pl-0 pr-0 pb-1 grid-header bg-white">
                <div class="d-flex">
                    <div class="flex-grow-1 position-relative page-title-info">
                        <h5 class="m-0 font-weight-bold d-inline-block page-name text-primary">Account Activity Report</h5>
                        <div class="clearfix"></div>
                    </div>
                    <div class="flex-grow-1 text-right page-top-button">
                        <button class="btn btn-sm btn-primary customize-report">Edit</button>
                    </div>
                </div>
            </div>

            <div class="card-body p-0 grid-body loading-container">
                <div class="d-flex pl-0 pr-0 pt-0">
                    <div class="flex-grow-1">
                        <span class="small pt-2"><span class="total-count">10 Item found</span> <span class="consumed-size"></span></span>
                    </div>
                    <div class="text-right flex-grow-1 gird-button-list hide-edit mb-2 mt-1">
                        <button class="btn btn-sm btn-outline-secondary ml-1" data-toggle="tooltip" title="" > <i class="fas fa-play"></i> Run Report
                        </button>
                        <button class="btn btn-sm btn-outline-secondary ml-1" data-toggle="tooltip" title="Print report" > <i class="fas fa-print"></i>
                        </button>
                        <button class="btn btn-sm btn-outline-secondary ml-1" data-toggle="tooltip" title="Download excel" > <i class="fas fa-file-excel"></i>
                        </button>
                        <button class="btn btn-sm btn-outline-secondary ml-1" data-toggle="tooltip" title="Download Pdf" > <i class="fas fa-file-pdf"></i>
                        </button>
                        <button class="btn btn-sm btn-outline-secondary ml-1" data-toggle="modal" data-target="#report-share-detail" > <i class="fas fa-share-alt"></i>
                        </button>
                        <button class="btn btn-sm btn-outline-secondary ml-1" data-toggle="tooltip" title="Advance Filter" > <i class="fas fa-filter"></i>
                        </button>
                        <button class="btnDelete btn btn-sm btn-outline-secondary ml-1" data-toggle="modal" data-target="#report-mail" title="Mail Report">
                            <i class="fas fa-envelope"></i>
                        </button>
                        <button class="btn btn-sm btn-outline-secondary ml-1" data-toggle="modal" title="" data-target="#report-setting"> <i class="fas fa-cog"></i>
                        </button>

                       

                    </div>
                </div>

                <div class="table-responsive grid-table-container">
                    <table class="grid-table table table-bordered">
                        <thead>
                            <tr class="head-row">
                              
                                <th data-field="Name" class="" style="width:200px;">
                                    <div class="d-flex" style="width:200px;">
                                        <div class="field-text">Activity Type</div>
                                        <div class="field-icon">
                                            <div class="sort-field hide-edit"></div><i class="fa fa-ellipsis-v text-wrap dropdown-toggle hide-edit" data-toggle="dropdown"></i>
                                            <div class="dropdown-menu text-wrap-dropdown"><a class="dropdown-item current" data-text="clip">Clip Text</a><a class="dropdown-item" data-text="wrap">Wrap Text</a></div>
                                            <div class="grip"></div>
                                        </div>
                                    </div>
                                </th>
                               
                            
                                <th data-field="Value" class="" style="width: 140px;">
                                    <div class="d-flex" style="width: 140px;">
                                        <div class="field-text">Start Date</div>
                                        <div class="field-icon">
                                            <div class="sort-field hide-edit"></div><i class="fa fa-ellipsis-v text-wrap dropdown-toggle hide-edit" data-toggle="dropdown"></i>
                                            <div class="dropdown-menu text-wrap-dropdown"><a class="dropdown-item current" data-text="clip">Clip Text</a><a class="dropdown-item" data-text="wrap">Wrap Text</a></div>
                                            <div class="grip"></div>
                                        </div>
                                    </div>
                                </th>
                                <th data-field="OwnerID" class="" style="width:100px;">
                                    <div class="d-flex" style="width:140px;">
                                        <div class="field-text">Created By</div>
                                        <div class="field-icon">
                                            <div class="sort-field hide-edit"></div><i class="fa fa-ellipsis-v text-wrap dropdown-toggle hide-edit" data-toggle="dropdown"></i>
                                            <div class="dropdown-menu text-wrap-dropdown"><a class="dropdown-item current" data-text="clip">Clip Text</a><a class="dropdown-item" data-text="wrap">Wrap Text</a></div>
                                            <div class="grip"></div>
                                        </div>
                                    </div>
                                </th>
                                <th data-field="" class="" style="width:200px;">
                                    <div class="d-flex" style="width:200px;">
                                        <div class="field-text">Agenda </div>
                                        <div class="field-icon">
                                            <div class="sort-field hide-edit"></div>
                                           
                                            <div class="grip"></div>
                                        </div>
                                    </div>
                                </th>

                                <th data-field="" class="" style="width:150px;">
                                    <div class="d-flex" style="width:150px;">
                                        <div class="field-text">Scheduled By </div>
                                        <div class="field-icon">
                                            <div class="sort-field hide-edit"></div>
                                           
                                            <div class="grip"></div>
                                        </div>
                                    </div>
                                </th>

                                <th data-field="" class="" style="width:150px;">
                                    <div class="d-flex" style="width:150px;">
                                        <div class="field-text">Contact</div>
                                        <div class="field-icon">
                                            <div class="sort-field hide-edit"></div>
                                           
                                            <div class="grip"></div>
                                        </div>
                                    </div>
                                </th>
                                <th data-field="" class="" style="width:100px;">
                                    <div class="d-flex" style="width:100px;">
                                        <div class="field-text">City</div>
                                        <div class="field-icon">
                                            <div class="sort-field hide-edit"></div>
                                           
                                            <div class="grip"></div>
                                        </div>
                                    </div>
                                </th>
                                <th data-field="" class="" style="width:100px;">
                                    <div class="d-flex" style="width:100px;">
                                        <div class="field-text">Country</div>
                                        <div class="field-icon">
                                            <div class="sort-field hide-edit"></div>
                                           
                                            <div class="grip"></div>
                                        </div>
                                    </div>
                                </th>
                                <th data-field="" class="" style="width:100px;">
                                    <div class="d-flex" style="width:100px;">
                                        <div class="field-text">Industry Type</div>
                                        <div class="field-icon">
                                            <div class="sort-field hide-edit"></div>
                                           
                                            <div class="grip"></div>
                                        </div>
                                    </div>
                                </th>
                                <th data-field="" class="" style="width:100px;">
                                    <div class="d-flex" style="width:100px;">
                                        <div class="field-text">Updated</div>
                                        <div class="field-icon">
                                            <div class="sort-field hide-edit"></div>
                                           
                                            <div class="grip"></div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            <tr class="filter-row hide-edit">
                                <th data-field="Name" class="">
                                    <div><input type="text" data-field="Name" data-ui="text" class="msp-ctrl form-control form-control-sm msp-filter-ctrl msp-ctrl-text">
                                    </div>
                                </th>


                                <th data-field="Description" class="">
                                    <div>
                                        <input type="text" data-field="Description" class="msp-ctrl form-control form-control-sm msp-filter-ctrl msp-ctrl-url">
                                    </div>
                                </th>
                                <th data-field="CreatedBy" class="">
                                    <div>
                                        <input type="text" data-field="CreatedBy" class="msp-ctrl form-control form-control-sm msp-filter-ctrl msp-ctrl-url">
                                    </div>
                                </th>
                                <th data-field="LastRun" class="">
                                    <div>
                                        <input type="text" data-field="LastRun" class="msp-ctrl form-control form-control-sm msp-filter-ctrl msp-ctrl-url">
                                    </div>
                                </th>

                                <th class="">
                                    <div>
                                        <input type="text" data-field="" class="msp-ctrl form-control form-control-sm msp-filter-ctrl msp-ctrl-url">
                                    </div>
                                </th>
                                
                                <th class="">
                                    <div>
                                        <input type="text" data-field="" class="msp-ctrl form-control form-control-sm msp-filter-ctrl msp-ctrl-url">
                                    </div>
                                </th>
                                
                                <th class="">
                                    <div>
                                        <input type="text" data-field="" class="msp-ctrl form-control form-control-sm msp-filter-ctrl msp-ctrl-url">
                                    </div>
                                </th>
                                
                                <th class="">
                                    <div>
                                        <input type="text" data-field="" class="msp-ctrl form-control form-control-sm msp-filter-ctrl msp-ctrl-url">
                                    </div>
                                </th>
                                
                                <th class="">
                                    <div>
                                        <input type="text" data-field="" class="msp-ctrl form-control form-control-sm msp-filter-ctrl msp-ctrl-url">
                                    </div>
                                </th>
                                
                                <th class="">
                                    <div>
                                        <input type="text" data-field="" class="msp-ctrl form-control form-control-sm msp-filter-ctrl msp-ctrl-url">
                                    </div>
                                </th>
                                
                                

                             
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                               
                                <td class="">
                                    <div class="grid-cell pr-15" data-field="Name" data-type="text">
                                        <div class="cell-disp hide-edit">New accounts reports</div>
                                    </div>
                                </td>
                                <td class="">
                                    <div class="grid-cell" data-field="Description" data-type="dropdown">
                                        <div class="cell-disp hide-edit">12/03/2020</div>
                                    </div>
                                </td>
                                <td class="">
                                    <div class="grid-cell" data-field="CreateBy" data-type="dropdown">
                                        <div class="cell-disp hide-edit">Me</div>
                                    </div>
                                </td>

                                <td class="">
                                    <div class="grid-cell" data-field="LastRun" data-type="dropdown">
                                        <div class="cell-disp hide-edit">This report show data about new joined account</div>
                                    </div>
                                </td>

                                <td class="">
                                    <div class="grid-cell" data-field="CreateBy" data-type="dropdown">
                                        <div class="cell-disp hide-edit">John Reedo</div>
                                    </div>
                                </td>

                                <td class="">
                                    <div class="grid-cell" data-field="CreateBy" data-type="dropdown">
                                        <div class="cell-disp hide-edit">Nomai Seer</div>
                                    </div>
                                </td>
                                <td class="">
                                    <div class="grid-cell" data-field="CreateBy" data-type="dropdown">
                                        <div class="cell-disp hide-edit">London</div>
                                    </div>
                                </td>
                                <td class="">
                                    <div class="grid-cell" data-field="CreateBy" data-type="dropdown">
                                        <div class="cell-disp hide-edit">United Kingdom</div>
                                    </div>
                                </td>
                                <td class="">
                                    <div class="grid-cell" data-field="CreateBy" data-type="dropdown">
                                        <div class="cell-disp hide-edit">sports</div>
                                    </div>
                                </td>
                                <td class="">
                                    <div class="grid-cell" data-field="CreateBy" data-type="dropdown">
                                        <div class="cell-disp hide-edit">20/03/2020</div>
                                    </div>
                                </td>
                            </tr>
                 
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="report-share-detail" tabindex="-1" role="dialog" aria-labelledby="report-share-detailTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="report-share-detailTitle">Account Report Access</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
               <div class="row">
                <div class="form-group col-sm-8 vld-parent "><label class="small">Users</label><div class="input-group input-group-sm align-items-stretch ctrl-container"><div class="input-group-prepend"><div class="btn btn-outline-primary btn-sm"><div class="pt-1"><i class="fas fa-search"></i></div></div></div><div tabindex="0" title="Attendees" data-field="Attendees" data-ui="multilookup" class="msp-ctrl trigger-popup form-control form-control-sm msp-ctrl-multilookup"><input class="trigger-popup"></div></div></div>
                
                <div class="form-group col-sm-12 vld-parent ">
                    <label class="small">Report Access</label>
                    <div class="col-12"></div>
                    <div class="custom-control custom-radio d-inline-block mr-2">
                        <input type="radio" name="ReportAccess" id="ReportViewerd" class="custom-control-input">
                        <label class="custom-control-label" for="ReportViewerd">Viewer</label>
                      </div>
                      <div class="custom-control custom-radio d-inline-block mr-2">
                        <input type="radio" name="ReportAccess" id="ReportEditord" class="custom-control-input">
                        <label class="custom-control-label" for="ReportEditord">Editor</label>
                      </div>
                      <div class="custom-control custom-radio d-inline-block mr-2">
                        <input type="radio" name="ReportAccess" id="ManageReportd" class="custom-control-input">
                        <label class="custom-control-label" for="ManageReportd">Manager</label>
                      </div>
                </div>
                
                <div class="form-group col-sm-12 vld-parent">
                    <label class="small">Shared User</label>
                    <div class="table-responsive grid-table-container">
                        <table class="grid-table table table-bordered">
                            <thead>
                                <tr class="head-row">
                                   
                                    <th data-field="Name" class="" style="width:200px;">
                                        <div class="d-flex" style="width:200px;">
                                            <div class="field-text">User Name</div>
                                            <div class="field-icon">
                                                <div class="sort-field hide-edit"></div><i class="fa fa-ellipsis-v text-wrap dropdown-toggle hide-edit" data-toggle="dropdown"></i>
                                                <div class="dropdown-menu text-wrap-dropdown"><a class="dropdown-item current" data-text="clip">Clip Text</a><a class="dropdown-item" data-text="wrap">Wrap Text</a></div>
                                                <div class="grip"></div>
                                            </div>
                                        </div>
                                    </th>
                                   
                                
                                    <th data-field="Value" class="" style="width: 200px;">
                                        <div class="d-flex" style="width:200px;">
                                            <div class="field-text">Email</div>
                                            <div class="field-icon">
                                                <div class="sort-field hide-edit"></div><i class="fa fa-ellipsis-v text-wrap dropdown-toggle hide-edit" data-toggle="dropdown"></i>
                                                <div class="dropdown-menu text-wrap-dropdown"><a class="dropdown-item current" data-text="clip">Clip Text</a><a class="dropdown-item" data-text="wrap">Wrap Text</a></div>
                                                <div class="grip"></div>
                                            </div>
                                        </div>
                                    </th>
                                    <th data-field="OwnerID" class="" style="width:150px;">
                                        <div class="d-flex" style="width:150px;">
                                            <div class="field-text">Access</div>
                                            <div class="field-icon">
                                                <div class="sort-field hide-edit"></div>
                                                
                                                <div class="grip"></div>
                                            </div>
                                        </div>
                                    </th>
    
                                    <th data-field="OwnerID" class="" style="width:50px;">
                                        <div class="d-flex" style="width:50px;">
                                            
                                        </div>
                                    </th>
                                   
                                </tr>
                                <tr class="filter-row hide-edit">
                                   
                                    <th data-field="Name" class="">
                                        <div><input type="text" data-field="Name" data-ui="text" class="msp-ctrl form-control form-control-sm msp-filter-ctrl msp-ctrl-text">
                                        </div>
                                    </th>
    
    
                                    <th data-field="Description" class="">
                                        <div>
                                            <input type="text" data-field="Description" class="msp-ctrl form-control form-control-sm msp-filter-ctrl msp-ctrl-url">
                                        </div>
                                    </th>
                                    <th data-field="CreatedBy" class="">
                                        <div>
                                            <input type="text" data-field="CreatedBy" class="msp-ctrl form-control form-control-sm msp-filter-ctrl msp-ctrl-url">
                                        </div>
                                    </th>
                                    <th>
    
                                    </th>
    
                                 
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-id="">
                                    
                                    <td class="">
                                        <div class="grid-cell pr-15" data-field="Name" data-type="text">
                                            <div class="cell-disp hide-edit">Renti Metaal </div>
                                        </div>
                                    </td>
                                    <td class="">
                                        <div class="grid-cell" data-field="Description" data-type="dropdown">
                                            <div class="cell-disp hide-edit">renti@company.com</div>
                                        </div>
                                    </td>
                                    <td class="">
                                        <div class="grid-cell" data-field="CreateBy" data-type="dropdown">
                                            <div class="cell-disp hide-edit">
                                               
                                                   Viewer
    
                                            </div>
                                        </div>
                                    </td>
    
                                    <td>
                                        <button class="btn btn-sm ml-2 text-danger"><i class="fas fa-times"></i></button>
                                    </td>
    
                                    
                                </tr>
                     
                            </tbody>
                        </table>
                    </div>
                   
                </div>
               </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary">Share</button>
            </div>
          </div>
        </div>
      </div>


      <div class="modal fade" id="report-mail" tabindex="-1" role="dialog" aria-labelledby="report-mailTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="report-mailTitle">Account Activity Report</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
               <div class="row">
                <div class="form-group col-sm-12 vld-parent "><label class="small">Mail To</label><div class="input-group input-group-sm align-items-stretch ctrl-container"><div class="input-group-prepend"><div class="btn btn-outline-primary btn-sm"><div class="pt-1"><i class="fas fa-search"></i></div></div></div><div tabindex="0" title="Attendees" data-field="Attendees" data-ui="multilookup" class="msp-ctrl trigger-popup form-control form-control-sm msp-ctrl-multilookup"><input class="trigger-popup"></div></div></div>
                <div class="form-group col-sm-12 vld-parent mb-5">
                    <label class="small">Message</label>
                    <textarea class="form-control form-control-sm" rows="4">

                    </textarea>
               </div>
            </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary">Send</button>
            </div>
          </div>
        </div>
      </div>



      <div class="modal fade" id="report-setting" tabindex="-1" role="dialog" aria-labelledby="report-settingTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="report-settingTitle">Account Report Setting</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Baisc Setting</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Column Setting</a>
                    </li>
                 
                  </ul>
                  <div class="tab-content p-3 border border-top-0" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="form-group col-sm-12 col-md-6 vld-parent ">
                                <label class="small">Report Name</label>
                                <input type="text" title="Report Name" data-field="Name" data-ui="text" class="msp-ctrl form-control form-control-sm msp-ctrl-text" data-required="">
                            </div>
                            <div class="form-group col-sm-12 col-md-6 vld-parent ">
                                <label class="small">Report Description</label>
                                <input type="text" title="Report Name" data-field="Name" data-ui="text" class="msp-ctrl form-control form-control-sm msp-ctrl-text" data-required="">
                            </div>
                            <div class="form-group col-sm-12 col-md-6 vld-parent ">
                                <label class="small">Select Folder</label>
                                <select class="msp-ctrl form-control form-control-sm">
                                    <option value="Account Activity">Account Activity</option>
                                    <option value="Account roles report">Account roles report</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-12 vld-parent ">
                                <label class="small">Report Layout</label>
                                <div class="col-12"></div>
                                <div class="custom-control custom-radio d-inline-block mr-2">
                                    <input type="radio" name="ReportLayout" id="TabularReports " class="custom-control-input">
                                    <label class="custom-control-label" for="TabularReports ">Tabular Report</label>
                                  </div>
                                  <div class="custom-control custom-radio d-inline-block mr-2">
                                    <input type="radio" name="ReportLayout" id="SummaryReports  " class="custom-control-input">
                                    <label class="custom-control-label" for="SummaryReports  ">Summary Report</label>
                                  </div>
                                  <div class="custom-control custom-radio d-inline-block mr-2">
                                    <input type="radio" name="ReportLayout" id="MatrixReports  " class="custom-control-input">
                                    <label class="custom-control-label" for="MatrixReports  ">Matrix Report</label>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="form-group col-sm-12 vld-parent">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr class="head-row">
                                                <th style="width:30px;">Position</th>
                                                <th>Column Name</th>
                                                <th>Display</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr data-id="">
                                                
                                                <td class="">
                                                    <i class="fa fa-bars"></i>
                                                </td>
                                                <td class="">
                                                    <div class="grid-cell" data-field="Description" data-type="dropdown">
                                                        <div class="cell-disp hide-edit">Account Name</div>
                                                    </div>
                                                </td>
                                                <td class="">
                                                    <label class="lblChk"><input type="checkbox" class="chkHide"><span class="checkmark"></span></label>
                                                </td>
                                            
                                                
                                            </tr>
                                 
                                        </tbody>
                                    </table>
                                </div>
                               
                            </div>
                           </div>
                    </div>
                   
                  </div>

               
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary">Share</button>
            </div>
          </div>
        </div>
      </div>

      <script>
        $(document).on('click',".customize-report", function () {
            new Page({'pageName' : 'ReportEditor'})
        });
    
    
    </script>
</div>
