<div class="table-sec msp-data-grid reports">
    <div class="row">
        <div class="col calendar-left-panel pt-3 shadow mt-n2">

            <ul class="nav nav-pills mb-2 report-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="report-field-tab" data-toggle="pill" href="#report-field" role="tab" aria-controls="report-field" aria-selected="true">Field</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="report-group-tab" data-toggle="pill" href="#report-group" role="tab" aria-controls="report-group" aria-selected="false">Group</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="report-filter-tab" data-toggle="pill" href="#report-filter" role="tab" aria-controls="report-filter" aria-selected="false">Filter</a>
                </li>
              </ul>
              <div class="tab-content" id="cal-tabContent">
                <div class="tab-pane fade show active" id="report-field" role="tabpanel" aria-labelledby="report-field-tab">
                    <a href="#" class="btn btn-link pl-0 pr-0">Create Formula</a>
            <div class="row">
                <div class="col"><input type="text" class="form-control form-control-sm" placeholder="Search In Folder List"></div>

                <div class="col-12 pt-3">
                    <ul class="report-folder">
                        <li class="active">
                            <!-- <a href="#"><i class="fas fa-folder-open"></i>  Bucket Fields </a> -->
                            <ul class="pl-0">
                                <li>
                                    <a href="#"><i class="fas fa-grip-vertical"></i> Created Date</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fas fa-grip-vertical"></i> Created By</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fas fa-grip-vertical"></i> Account Type </a>
                                </li>
                                <li>
                                    <a href="#"><i class="fas fa-grip-vertical"></i> Account Detail </a>
                                </li>
                                <li>
                                    <a href="#"><i class="fas fa-grip-vertical"></i> Marketing Detail </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
                </div>
                <div class="tab-pane fade" id="report-group" role="tabpanel" aria-labelledby="report-group-tab">
                    <div class="GroupRows pb-3 border-bottom">
                        <div class="d-flex mt-3">
                            <h5 class="font-weight-bold text-primary">Groups </h5>
                            <div class="ml-auto">
                                <button class="btn btn-sm btn-outline-secondary pl-1 pr-1 pt-0 pb-0"><i class="fa fa-retweet"></i></button>
                                <button class="btn btn-sm btn-outline-secondary pl-1 pr-1 pt-0 pb-0 ml-1"><i class="fa fa-trash"></i></button>
                            </div>
                        </div>
                        
                        <label class="d-block mb-1 text-secondary">Group Rows</label>
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend"><div class="btn btn-outline-primary btn-sm"><div class="pt-1"><i class="fas fa-search"></i></div></div></div>
                            <input type="text" class="form-control form-control-sm" id="validationCustomUsername" placeholder="Add Group" aria-describedby="inputGroupPrepend" required="">
                        </div>
                        <div class="d-flex btn btn-sm btn-light mt-1">
                            <span class="text-over-ellipse">Lead Source</span>
                            <i class="fa fa-times ml-auto p-1"></i>
                        </div>
                    </div>
                    <div class="GroupCol pb-3 border-bottom">
                        <label class="d-block mb-1 text-secondary mt-3">Group Rows</label>

                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend"><div class="btn btn-outline-primary btn-sm"><div class="pt-1"><i class="fas fa-search"></i></div></div></div>
                            <input type="text" class="form-control form-control-sm" id="validationCustomUsername" placeholder="Add Group" aria-describedby="inputGroupPrepend" required="">
                        </div>
                        <div class="d-flex btn btn-sm btn-light mt-1">
                            <span class="text-over-ellipse">Lead Source</span>
                            <i class="fa fa-times ml-auto p-1"></i>
                        </div>
                    </div>

                    <div class="GroupCol pb-3">
                        <div class="d-flex mt-3">
                            <label class="d-block mb-1 text-primary ">Columns</label>
                            <div class="ml-auto">
                                <button class="btn btn-sm btn-outline-secondary pl-1 pr-1 pt-0 pb-0 dropdown-toggle" data-toggle="dropdown" aria-expanded="false"></button>
                                <div class="dropdown-menu animated--fade-in" x-placement="bottom-start"><a class="dropdown-item" href="#"> Delete All Columns</a></div>
                            </div>
                        </div>
                        
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend"><div class="btn btn-outline-primary btn-sm"><div class="pt-1"><i class="fas fa-search"></i></div></div></div>
                            <input type="text" class="form-control form-control-sm" id="validationCustomUsername" placeholder="Add Group" aria-describedby="inputGroupPrepend" required="">
                        </div>
                        <div class="d-flex btn btn-sm btn-light mt-1">
                            <span class="text-over-ellipse">Lead Source</span>
                            <i class="fa fa-times ml-auto p-1"></i>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade advc-filter-sec" id="report-filter" role="tabpanel" aria-labelledby="report-filter-tab">

                    <div class="filter-footer">
                        <div class="treeview-conditions col-sm-12 pt-1 mt-3">
                            <ul class="filter-ul condition-OR">
                                <li class="filter-li"><select class="ddlCondition form-control form-control-sm w-auto"><option value="AND">AND</option><option value="OR">OR</option></select></li><li class="filter-li filter-item form-group p-2 bg-white rounded shadow-sm"><div class="row"><div class="col"><label class="small mb-0">Field</label><select class="ddlField form-control form-control-sm"><option value="Name">Account Name</option><option value="OwnerID">Account Owner</option><option value="AccountType">Account Type</option><option value="Address">Address</option><option value="City">City</option><option value="Country">Country</option><option value="Industry">Industry</option><option value="InputCaptcha">InputCaptcha</option><option value="KeyContactID">Key Contact</option><option value="OperaNote">Opera Note</option><option value="ParentAccountID">Parent Account</option><option value="Phone">Phone</option><option value="State">State/Province</option><option value="TestDate">TestDate</option><option value="TestDateTime">TestDateTime</option><option value="TestTime">TestTime</option><option value="Value">Value</option><option value="Website">Website</option><option value="PostalCode">Zip Code</option></select></div><div class="col"><label class="small mb-0">Operator</label><span class="operator-container"><select class="ddlOperator form-control form-control-sm"><option value="CONTAINS">contains</option><option value="NOT_CONTAINS">not contains</option><option value="EQUAL">equals</option><option value="NOT_EQUAL">not equal to</option><option value="STARTS_WITH">start with</option><option value="END_WITH">end with</option></select></span></div><div class="col-12"><label class="small mb-0">Value</label><span class="value-container"><input type="text" data-field="Name" data-ui="text" class="msp-ctrl form-control form-control-sm msp-filter-ctrl msp-ctrl-text"></span></div></div><button class="btnRemoveFilterItem close text-danger"><i class="fas fa-times"></i></button></li><li class="filter-li"><i class="fas fa-plus-square btnAddFilterItem btn btn-sm btn-outline-primary float-left"></i><i class="fas fa-folder-plus btnAddCondition btn btn-sm btn-outline-primary float-left ml-1"></i> <i class="fas fa-trash-alt btnDeleteCondition btn btn-sm btn-outline-danger float-left ml-1"></i></li>
                            </ul>
                            </div>
                        <button class="btn btn-outline-danger btn-sm float-left btn-remove-filter-conditions mt-3">Remove All
                            Conditions</button>
                    </div>
                </div>
              </div>

            

        </div>
        <div class="col report-list">
            <div class="card-header pl-0 pr-0 pb-1 grid-header bg-white">
                <div class="d-flex">
                    <div class="flex-grow-1 position-relative page-title-info">
                        <h5 class="m-0 font-weight-bold d-inline-block page-name text-primary">Account Activity Report</h5>
                        <p class="mb-2 text-secondary"> <i class="fa fa-info-circle"></i> Previewing limited number of records. Run the report to view everything.</p>
                        <div class="clearfix"></div>
                    </div>
                    <div class="flex-grow-1 text-right page-top-button">
                        <button class="btn btn-sm btn-outline-primary ml-1"><i class="fa fa-chart-pie"></i> Add Chart</button>
                        <button class="btn btn-sm btn-outline-primary ml-1"><i class="fa fa-play"></i> Run Report</button>
                        <button class="btn btn-sm btn-outline-primary ml-1">Save & Run</button>
                        <button class="btn btn-sm btn-outline-primary ml-1">Cancel</button>
                        <button class="btn btn-primary btn-sm dropdown-toggle ml-1" data-toggle="dropdown" aria-expanded="false">Save</button>
                        <div class="dropdown-menu animated--fade-in" x-placement="bottom-start"><a class="dropdown-item" href="#"> Save</a><a class="dropdown-item" href="#"> Save As</a></div>
                    </div>
                </div>
            </div>

            <div class="card-body p-0 grid-body loading-container">
                <div class="p-2 border bg-light">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch1">
                        <label class="custom-control-label text-secondary" for="customSwitch1">Update preview automatically </label>
                      </div>
                </div>
                <div class="table-responsive">
                    
                    <table class="table table-bordered">
                        <thead>
                            <tr class="head-row">
                               
                                <th data-field="Name" class="">
                                    <div class="d-flex">
                                        <div class="field-text">Report Name</div>
                                        <div class="field-icon">
                                            <div class="sort-field hide-edit"></div>
                                        </div>
                                    </div>
                                </th>
                               
                            
                                <th data-field="Value" class="">
                                    <div class="d-flex">
                                        <div class="field-text">Description</div>
                                        <div class="field-icon">
                                            <div class="sort-field hide-edit"></div>
                                        </div>
                                    </div>
                                </th>
                                <th class="">
                                    <div class="d-flex">
                                        <div class="field-text">Created By</div>
                                        <div class="field-icon">
                                            <div class="sort-field hide-edit"></div>
                                        </div>
                                    </div>
                                </th>
                                <th data-field="KeyContactID" class="" >
                                    <div class="d-flex">
                                        <div class="field-text">Last Run </div>
                                        <div class="field-icon">
                                            <div class="sort-field hide-edit"></div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-id="">
                                <td class="">
                                    <div class="grid-cell pr-15" data-field="Name" data-type="text">
                                        <div class="cell-disp hide-edit">New accounts reports</div>
                                    </div>
                                </td>
                                <td class="">
                                    <div class="grid-cell" data-field="Description" data-type="dropdown">
                                        <div class="cell-disp hide-edit">This report show data about new joined account</div>
                                    </div>
                                </td>
                                <td class="">
                                    <div class="grid-cell" data-field="CreateBy" data-type="dropdown">
                                        <div class="cell-disp hide-edit">Me</div>
                                    </div>
                                </td>

                                <td class="">
                                    <div class="grid-cell" data-field="LastRun" data-type="dropdown">
                                        <div class="cell-disp hide-edit">12/03/2020</div>
                                    </div>
                                </td>
                            </tr>

                            <tr data-id="">
                               
                                <td class="">
                                    <div class="grid-cell pr-15" data-field="Name" data-type="text">
                                        <div class="cell-disp hide-edit">Account Mapping with contact</div>
                                    </div>
                                </td>
                                <td class="">
                                    <div class="grid-cell" data-field="Description" data-type="dropdown">
                                        <div class="cell-disp hide-edit">Provide contact and account number</div>
                                    </div>
                                </td>
                                <td class="">
                                    <div class="grid-cell" data-field="CreateBy" data-type="dropdown">
                                        <div class="cell-disp hide-edit">Me</div>
                                    </div>
                                </td>

                                <td class="">
                                    <div class="grid-cell" data-field="LastRun" data-type="dropdown">
                                        <div class="cell-disp hide-edit">12/03/2020</div>
                                    </div>
                                </td>
                            </tr>

                            <tr data-id="">
                                
                                <td class="">
                                    <div class="grid-cell pr-15" data-field="Name" data-type="text">
                                        <div class="cell-disp hide-edit">All accounts added by sales team</div>
                                    </div>
                                </td>
                                <td class="">
                                    <div class="grid-cell" data-field="Description" data-type="dropdown">
                                        <div class="cell-disp hide-edit">All acounts added by sales team</div>
                                    </div>
                                </td>
                                <td class="">
                                    <div class="grid-cell" data-field="CreateBy" data-type="dropdown">
                                        <div class="cell-disp hide-edit">Me</div>
                                    </div>
                                </td>

                                <td class="">
                                    <div class="grid-cell" data-field="LastRun" data-type="dropdown">
                                        <div class="cell-disp hide-edit">12/03/2020</div>
                                    </div>
                                </td>
                            </tr>
                 
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>